{% extends "baseAuthentication.html" %}
{% load i18n allauth account %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/forgetPassword.css" %}?v=1.1">
<style>
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
{% endblock head %}



{% block main %}

<div class="login-wrapper">
  <div class="left-box">
    <div class="maps-background">
      <img src="{% static "assets/mapbase.svg" %}" alt="escape-matrix" />
    </div>
      <div class="escape-matrix-wrapper">
          <h1>Escape the matrix</h1> 
          <h6>Join us now and be one of the top G'S</h6>
        </div>
  </div>
  <div class="right-box">
    <h1>Forget Password</h1>
    <p>
      please enter the email address you'd like your <br /> password reset information sent to 
    </p>

    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Reset My Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
  </div>
</div>

{% endblock main %}