.body {
	overflow: hidden;
	position: relative;
}

.bttm {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
}

.course-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 100%;
	justify-content: flex-start;
	width: 100%;
}

.course-container>.h1-text {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 100px;
	text-align: center;
}

.course-header>.course-owner {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.course-header>.course-pricing {
	align-items: center;
	background: linear-gradient(137deg, #000000ad 97%, rgba(0,0,0,0.73) -12.96%, #ffffff45 170%);
	border-radius: 5px;
	border: 1px solid #fafafa94;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: -webkit-fill-available;
}

.course-layout .course-title {
	align-items: center;
	backdrop-filter: blur(14.041245460510254px);
	background: rgba(177,171,185,0.18);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	padding: 5px;
	width: 95%;
}

.course-layout .course-title>.h1-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
}

.course-list.hidden {
	display: none;
}

.course-owner > .h1-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	text-transform: capitalize;
}

.course-owner>.p-text {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
}

.course-pricing>.price {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 12px;
	font-weight: 600;
	height: 55px;
	justify-content: center;
	text-align: center;
	width: 90px;
}

.course>.course-layout>.course-header {
	align-items: center;
	display: flex;
	gap: 10px;
	height: 80px;
	justify-content: center;
	width: 100%;
}

.course>.course-layout>.course-header>.owner-icon {
	border-radius: 10px;
	height: 45px;
	object-fit: cover;
	width: 45px;
}

.course_details {
	align-items: flex-start;
	background: #1b0950;
	border-radius: 20px 0 0 0;
	bottom: 0%;
	box-shadow: -11px 4px 56.3px 0px #6e00a6a8;
	display: flex;
	flex-basis: max-content;
	flex-flow: column;
	gap: 15px;
	height: 91vh;
	justify-content: flex-start;
	max-height: 910px;
	max-width: 520px;
	overflow-y: auto;
	padding: 1rem 15px 80px 1rem;
	position: sticky;
	right: 0%;
	transform: translateY(757px);
	transition: transform 0.4s ease-in-out;
	width: 27%;
}

.course_details .cd_title {
	color: white;
	font-family: Poppins;
	font-size: 27px;
	font-weight: 800;
	line-height: 29.7px;
	text-align: left;
}

.course_details .d_d {
	align-items: center;
	color: white;
	display: flex;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 700;
	gap: 30px;
	justify-content: flex-start;
	line-height: 27px;
	text-align: left;
}

.course_details .d_d .d_d_d {
}

.course_details .d_d .d_d_d .d_d_title {
}

.course_details .d_d .d_d_d .d_value {
	font-family: Poppins;
	font-size: 15px;
	font-weight: 500;
	line-height: 22.5px;
	text-align: left;
}

.course_details .d_description {
	color: #c69aff;
	font-family: poppins;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 25px;
	max-width: 430px;
	text-align: left;
}

.course_details .d_image {
	background-color: #747474;
	border-radius: 14px;
	min-height: 244px;
	object-fit: cover;
	overflow: hidden;
	width: 435px;
}

.course_details .d_title {
	align-items: center;
	color: white;
	display: flex;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 700;
	justify-content: flex-start;
	line-height: 26.4px;
	text-align: left;
	width: 100%;
}

.course_details .rest_cont {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.course_details .rest_cont .m_c {
	align-items: center;
	background: #9747ff1F;
	border-radius: 3px;
	border: 1px solid #9747ff;
	color: #9747ff;
	display: flex;
	font-family: poppins;
	font-size: 18px;
	font-weight: 500;
	height: 38px;
	justify-content: center;
	line-height: 21.78px;
	text-align: left;
	width: 76px;
}

.course_details .rest_cont img {
	background: rgba(217,217,217,1);
	border-radius: 50%;
	box-shadow: 3px 0px 8.2px 0px rgba(0,0,0,0.25);
	height: 38px;
	width: 38px;
}

.course_details .rest_cont img:nth-of-type(2) {
	transform: translateX(-10px);
}

.course_details .rest_cont img:nth-of-type(3) {
	transform: translateX(-20px);
}

.course_details .rest_cont img:nth-of-type(4) {
	transform: translateX(-30px);
}

.course_details .tag {
	align-items: center;
	background: #9747ff1F;
	border-radius: 5px;
	border: 1px solid #9747ff;
	color: #9747ff;
	display: flex;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	justify-content: center;
	line-height: 13.2px;
	min-height: 26px;
	text-align: left;
	width: 58px;
}

.course_details.closed {
	bottom: 0;
	position: absolute;
	right: 0;
	transform: translateY(757px);
}

.course_details.dragging {
	cursor: grabbing;
}

.course_details::-webkit-scrollbar {
	width: 3px;
}

.course_details::-webkit-scrollbar-thumb {
	background: rgba(186,162,214,0.6);
	border-radius: 10px;
}

.course_details::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.1);
}

.course_details:not(.closed) {
	transform: translateY(-75px);
}

.course_img > img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.discount_price {
	color: #ffffffad;
	font-size: 14px;
	font-weight: 200;
	line-height: 28px;
	text-decoration: line-through;
	text-transform: capitalize;
}

.join_btn {
	align-items: center;
	background: linear-gradient(103.9deg,#9747ff 12.89%,#1890ff 133.86%);
	border-radius: 6px;
	color: white;
	display: flex;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 500;
	height: 64px;
	justify-content: center;
	line-height: 20px;
	text-align: center;
	width: 432px;
}

.main {
	height: 100%;
}

.page-number {
	background-color: #260fb8;
	border-radius: 5px;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
}

.page-number.active {
	background-color: #9747ff;
}

.page-numbers {
	display: flex;
	gap: 5px;
}

.pagination-btn {
	background-color: #260fb8;
	border-radius: 5px;
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
}

.pagination-btn:disabled {
	background-color: #CCC;
	cursor: not-allowed;
}

.pagination-controls {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: center;
}

.popular-courses {
	align-items: flex-start;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	transition: 1s ease-in-out;
	width: 100%;
}

.popular-courses>.course-list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	width: 73%;
}

.title_cont {
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	width: 100%;
}

.uppr {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.volls {
	object-fit: cover;
}

.wrap-courses-all {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 100%;
	width: 100%;
}

.wrap-courses-all > span {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 28px;
	padding: 20px 0px;
	text-transform: capitalize;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes gradientShift {
	0% {
		background: linear-gradient(45deg,#260fb8,#9747ff);
	}

	100% {
		background: linear-gradient(45deg,#260fb8,#9747ff);
	}

	50% {
		background: linear-gradient(45deg,#9747ff,#260fb8);
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 1280px) {
	.course_details {
		padding: 1rem 1.5rem 90px 1.5rem;
	}

	.join_btn {
		width: 106%;
	}

	.popular-courses > .course-list {
		flex-direction: row;
		width: 80%;
	}
}

@media (max-width: 480px) {
	.course {
		height: 100% !important;
		width: 95% !important;
	}

	.course_details {
		padding: 3.8rem 2rem 90px 2rem;
	}

	.h1-text span {
		font-size: 32px !important;
	}

	.wrap-courses-all > span {
		font-size: 28px;
	}
}

@media (max-width: 600px) {
	.filter-bar {
		flex-direction: column;
		height: auto;
		text-align: center;
	}

	.filter-btn {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.bttm {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		width: 85%;
	}

	.course, .course_details {
		box-shadow: none !important;
	}

	.course_details {
		align-items: center;
		background: #1b0950;
		border-radius: 20px 0 0 0;
		bottom: 0;
		box-shadow: -11px 4px 56.3px 0px #6e00a6a8;
		display: flex;
		flex-basis: auto;
		flex-direction: column;
		flex-flow: column;
		gap: 15px;
		height: 88vh;
		max-height: 910px;
		overflow-y: auto;
		padding: 2.8rem 2rem 90px 2rem;
		position: absolute;
		right: 0%;
		transform: translateY(757px);
		transition: transform 0.4s ease-in-out;
		width: 100%;
	}

	.popular-courses {
		display: flex;
		overflow-y: scroll;
		padding: 15px 0px;
		width: 100%;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
	.course_details .cd_title {
		font-size: 23px;
	}

	.course_details .d_description {
		font-size: 14px;
	}

	.join_btn {
		height: 60px;
		width: 415px;
	}
}
@media (max-width: 1024px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 320px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
}

