.answer-unselected {
	background: rgba(0,0,0,0.1);
	color: #ccc;
}

.answers-design {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	margin: 0 auto;
	max-width: 900px;
}

.asnwers-with-img {
	background: rgba(73,73,73,0.12);
	border-radius: 13px;
	border: 0.5px solid #FFF;
	color: #FFF;
	display: flex;
	flex-direction: column;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	gap: 15px;
	height: 210px;
	letter-spacing: 0.72px;
	line-height: 27px;
	padding: 5px;
	position: relative;
	text-transform: capitalize;
	width: 284px;
}

.container-quiz {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 30px;
	width: 100%;
}

.feedback-message {
	background-color: #dc3545;
	border-radius: 4px;
	color: #FFF;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

.flex-icon-right {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
}

.iconlike {
	align-self: flex-end;
}

.keep-next {
	border-radius: 6px;
	border: 1px solid #FFF;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	padding: 5px 20px;
	text-decoration: none;
	transition: 0.5s;
}

.next-lesson {
	display: flex;
	justify-content: space-between;
	width: 800px;
}

.question-text {
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 27px;
	text-transform: capitalize;
}

.retry-button {
	background-color: #007bff;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	padding: 10px 20px;
}

.right-icon_ {
	flex-shrink: 0;
	height: 31px;
	width: 31px;
}

.text-default-quiz {
	color: #FFF;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2.43px;
	line-height: 27px;
	text-transform: uppercase;
}