@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.align-flex-down-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.btn-home {
	align-items: center;
	background: linear-gradient(104deg,#9747ff00 12.89%,#ffffff54 133.86%);
	background: transparent;
	border-radius: 6px;
	border: 1px solid #fafafaad;
	color: var(--WHITE-C);
	display: flex;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	justify-content: center;
	line-height: 100%;
	text-align: center;
	text-transform: capitalize;
	width: max-content;
}

.btn-home:hover {
	background-color: #a45cf6;
	border: 2px solid #fafafaad;
	transition: 0.6s ease-in-out;
}

.custom-checkbox {
	display: inline-block;
	position: relative;
}

.custom-checkbox .checkmark {
	background: none;
	border-radius: 3px;
	border: 1px solid white;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}

.custom-checkbox input[type="checkbox"] {
	visibility: hidden;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
	background-color: #a45cf6;
}

.description-login-r {
	color: #f5f5f5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 5.4px;
	line-height: normal;
	text-transform: capitalize;
}

.error-message {
	background: #ff00004a;
	border-radius: 5px;
	border: 1px solid;
	color: red;
	display: none;
	font-size: 16Px;
	padding: 0 20px;
}

.escape-matrix-wrapper {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 4px 0px 101px;
}

.escape-matrix-wrapper h1 {
	color: #f5f5f5;
	font-size: 5vh;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.escape-matrix-wrapper h6 {
	color: #f5f5f5;
	font-size: 2vh;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 5.4px;
	line-height: normal;
	text-transform: capitalize;
}

.flex-pops {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	padding: 5px;
	transition: 1s ease-in-out;
}

.input-wrapper>input {
	background-color: transparent;
	border-radius: 12px;
	border: 0.889px solid #bdc4cd;
	color: white;
	display: flex;
	font-size: 17px;
	padding: 8px 17px;
	width: -webkit-fill-available;
}

.input-wrapper>input::placeholder {
	color: #96a0ad;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.input-wrapper>label {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-bottom: 20px;
}

.left-box {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-btn {
	border-radius: 0.5em;
	border: 0;
	box-shadow: 0 0.625em 1em 0 #a45cf68d;
	display: flex;
	flex-direction: column;
	height: 50px;
	outline: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.login-btn div {
	transform: translateY(0px);
	width: 100%;
}

.login-btn div span {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: space-between;
	padding: 0.5px 8.125px;
}

.login-btn div:nth-child(1) {
	background-color: #a45cf6;
}

.login-btn div:nth-child(2) {
	background-color: #21dc62;
}

.login-btn span {
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
}

.login-btn, .login-btn div {
	cursor: pointer;
	transition: 0.6s cubic-bezier(.16,1,.3,1);
}

.login-btn:active {
	transform: scale(0.95);
}

.login-btn:hover {
	box-shadow: 0 0.625em 1em 0 rgba(33,220,98,0.35);
}

.login-btn:hover div {
	transform: translateY(-50px);
}

.login-options {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}

.login-options>.forget-password {
	color: #a45cf6;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.14px;
	line-height: normal;
}

.login-options>.remember-me {
	display: flex;
	gap: 24px;
	height: 20px;
}

.login-options>.remember-me>p {
	color: white;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.login-wrapper {
	align-items: center;
	background: linear-gradient(90deg,#000 0%,#000 100%);
	display: flex;
	gap: 69px;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.maps-background img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.not-account-yet {
	color: #FFF;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.96px;
	line-height: normal;
	text-align: center;
	text-transform: capitalize;
}

.pop-up-close-button {
	align-items: center;
	background-color: transparent;
	background: #9747ff;
	border-radius: 8px;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 12px;
	font-weight: 700;
	gap: 8px;
	justify-content: center;
	padding: 6px 24px;
	text-decoration: none;
	text-transform: uppercase;
}

.popup-message {
	align-items: center;
	background: #1a0037;
	border-radius: 8px;
	border: 1px solid #a45cf6;
	bottom: 20px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	color: #fff;
	display: none;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	justify-content: space-around;
	padding: 8px;
	position: static;
	right: 2px;
	transition: 1s ease-in-out;
	width: initial;
}

.right-box {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 50%;
}

.right-box>.divisier {
	align-items: center;
	background: #9fa8b2;
	display: flex;
	height: 1px;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 35px;
	width: 340px;
}

.right-box>.divisier>span {
	background-color: #000;
	color: white;
	font-size: 20px;
	padding: 5px 20px;
}

.right-box>.google-btn {
	align-items: center;
	border-radius: 12px;
	border: 1px solid #bdc4cd;
	display: flex;
	gap: 8px;
	justify-content: center;
	padding: 10px 50px;
	width: 350px;
}

.right-box>.google-btn:hover {
	background-color: #a45cf685;
	border: 1px solid #a45cf6af;
	cursor: pointer;
}

.right-box>.google-btn>h5 {
	color: #f5f5f5;
	font-size: 14px;
	font-weight: 500;
}

.right-box>form>.input-wrapper {
	padding-bottom: 5px;
}

.right-box>form>.input-wrapper>label {
	padding-bottom: 5px;
}

.right-box>form>.register-redirect>p {
	color: var(--color-gray-10,#FFF);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.96px;
	line-height: normal;
	text-align: center;
	text-transform: capitalize;
}

.right-box>form>.register-redirect>p>.sign-up-link {
	color: var(--color-gray-10,#a45cf6);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.96px;
	line-height: normal;
	text-transform: capitalize;
}

.right-box>h1 {
	color: white;
	font-size: 45px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.78px;
	line-height: normal;
	text-align: center;
}

.right-box>p {
	color: #96a0ad;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.28px;
	line-height: normal;
	padding-bottom: 20px;
	text-align: center;
	text-transform: capitalize;
	width: 53%;
}

.sign-up-link {
	color: #a45cf6;
}

.tile-login-r {
	color: #f5f5f5;
	font-family: Poppins;
	font-size: 50px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

@media (max-width: 450px) {
	.right-box>h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 1024px) {
	.escape-matrix-wrapper h1 {
		color: #f5f5f5;
		font-size: 40px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}

	.escape-matrix-wrapper h6 {
		color: #f5f5f5;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 5.4px;
		line-height: normal;
		text-transform: capitalize;
	}

	.left-box {
		display: none;
	}

	.right-box>p {
		width: 100%;
	}
}

@media screen and (max-width: 1440px) {
	.left-box {
		width: 58%;
	}
}

@media screen and (max-width: 768px) {
	.left-box {
		display: none;
	}

	.right-box {
		width: auto;
	}

	.right-box>p {
		width: 100%;
	}
}