@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a {
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

input[type="checkbox"] {
	border-color: 1px solid white;
	border-radius: 3px;
}

.escape-matrix-wrapper h1 {
	color: #f5f5f5;
	font-size: 50px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin: 0;
}

.escape-matrix-wrapper h6 {
	color: #f5f5f5;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 5.4px;
	line-height: normal;
	margin: 0;
	text-transform: capitalize;
}

.input-wrapper>input {
	align-items: center;
	background-color: transparent;
	border-radius: 12px;
	border: 0.889px solid #bdc4cd;
	color: white;
	display: flex;
	gap: 7.11px;
	height: 40px;
	margin-top: 10px;
	padding: 8px 17px;
	width: -webkit-fill-available;
}

.input-wrapper>input::placeholder {
	color: #96a0ad;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.input-wrapper>label {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 20px;
}

.left-box {
	background-blend-mode: overlay;
	background-size: 100%;
	background: url("/static/assets/mapbase.svg") no-repeat;
	padding-bottom: 0;
	padding: 40rem 0;
	width: 58%;
}

.login-btn {
	align-items: center;
	align-self: stretch;
	background: #a45cf6;
	border-radius: 16px;
	border: #a45cf6;
	color: #f5f5f5;
	color: white;
	display: flex;
	font-size: 18px;
	font-weight: 700;
	gap: 7.11px;
	height: 56px;
	justify-content: center;
	letter-spacing: -0.36px;
	margin-top: 20px;
	padding: 7.11px 71.097px;
	text-transform: capitalize;
	width: 100%;
}

.login-options {
	align-items: center;
	align-self: stretch;
	display: flex;
	justify-content: space-between;
}

.login-options>.forget-password {
	color: #a45cf6;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.14px;
	line-height: normal;
}

.login-options>.remember-me {
	align-items: center;
	display: flex;
	gap: 14px;
	height: 24px;
}

.login-options>.remember-me>p {
	color: white;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.login-redirect {
	margin: 1rem 0;
	text-align: center;
}

.login-wrapper {
	align-items: center;
	background: linear-gradient(90deg,#000 0%,#000 100%);
	display: flex;
	height: 100vh;
	justify-content: space-around;
	width: 100vw;
}

.right-box {
	width: 30%;
}

.right-box>.divisier {
	align-items: center;
	background: #9fa8b2;
	display: flex;
	height: 1px;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 35px;
	margin: auto auto;
	width: 340px;
}

.right-box>.divisier>span {
	background-color: #000;
	color: white;
	padding: 18px;
}

.right-box>.google-btn {
	align-items: center;
	border-radius: 12px;
	border: 1px solid #bdc4cd;
	display: flex;
	gap: 8px;
	height: 40px;
	justify-content: center;
	padding: 8px 20px;
}

.right-box>.google-btn>h5 {
	color: #f5f5f5;
	font-size: 14px;
	font-weight: 500;
}

.right-box>form>.input-wrapper {
	padding-bottom: 30px;
}

.right-box>form>.input-wrapper>label {
	padding-bottom: 10px;
}

.right-box>form>.login-redirect>.sign-up-link {
	color: #a45cf6;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.96px;
	line-height: normal;
	text-align: center;
	text-transform: capitalize;
}

.right-box>form>.login-redirect>p {
	color: white;
	font-size: 12px;
	font-weight: 500;
	height: 20px;
	letter-spacing: 0.96px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.right-box>h1 {
	color: white;
	font-size: 34px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.78px;
	line-height: normal;
	text-align: center;
}

.right-box>p {
	color: #96a0ad;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.28px;
	line-height: normal;
	margin-bottom: 20px;
	text-align: center;
	text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
	.escape-matrix-wrapper h1 {
		color: #f5f5f5;
		font-size: 40px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}

	.escape-matrix-wrapper h6 {
		color: #f5f5f5;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 5.4px;
		line-height: normal;
		text-transform: capitalize;
	}

	.left-box {
		background-blend-mode: overlay;
		background-size: 100%;
		background: url("/static/assets/mapbase.svg") no-repeat;
		padding-bottom: 0;
		padding: 26rem 0;
		width: 58%;
	}
}

@media screen and (max-width: 1440px) {
	.left-box {
		background-blend-mode: overlay;
		background-size: cover;
		background: url("/static/assets/mapbase.svg") no-repeat;
		padding-bottom: 0;
		padding: 29rem 0;
		width: 58%;
	}
}

@media screen and (max-width: 768px) {
	.left-box {
		display: none;
	}

	.right-box {
		width: auto;
	}
}