@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.main {
    position: relative;
    height: 100vh;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/bg-7.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(117px);
    z-index: -1; 
}

#continue-btn {
	background-color: #4caf50;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
}
.selected {
	border: 1px solid #ffffff75; /* Change this to the desired highlight color */
	background-color: #ffffff38;
	border-radius: 16px;
}
  
#end-message {
	color: red;
	font-size: 18px;
}
.toploadingbar >a {
	align-items: center;
	display: flex;
	
}
#modal-no {
	background-color: #ed0020b0;
	color: white;
	opacity: 0.9;
}
.input-answer{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	width: 70%;	
	height: 60px;
	color: white;
	background-color: #ffffff38;
}
#modal-no, #modal-yes {
	border-radius: 25px;
	border: none;
	cursor: pointer;
	font-size: 22px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 15px;
}

#modal-yes {
	background-color: #00d024bf;
	color: white;
	opacity: 0.9;
}

#modal-yes:hover {
	background-color: #3b883e;
	color: white;
	opacity: 0.9;
	transition: 0.5s ease-in-out;
}

#other-input {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100%;
}

#other-input-container {
	margin-top: 20px;
}

#other-input-container label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

#otherInput {
	background-color: white;
	border-radius: 16px;
	border: 2px solid #3f3f3f;
	box-sizing: border-box;
	color: #3f3f3f;
	display: none;
	font-size: 16px;
	height: 46px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	text-align: center;
	width: 780px;
}

#otherInput:focus {
	border: 3px solid #1890ff;
}

#question1 {
}

#question2 {
	align-items: center;
	display: flex;
	display: none;
	gap: 40px;
	justify-content: center;
}

#question3 {
	align-items: center;
	display: none;
	flex-direction: column;
	justify-content: center;
}

#question4 {
	display: none;
}

.all-container {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100vh;
	justify-content: flex-start;
	overflow: auto;
	width: 100%;
	gap: 30px;
}

.all-selection {
	display: grid;
	gap: 20px 30px;
	grid-template-columns: repeat(5,1fr);
}

.all-selection-colums {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.container1 {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
	padding: 10px 0;
}

.continue {
	align-items: center;
	align-self: center;
	background: #e5e5e5;
	border-radius: 16px;
	border: none;
	box-shadow: none;
	color: #973fb0;
	cursor: not-allowed;
	display: flex;
	font-size: 13px;
	font-weight: 700;
	height: 46px;
	justify-content: center;
	letter-spacing: 0.8px;
	line-height: 18px;
	margin-top: 24px;
	margin: auto;
	max-width: 90vw;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
}

.continue.active {
	background: linear-gradient(100deg,#260fb8 -36.4%,#9747ff 131.27%);
	border-radius: 10px;
	border: 1px solid #ffffffaa;
	color: white;
	cursor: pointer;
	font-weight: 700;
	transition: 0.6s ease-in-out;
}

.decoration {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	height: 350px;
	width: 350px;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.go-next-container {
}
#finishQuiz{
	background: linear-gradient(104deg,#9747ff 12.89%,#1890ff 133.86%);
	border-radius: 16px;
	border: none;
	box-shadow: none;
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: 700;
	height: 46px;
	letter-spacing: 0.8px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;

}
.loading-fill {
	background: linear-gradient(90deg,#a385d3 0%,#682bb7 100%);
	border-radius: 10.293px;
	box-shadow: 0px 2.573px 0px 0px rgba(160,155,192,0.21);
	height: 100%;
	transition: width 0.5s ease-in-out;
	width: 0%;
}

.loading-top {
	background: #ffffff;
	border-radius: 8px;
	flex: 1;
	height: 14px;
	max-width: 90%;
	overflow: hidden;
	position: relative;
}

.modal {
	
	background: linear-gradient(91deg, rgba(24,147,237,0.08) 0.73%, rgba(73,73,73,0.00) 290.27%);
	border-radius: 10px;
	border: 1px solid #ccc;
	box-shadow: 0px 20.551px 102.756px 0px rgba(0,0,0,0.25);
	color: white;
	display: none;
	left: 50%;
	padding: 20px;
	position: fixed;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 30%;
	z-index: 1000;
}

.modal-content {
	text-align: center;
}

.modal-content > span {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.modal-no:hover {
	background-color: #9e2a22;
	color: white;
	opacity: 0.9;
}

.no-onboarding {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.no-onboarding > button {
	background: linear-gradient(104deg,#9747ff 12.89%,#1890ff 133.86%);
	border-radius: 16px;
	border: none;
	box-shadow: none;
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: 700;
	height: 46px;
	letter-spacing: 0.8px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
}

.no-onboarding > p {
	color: #ffffff;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
}

.optionnal {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 16px;
	justify-content: center;
}

.optionnal .Selec-options:first-child {
	border-radius: 13px 13px 0 0;
}

.optionnal .Selec-options:last-child {
	border-radius: 0 0 16px 16px;
}

.paragp {
	color: #fff;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	text-align: center;
}

.percentage {
	color: white;
}

.question {
	display: none;
}

.question-2, .question-3, .question-4 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.25,0.46,0.45,0.94) both;
	animation: slide-in-right 0.5s cubic-bezier(0.25,0.46,0.45,0.94) both;
}

.question-4 {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.question-step {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
}

.question-text {
	align-items: center;
	color: #ffffff;
	display: flex;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	justify-content: center;
	line-height: 40px;
	padding: 15px 0px;
	text-align: center;
}

.question:first-child {
	display: flex;
}

.selec {
	align-items: center;
	background: linear-gradient(1deg, rgb(29 100 219 / 7%) 0.02%, rgb(255 255 255 / 0%) 49.98%);
	border-radius: 15px;
	border: 0.5px solid #f5f5f584;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: 180px;
	justify-content: space-between;
	overflow: hidden;
	padding: 10px 15px;
	width: 100%;
}

.selec > img {
	height: 70%;
	object-fit: contain;
	padding: 10px;
	width: 80%;
}

.selec-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	width: 24vh;
}

.selec-name {
	color: #ffffff;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.9;
	line-height: 20px;
	margin-top: 8px;
}

.Selec-options {
	align-items: center;
	border: 1px solid #ffffff6e;
	box-shadow: 0px 2px 0px 0px #973fb0;
	color: white;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	gap: 10px;
	height: 44px;
	justify-content: space-between;
	padding: 5px 15px;
	transition: 0.7s ease-in-out;
	width: 576px;
}

.Selec-options > span {
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
}

.selec.selected {
	background: linear-gradient(104deg,#4350b04a 12.89%,#7e1dff6e 133.86%);
	box-shadow: 0px 2px 0px 0px #973fb0;
	transition: 0.7s ease-in-out;
}

.selec:hover {
	background: linear-gradient(104deg,#4350b04a 12.89%,#7e1dff6e 133.86%);
	box-shadow: 0px 2px 0px 0px #973fb0;
	transition: 0.7s ease-in-out;
}

.slc2 {
	border-radius: 0px 0px 0px 0px;
}

.toploadingbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    padding: 35px 125px;
    width: 100%;
}

.wrap-default {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 35px;
	justify-content: center;
}

.x-icon {
	cursor: pointer;
}

.x-icon:active {
	transform: rotate(180deg);
}

.x-icon:hover {
	color: red;
}

.x-ixon {
	cursor: pointer;
	height: 16px;
	padding: 20px;
	transition: 0.6s ease-in-out;
	width: 16px;
}

.x-ixon:hover {
	background: linear-gradient(90deg,#a385d3 0%,#682bb7 100%);
	border-radius: 50%;
	transition: 0.6s ease-in-out;
}

@-webkit-keyframes rotate-scale-up {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}

	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}

	50% {
		-webkit-transform: scale(2) rotateZ(180deg);
		transform: scale(2) rotateZ(180deg);
	}
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		opacity: 0;
		transform: translateX(1000px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes rotate-scale-up {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}

	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}

	50% {
		-webkit-transform: scale(2) rotateZ(180deg);
		transform: scale(2) rotateZ(180deg);
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		opacity: 0;
		transform: translateX(1000px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width: 1080px) {
	.all-selection {
		grid-template-columns: repeat(4,1fr);
	}
}

@media (max-width: 400px) {
	.all-selection {
		gap: 16px;
		grid-template-columns: repeat(1,1fr);
	}

	.selec-container {
		width: 100%;
	}
}

@media (max-width: 632px) {
	.all-selection {
		gap: 15px 10px;
		grid-template-columns: repeat(2,1fr);
	}

	.all-selection-colums {
		margin: auto;
		width: 90%;
	}

	.modal {
		left: 50%;
		position: fixed;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}

	.optionnal {
		width: 100%;
	}

	.Selec-options {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.toploadingbar{
		padding: 25px 50px;
	}
	.all-selection {
		grid-template-columns: repeat(2,1fr) ;
	}
}
@media (max-width: 810px) {
	.all-selection {
		grid-template-columns: repeat(2,1fr);
	}
	
}
@media (max-width: 425px) {
	.all-selection {
		grid-template-columns: repeat(1,1fr);
	}
}
@media (max-width: 375px) {
	.toploadingbar{
		padding: 25px 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
 @-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  @keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  