@import url("https://fonts.googleapis.com/css?family=Staatliches");
.load-text {
	align-items: baseline;
	animation: colorChange 0.5s linear 3s forwards;
	display: flex;
	font-family: "Staatliches", "cursive";
	font-size: 7vmax;
	left: 52%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%,-50%);
	width: fit-content;
}

.loaded-text, .m-loaded-text {
	animation: scaleText 0.5s linear 0.5s forwards;
	transform: scale(1.5);
}

.loader {
	animation: backgroundChange 0.5s linear 3s forwards;
	background: white;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.loading-text img {
	height: 150px;
	width: 150px;
}

.loading-text, .m-loading-text {
	animation: expand 1s linear 1.5s forwards;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
}

.m-load-text {
	display: none;
}

.m-loading-text img {
	height: 150px;
	width: 150px;
}

@keyframes backgroundChange {
	from {
		background-color: white;
	}

	to {
		background-color: #a45cf6;
	}
}

@keyframes colorChange {
	from {
		color: #a45cf6;
	}

	to {
		color: white;
	}
}

@keyframes expand {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}

	90% {
		width: 40vmax;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes scaleText {
	from {
		transform: scale(1.5);
	}

	to {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) {
	.load-text {
		display: none;
		font-size: 7vmax;
	}

	.loading-text img {
		height: 100px;
		width: 100px;
	}

	.m-load-text {
		align-items: baseline;
		animation: colorChange 0.5s linear 3s forwards;
		display: flex;
		flex-direction: column;
		font-family: "Staatliches", "cursive";
		font-size: 5vmax;
		left: 52%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%,-50%);
		width: fit-content;
	}

	.m-loading-text {
		display: flex;
		flex-direction: column;
	}
}