.setting {
	align-items: flex-start;
	backdrop-filter: blur(6px);
	background: rgba(73,73,73,0.12);
	border-radius: 12px;
	border: 0.5px solid #fff;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	cursor: pointer;
	flex-direction: column;
	gap: 28px;
	justify-content: center;
	max-width: 29%;
	min-width: 29%;
	padding: 16px;
	transition: opacity 0.5s ease-out;
	width: fit-content;
}

.setting > .setting-body {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.setting > svg {
	color: white;
	height: 32px;
	width: 32px;
}

.setting-body > .h1-text {
	color: #f5f5f5;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	padding-top: 15px;
}

.setting-body > .p-text {
	color: #d9d9d9;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 200;
	line-height: 23px;
}

.setting.disabled {
	background: rgb(59 59 59 / 33%);
	border: 0.5px solid #4b4b4b;
	cursor: not-allowed;
}

.setting.disabled .h1-text {
	color: gray;
}

.setting.disabled .p-text {
	color: gray;
}

.setting.disabled > .setting-body {
	color: gray;
}

.setting.disabled > svg {
	color: gray;
}

.setting:hover {
	backdrop-filter: blur(260.2599182128906px);
	background: linear-gradient(131deg, rgba(255,255,255,0.00) -85.83%, rgba(24,144,255,0.28) 113.07%);
	box-shadow: 0px 20.821px 104.104px 0px rgba(0,0,0,0.25);
}

.settings {
	display: flex;
	flex-flow: row wrap;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: flex-start;
	max-height: 100%;
	padding: 0px 200px;
	width: 100%;
}

.settings-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}

.settings-container > .h1-text {
	align-items: center;
	color: #f5f5f5;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	height: 41px;
	justify-content: center;
	line-height: 36px;
	width: 100%;
}

@media screen and (max-width: 1024px) {
	main {
		height: 100%;
		max-height: 100%;
		min-height: 100vh;
	}

	.setting {
		max-width: unset;
		min-width: unset;
		width: 48%;
	}

	.settings-container {
		padding: 20px 0px;
	}
}

@media screen and (max-width: 1440px) {
	.setting {
		width: 40%;
	}

	.settings {
		height: fit-content;
		max-width: 100%;
		padding: 0px 100px;
	}

	.settings-container {
		height: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	main {
		height: 100%;
		max-height: 100%;
		min-height: 100vh;
	}

	.setting {
		margin-bottom: 10px;
		width: 80%;
	}

	.settings {
		justify-content: center;
		padding: 0;
		width: 100%;
	}

	.settings-container {
		height: 90%;
		margin: 0 auto;
	}
}