{% extends 'base-theme.html' %}
{% load static %}
{% load sass_tags %}


{% block content %}

<div class="col-sm-12">
    <div class="card">
        
        <div class="card-body">
            {% include 'admin/includes/alert-messages.html' %}

            <form method="post" id="admin-add-form">
                {% csrf_token %}

                <div class="form-floating mb-3">
                    <input class="form-control" id="objectif" name="objectif" type="number" placeholder="ObjectIf" 
                    {% if obj.objectif %}value="{{obj.objectif}}"{% else %}value="0"{% endif %} required>
                    <label for="objectif">ObjectIf</label>
                </div>

                {% include 'admin/includes/common-form.html' %}
            </form>
        </div>
    </div>
</div>
  
{% endblock content %}
