{% extends 'base-theme.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/datatables.css' %}">

{% endblock css %}




{% block content %}

<div class="col-sm-12">
    <div class="card">
        
        <div class="card-body">
            {% include 'admin/includes/alert-messages.html' %}

            <div class="table-responsive custom-scrollbar">
            <table class="display border" id="basic-1">
                <thead>
                <tr>
                    <th>Quest</th>
                    <th>Title</th>
                    <th>Points</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in stepObjs %}
                        <tr>
                            <td>{{i.quest}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.points}}</td>
                            <td> 
                                <ul class="action"> 
                                    <li class="edit"> <a href="{% url 'admin-steps-add' id=i.id %}"><i class="icon-pencil-alt"></i></a></li>
                                    <li class="delete"  onclick='confirm_delete("{% url 'admin-steps-delete' id=i.id %}")'><a href="#"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}




{% block scriptcontent %} 


    <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script>
        $("#basic-1").DataTable({
            columnDefs: [
                { targets: [3], orderable: false }
            ]
        });

    </script>

{% endblock %}    
