{% extends 'base-theme.html' %}
{% load static %}
{% load sass_tags %}



{% block content %}

<div class="col-sm-12">
    <div class="card">
        
        <div class="card-body">
            {% include 'admin/includes/alert-messages.html' %}

            <form method="post" id="admin-add-form">
                {% csrf_token %}

                <select id="quests" style="width: 200px;" name="quest" required>
                    <option></option>
                    {% for i in quests %}
                        <option value="{{i.id}}" {% if obj.quest.id == i.id %}selected{% endif %}>{{i}}</option>
                    {% endfor %}
                </select>

                <div class="form-floating mb-3">
                    <input class="form-control" id="title" name="title" type="text" placeholder="Title" value="{{obj.title}}" required>
                    <label for="title">Title</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" id="desc" name="desc" rows="5" style="height: auto;" required>{% if obj.description %}{{obj.description}}{% endif %}</textarea>
                    <label for="desc">Description</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="index" name="index" type="number" placeholder="Index" 
                    {% if obj.index %}value="{{obj.index}}"{% else %}value="0"{% endif %}>
                    <label for="index">Index</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="points" name="points" type="number" placeholder="Points" 
                    {% if obj.points %}value="{{obj.points}}"{% else %}value="0"{% endif %}>
                    <label for="points">Points</label>
                </div>

                {% include 'admin/includes/common-form.html' %}
            </form>
        </div>
    </div>
</div>
  
{% endblock content %}




{% block scriptcontent %} 


    <script>
        $('#quests').select2({
            placeholder: 'Select a Quest'
        });
    </script>

{% endblock %}    
