{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>TTG</title>{% endblock title %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <link rel="preload" href="{% static 'styles/default.css' %}?v=2.1.0" as="style">
    <link rel="stylesheet" href="{% static 'styles/default.css' %}?v=2.1.0" media="print" onload="this.media='all'">

    <link rel="icon" type="image/webp" href="{% static 'favicon.webp' %}">
    <link rel="preload" href="{% static 'fa/css/all.min.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="{% static 'fa/css/all.min.css' %}" rel="stylesheet"></noscript>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1FFB7DE4J5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    // Tracking with both IDs, basic configuration
    gtag('config', 'G-1FFB7DE4J5');  // First Google Analytics ID
    gtag('config', 'G-0ZSDJ2ZYPB');  // Second Google Analytics ID
  </script>
  
  {% block head %}{% endblock head %}


</head>

<body class="body">

    <header class="header">
        {% block header %}{% endblock header %}
    </header>

    <main class="main" id="main">
        {% block main %}{% endblock main %}
    </main>

    <footer class="footer">
        {% block footer %}{% endblock footer %}
    </footer>

    <script src="{% static "js\partials\base.js" %}?v=2.1.0"></script>

    {% block scripts %}{% endblock scripts %}


</body>

