{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/cart.css" %}">
    {% block title %}
        <title>Cart - Tunisian Top Gs</title>
    {% endblock title %}
{% endblock head %}

{% block main %}
    {% include "components/navbar.html" %}

    <div class='wrapper-container-all'>
        <div class="h1-text">Shopping Cart</div>
        <div class="cart-wrapper">
            <div class="shopping-cart">
                <div class="items-container">
                    {% if cart.cart_items.count == 0 %}
                    <div class="empty-cart" id="emptyCart">
                        <img src="{% static "assets/cart-emply.svg" %}" alt="cart empty" />
                        <div class="empty-cart-container">
                            <span class="f">Your cart is empty</span>
                            <a href="/shop" class="btn">Continue Shopping</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="items-list" id="items-list">
                        {% for item in cart.cart_items.all %}
                        <div class="item-container p{{ item.id }}" data-product-id="{{ item.product.id }}" data-color="{{ item.color }}" data-size="{{ item.size }}">
                            <button class="delete-icon" data-item-id="{{ item.id }}">
                                Delete
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash">
                                    <path d="M3 6h18"/>
                                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                                </svg>
                            </button>
                            <div class="input-group quantity-selector quantity-selector-sm">
                                <button type="button" class="btn btn-icon btn-secondary btn-sm" aria-describedby="inputQuantitySelectorSm" data-bs-step="down">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus">
                                        <circle cx="12" cy="12" r="10"/>
                                        <path d="M8 12h8"/>
                                    </svg>
                                </button>
                                <input type="number" id="inputQuantitySelectorSm" class="form-control" aria-live="polite" data-bs-step="counter" name="quantity" title="quantity" value="{{ item.quantity }}" min="1" max="5" step="1" data-bs-round="0" aria-label="Quantity selector">
                                <button type="button" class="btn btn-icon btn-secondary btn-sm" aria-describedby="inputQuantitySelectorSm" data-bs-step="up">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
                                        <circle cx="12" cy="12" r="10"/>
                                        <path d="M8 12h8"/>
                                        <path d="M12 8v8"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="item-description">
                                <img src="{{ item.product.image.url }}" alt="product-img" />
                                <div class="item-recap">
                                    <span class="h1-text">{{ item.product.title }}</span>
                                    <span class="item-size">size: <span class="p-text">{{ item.size }}</span></span>
                                    <span class="item-color">color: <span class="p-text">{{ item.color }}</span></span>
                                    <div class="item-price">
                                        <span class="h1-text">{{ item.product.price }} DT</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="all-order-payments">
                <div class="order">
                    <div class="order-container">
                        <div class="order-details">
                            <span class="h1-text">Order Summary</span>
                            <div class="price">
                                <span class="p-text">Price</span>
                                <span class="p-text subTotal">TND {{ cart.calculate_total_price }}</span>
                            </div>
                            <div class="discount">
                                <span class="p-text">Discount</span>
                                <span class="p-text discountAmount">TND 0</span>
                            </div>
                            <div class="coupon">
                                <span class="p-text">Coupon Applied</span>
                                <span class="p-text couponApplied">TND 0.00</span>
                            </div>
                        </div>
                        <div class="divisier"></div>
                        <div class="order-total">
                            <div class="total">
                                <span class="p-text">Total</span>
                                <span class="p-text TTotal">TND {{ cart.calculate_total_price }}</span>
                            </div>
                            <input class="cupon-input" placeholder="Coupon Code" />
                            <button class='cupon cupon-btn'>Get Coupon Code</button>
                            <a class="btn goCheckout checkoutbtn">
                                <span id="buttonText">Proceed to Checkout</span>
                                <span id="loadingIcon" style="display: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-ccw spinner">
                                        <path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/>
                                        <path d="M3 3v5h5"/>
                                        <path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0-6.74-2.74L21 16"/>
                                        <path d="M16 16h5v5"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="payment-accept-container">
                    <span class="text-accept">We accept the following payment methods: </span>
                    <div class="payments-methods">
                        <img class="flex-item" src="{% static "assets/payments/Visa.webp" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/mastercard.svg" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/apple-pay.svg" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/usdt.png" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/venmo.svg" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/paypal.svg" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/zelle.svg" %}" alt="cart empty" />
                        <img class="flex-item" src="{% static "assets/payments/Googlepay.svg" %}" alt="cart empty" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pop-Up Message for Deleted Item -->
    <div id="popupMessage" class="popup-message">
        <div class="flex-pops">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
                <path d="M3 6h18"/>
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                <line x1="10" x2="10" y1="11" y2="17"/>
                <line x1="14" x2="14" y1="11" y2="17"/>
            </svg>
            <span id="popupSpan" class="span-popup">Item has been deleted.</span>
            <button id="popUpCloseButton" class="pop-up-close-button">Close</button>
        </div>
    </div>
</div>

{% endblock main %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function() {
        const cartCountElement = document.getElementById('cartCount');
        const subTotalDiv = document.querySelector(".subTotal");
        const TotalDiv = document.querySelector('.TTotal');
        const discountDiv = document.querySelector('.discountAmount');
        const couponDiv = document.querySelector('.couponApplied');
        const deleteButtons = document.querySelectorAll('.delete-icon');
        const decrementButtons = document.querySelectorAll('.quantity-selector button[data-bs-step="down"]');
        const incrementButtons = document.querySelectorAll('.quantity-selector button[data-bs-step="up"]');
        const couponButton = document.querySelector('.cupon-btn');
        const couponInput = document.querySelector('.cupon-input');
        let totalPrice = {{ cart.calculate_total_price }};
    
        function updateCartDisplay(response) {
            if (subTotalDiv) {
                subTotalDiv.innerText = `TND ${response.total_price}`;
            }
            if (TotalDiv) {
                TotalDiv.innerText = `TND ${response.ultimate_total}`;
            }
            if (discountDiv) {
                discountDiv.innerText = `TND ${response.discount_amount}`;
            }
            if (couponDiv) {
                couponDiv.innerText = `TND ${response.discount_amount}`;
            }
            if (cartCountElement) {
                cartCountElement.innerText = response.total_items;
            }
        }
    
        function showPopup(message) {
            const popupMessage = document.getElementById('popupMessage');
            const popupSpan = document.getElementById('popupSpan');
            popupSpan.innerText = message;
            popupMessage.style.display = 'flex';
            setTimeout(function() {
                popupMessage.style.display = 'none';
            }, 3000);
        }
    
        function handleQuantityChange(button, increment) {
            const itemContainer = button.closest('.item-container');
            const itemId = itemContainer.querySelector('.delete-icon').dataset.itemId;
            const quantityInput = itemContainer.querySelector('input[name="quantity"]');
            let quantity = parseInt(quantityInput.value);
    
            if (increment && quantity < 5) {
                quantity++;
            } else if (!increment && quantity > 1) {
                quantity--;
            } else {
                quantityInput.classList.add('shake');
                setTimeout(() => quantityInput.classList.remove('shake'), 500);
                return;
            }
    
            const data = {
                item_id: itemId,
                quantity: quantity,
                product_id: itemContainer.dataset.productId,
                color: itemContainer.dataset.color,
                size: itemContainer.dataset.size
            };
    
            $.ajax({
                type: 'POST',
                url: '/update-cart-quantity/',
                data: data,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                },
                success: function(response) {
                    if (response.success) {
                        quantityInput.value = quantity;
                        updateCartDisplay(response);
                    } else {
                        showPopup(response.message);
                    }
                },
                error: function(error) {
                    console.error('Error updating cart quantity:', error);
                    showPopup('An error occurred. Please try again.');
                }
            });
        }
    
        decrementButtons.forEach(button => {
            button.addEventListener('click', function() {
                handleQuantityChange(this, false);
            });
        });
    
        incrementButtons.forEach(button => {
            button.addEventListener('click', function() {
                handleQuantityChange(this, true);
            });
        });
    
        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                const itemId = button.dataset.itemId;
                $.ajax({
                    type: 'POST',
                    url: '/delete-cart-item/',
                    data: { itemId: itemId },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                    },
                    success: function (response) {
                        if (response.success) {
                            document.querySelector(`.item-container.p${itemId}`).remove();
                            showPopup('Item has been deleted.');
                            updateCartDisplay(response);
                        } else {
                            showPopup('Error deleting item.');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error deleting cart item:', error);
                        showPopup('An error occurred. Please try again.');
                    }
                });
            });
        });
    
        const checkoutButton = document.querySelector('.checkoutbtn');
        const buttonText = document.getElementById('buttonText');
        const loadingIcon = document.getElementById('loadingIcon');
    
        checkoutButton.addEventListener('click', function(event) {
            event.preventDefault();
    
            buttonText.textContent = 'Processing...';
            loadingIcon.style.display = 'inline-block';
    
            setTimeout(function() {
                $.ajax({
                    type: 'POST',
                    url: '/final-cart-checkout/',
                    data: {
                        cartId: {{ cart.id }},
                        price: {{ cart.price }} + 7,
                        shippingMethod: 1,
                        shippingCost: 7
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                    },
                    success: function(response) {
                        if (response.success) {
                            window.location.href = '/checkout';
                        } else {
                            showPopup('Error during checkout.');
                            buttonText.textContent = 'Proceed to Checkout';
                            loadingIcon.style.display = 'none';
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error during checkout:', error);
                        showPopup('Error during checkout.');
                        buttonText.textContent = 'Proceed to Checkout';
                        loadingIcon.style.display = 'none';
                    }
                });
            }, 1500);
        });
    
        document.querySelector(".cupon-btn").addEventListener('click', function() {
            var coupon = document.querySelector(".cupon-input").value;
            var cartId = {{ cart.id }};  // Ensure you pass the correct cart ID
            $.ajax({
                type: 'POST',
                url: '/apply_coupon/',
                data: {
                    coupon: coupon,
                    cart_id: cartId
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                },
                success: function(response) {
                    if (response.success) {
                        showPopup('Coupon applied successfully.');
                        couponButton.innerHTML = '✔ Coupon Applied';
                        couponButton.classList.add('coupon-applied-animation');
                        couponInput.disabled = true;
                        updateCartDisplay(response);
                    } else {
                        showPopup(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error applying coupon:', error);
                    showPopup('An error occurred. Please try again.');
                }
            });
        });
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    
</script>

{% endblock scripts %}
