{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/courses.css" %}">
{% endblock head %}

{% block main %}
    {% include "components/navbar.html" %}
    <div class='wrap-courses-all'>
        <span class="h1-text">Popular Courses</span>
        <div class="filter-bar">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="Trading">Trading</button>
            <button class="filter-btn" data-filter="Development">Development</button>
            <button class="filter-btn" data-filter="Design">UI / UX</button>
            <button class="filter-btn" data-filter="Data Science">Data Science</button>
            <button class="filter-btn" data-filter="Marketing">Marketing</button>
        </div>
        <div class="course-container">
            <div class="nav"></div>
            <div class="popular-courses">
                <div class="course-list">
                    {% if courses %}
                        {% for course in courses %}
                            <a href="/courses/{{course.url_title}}" class="course volls" data-category="{{ course.category }}" style="background: url('{{course.img.url}}') no-repeat center; background-size: 100% 100%;">
                                <div class="layer"></div>
                                <div class="course-layout">
                                    <div class="course-header">
                                        <img class="owner-icon" src="{{course.img.url}}" alt="course-bg" />
                                        <div class="course-owner">
                                            <span class="h1-text">{{course.professor.user.user.username}}</span>
                                        </div>
                                        <div class="course-pricing">
                                            <span class="price">{{course.price}} DT - Monthly</span>
                                        </div>
                                    </div>
                                    <div class="course-title">
                                        <span class="h1-text">{{course.title}}</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="no-courses-message" style="display: none;">
                    No courses available at the moment. Please refresh the page and contact the support team if the issue persists.
                </div>
            </div>
        </div>
    </div>
    <div class="deco-asset"></div>
    <div class="deco-asset2"></div>
{% endblock main %}

{% block footer %}{% endblock footer %}




{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filterButtons = document.querySelectorAll('.filter-btn');
        const courses = document.querySelectorAll('.course');
        const noCoursesMessage = document.querySelector('.no-courses-message');
        const courseList = document.querySelector('.course-list');

        filterButtons.forEach(button => {
            button.addEventListener('click', function() {
                filterButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');

                const filter = this.getAttribute('data-filter');
                let coursesFound = false;
                courses.forEach(course => {
                    course.classList.remove('slide-in');
                    if (filter === 'all' || course.getAttribute('data-category') === filter) {
                        course.style.display = 'block';
                        void course.offsetWidth; // Trigger reflow
                        course.classList.add('slide-in');
                        coursesFound = true;
                    } else {
                        course.style.display = 'none';
                    }
                });

                if (!coursesFound) {
                    courseList.classList.add('hidden');
                    noCoursesMessage.style.display = 'flex';
                    noCoursesMessage.innerText = `${filter} courses coming soon`;
                } else {
                    courseList.classList.remove('hidden');
                    noCoursesMessage.style.display = 'none';
                }
            });
        });
    });
</script>


{% endblock scripts %}
