{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/courses.css" %}?v=1.11.2">
    <style>
        .h1-text {
            font-family: Poppins;font-size: 50px;font-weight: 700;line-height: 57px;letter-spacing: 0.02em;text-align: center;  
        }
        .h1-text span {
            font-family: Poppins;font-size: 50px;font-weight: 700;line-height: 57px;letter-spacing: 0.02em;text-align: center;
            color: rgb(132 24 255);
        }
    </style>
{% endblock head %}

{% block main %}
    {% include "components/navbar.html" %}
    <div class='wrap-courses-all'>
        <span class="h1-text">Meet our <span>Courses</span></span>
        <div class="course-container">
            <div class="popular-courses">
                <div class="course-list">
                    {% if courses %}
                        {% for course in courses %}
                            {% include "components\course.html" %}
                            {% comment %} <a href="{% if user.is_authenticated %}/courses/{{course.url_title}}/levels {% else %}{% url "course_detail" course_url_title=course.url_title %}{% endif %}" 
                            class="course volls" 
                            data-category="{{ course.category }}" 
                            style=
                            "background: url('{{course.img.url}}') no-repeat center; 
                            background-size: cover;">
                            <div class="layer"></div>
                                <div class="course-layout">
                                    <div class="course-header">
                                        <img class="owner-icon" 
                                        src="{{course.professor.user.pfp.url}}" 
                                        alt="course-bg" />
                                        <div class="course-owner">
                                            <span class="h1-text">{{course.professor.user.username}}</span>
                                        </div>
                                        <div class="course-pricing">
                                            <span class="price">{{course.discount_price}} DT - Monthly</span>
                                            <span class="discount_price">{{course.price}}</span>
                                        </div>
                                    </div>
                                    <div class="course-title">
                                        <span class="h1-text">{{course.title}}</span>
                                    </div>
                                </div>
                            </a> {% endcomment %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="course_details closed" style="display: none;">
                    <div class="uppr">
                        <div class="title_cont">
                            <div class="d_title">Course Details</div>
                            <i class="fa-solid fa-chevron-up arrico"></i>
                        </div>
                        <img class="d_image" src="" alt="">
                        <div class="tag">UI/UX</div>
                        <div class="cd_title">Trading Master Class</div>
                        <div class="d_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, cum. Aperiam sunt quia earum. Eius ab animi et aliquam odio?</div>
                    </div>
                    <div class="bttm">
                        <div class="rest_cont">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <div class="m_c">+999</div>
                        </div>
                        <div class="d_d">
                            <div class="d_d_d">
                                <div class="d_d_title">Mentore</div>
                                <div class="d_value">6 hours</div>
                            </div>
                            <div class="d_d_d">
                                <div class="d_d_title">Mentore</div>
                                <div class="d_value">6 hours</div>
                            </div>
                            <div class="d_d_d">
                                <div class="d_d_title">Mentore</div>
                                <div class="d_value">6 hours</div>
                            </div>
                        </div>
                        <div class="join_btn">Escape The Matrix</div>
                    </div>
                </div>
                <div class="no-courses-message" style="display: none;">
                    No courses available at the moment. Please refresh the page and contact the support team if the issue persists.
                </div>
            </div>
        </div>
    </div>
    <div class="deco-asset"></div>
    <div class="deco-asset2"></div>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
    <script src="{% static "js/courses.js" %}?v=1.11.2"></script>
{% endblock scripts %}
