{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/levels.css" %}?v=1.11.1">
{% endblock head %}

{% block main %}
{% include "components/navbar.html" %}

<div class="wrap-text">
<span class="h1-text">{{course.title}}</span>
</div>
<div class="learning-center">
  <div class="learning-center-wrapper">
    {% for level in levels %}
      <div data-id='{{level.id}}' class="learning-step">
        <div class="learning-body">
          <div class="learning-header">
            {% if level.image %}
              <img src="{{level.image.url}}" alt="step-img" style="
              width: 100%;
              height: 175px;
              object-fit: cover;" />
            {% endif %}
            <div class="header-progress">
              <span class="p-text progressTXT">80% complete</span>
              <div class="progress-container">
                <div class="progress"></div>
              </div>
            </div>
          </div>
          <div class="learning-titles">
            <span class="h1-text">{{level.title}}</span>
            <span class="p-text">{{level.description}}</span>
            <a href="{% url "video-course" url_title=level.url_title %}">{{level.module_set.all.count}} Start</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Popup Message for Notifications -->
<div id="popupMessage" class="popup-message" style="display: none;">
    <div class="flex-pops">
        <span id="popupSpan" class="span-popup">You have been subscribed to the newsletter.</span>
        <button id="popUpCloseButton" class="pop-up-close-button">Close</button>
    </div>
</div>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}

<script src="{% static "js\levels.js" %}?v=1.11.1"></script>
  

{% endblock scripts %}
