{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/levels.css" %}?v=2.1.2">
{% endblock head %}

{% block main %}
{% include "components/navbar.html" %}

<div class="wrap-text">
<span class="h1-text">{{course.title}}</span>
</div>
<div class="learning-center">
  <div class="learning-center-wrapper">
    {% for level in levels %}
      <div data-id='{{level.id}}' class="learning-step">
        <div class="learning-body">
          <div class="learning-header">
            {% if level.image %}
              <img src="{{level.image.url}}" alt="step-img" style="
              width: 100%;
              height: 175px;
              object-fit: cover;" />
            {% endif %}
            <div class="header-progress">
              <span class="p-text progressTXT">80% complete</span>
              <div class="progress-container">
                <div class="progress"></div>
              </div>
            </div>
          </div>
          <div class="learning-titles">
            <span class="h1-text">{{level.title}}</span>
            <span class="p-text">{{level.description}}</span>
            <a href="{% url "video-course" url_title=level.url_title %}">{{level.module_set.all.count}} Start</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Popup Message for Notifications -->
<div id="popupMessage" class="popup-message" style="display: none;">
    <div class="flex-pops">
        <span id="popupSpan" class="span-popup">You have been subscribed to the newsletter.</span>
        <button id="popUpCloseButton" class="pop-up-close-button">Close</button>
    </div>
</div>

<!-- Floating Button -->
<div style="display:none" id="askQuestionButton" class="floating-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10"></circle>
      <line x1="12" y1="16" x2="12" y2="12"></line>
      <line x1="12" y1="8" x2="12" y2="8"></line>
  </svg>
  <span>Submit Feedback</span>
</div>

<!-- Modal for asking a question -->
<div id="askQuestionModal" class="modal hidden">
  <div class="modal-content">
      <div class="l1">
        <h3>Rate Us</h3>
        <span class="close-button">&times;</span>
      </div>

       <div style="display:block" class="rating">
        <div class="rates_options">
          <div class="rateoption" data-rating='1'>1</div>
          <div class="rateoption" data-rating='2'>2</div>
          <div class="rateoption" data-rating='3'>3</div>
          <div class="rateoption" data-rating='4'>4</div>
          <div class="rateoption" data-rating='5'>5</div>
          <div class="rateoption" data-rating='6'>6</div>
          <div class="rateoption" data-rating='7'>7</div>
          <div class="rateoption" data-rating='8'>8</div>
          <div class="rateoption" data-rating='9'>9</div>
          <div class="rateoption" data-rating='10'>10</div>
        </div>
        <div class="rate_scale">
          <span>Poor</span>
          <span>Excelent</span>
        </div>
        <div class="l1 l12">
          <textarea style="display:none" id="userQuestion" placeholder="Type your feedback here..."></textarea>
        </div>
       </div>
      <div class="l3">
        <div class="question_counter"></div>
        <button id="submitQuestionButton" class="submit-question-button" disabled>Submit Feedback</button>
      </div>
      <p id="successMessage" class="success-message hidden">Your Feedback has been submitted!</p>
  </div>
</div>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}

<script src="{% static "js\levels.js" %}?v=2.1.2"></script>
  

{% endblock scripts %}
