{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/levels.css" %}">
{% endblock head %}

{% block main %}
{% include "components/navbar.html" %}

<div class="wrap-text">
<span class="h1-text">{{course.title}}</span>
</div>
<div class="learning-center">
  <div class="learning-center-wrapper">
    {% for level in levels %}
      <div data-id='{{level.id}}' class="learning-step">
        <div class="learning-body">
          <div class="learning-header">
            <img src="{{level.image.url}}" alt="step-img" style="
            width: 100%;
            height: 175px;
            object-fit: cover;" />
            <div class="header-progress">
              <span class="p-text progressTXT">80% complete</span>
              <div class="progress-container">
                <div class="progress"></div>
              </div>
            </div>
          </div>
          <div class="learning-titles">
            <span class="h1-text">{{level.title}}</span>
            <span class="p-text">{{level.description}}</span>
            <a href="{% url "video-course" level_id=level.id %}">{{level.module_set.all.count}} Start</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Popup Message for Notifications -->
<div id="popupMessage" class="popup-message" style="display: none;">
    <div class="flex-pops">
        <span id="popupSpan" class="span-popup">You have been subscribed to the newsletter.</span>
        <button id="popUpCloseButton" class="pop-up-close-button">Close</button>
    </div>
</div>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script>
  function showPopupMessage(message) {
    const popupMessage = document.getElementById('popupMessage');
    const popupSpan = document.getElementById('popupSpan');
    popupSpan.innerText = message;
    popupMessage.style.display = 'flex';

    document.getElementById('popUpCloseButton').addEventListener('click', function () {
        popupMessage.style.display = 'none';
    });

    // Hide the popup automatically after 5 seconds
    setTimeout(function () {
        popupMessage.style.display = 'none';
    }, 15000);
  }

  function fetchCourseProgress() {
    // Iterate through each course element
    document.querySelectorAll('.learning-step').forEach(function(level) {
        // Get the course ID from the data attribute
        var levelId = level.getAttribute('data-id');
        // Select the progress bar element within the current level
        var progressPercent = level.querySelector('.progressTXT');
        var progressBar = level.querySelector('.progress');
        // Make an AJAX request
        $.ajax({
            type: 'POST',
            url:'/level_progress/',
            data: {
                level_id: levelId
            },  
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
            },
            success: function(response) {
                if (response.success) {
                    console.log(response);
                    // Set the width of the progress bar for the current course
                    progressPercent.innerText = `${response.level_progression}%`;
                    progressBar.style.width = `${response.level_progression}%`;
                } else {
                    showPopupMessage('Failed to fetch progress data.');
                    console.log(response);
                }
            },
            error: function(error) {
                showPopupMessage('An error occurred while fetching progress data.');
                console.log(error);
            }
        });
    });
}

// Call the function to fetch course progress when the document is ready
$(document).ready(function() {
    fetchCourseProgress();
});

// Create a new URL object using the current page's URL
const url = new URL(window.location.href);

// Use the URLSearchParams object to extract the query parameters
const params = new URLSearchParams(url.search);

// Get the value of the 'fid' parameter
const fid = params.get('fid');
if (fid) {
    if (fid == 0) {
        showPopupMessage("Level is finished.");
    }
    else if (fid == 1) {
        showPopupMessage("No more open modules.");
    }
    else if (fid == 2) {
        showPopupMessage("No video in module.");
    }
    else if (fid == 3) {
        showPopupMessage("No more video available.");
    }
    else if (fid == 4) {
        showPopupMessage("Failed to finish video.");
    }
    else if (fid == 5) {
        showPopupMessage("Response failed.");
    }
}
</script>
{% endblock scripts %}
