{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "styles/links.css" %}?v=2.1.4">
  {% block title %}
    <title>lessons - Tunisian Top Gs</title>
  {% endblock title %}
{% endblock head %}

{% block header %}
  {% include "components/navbar.html" %}
{% endblock header %}

{% block main %}

  <div class="container_de">
    <div class="container__div">
      <div class="container__main">
        <div class="main_upper">

          <div class="upper_center">
            <div class="center_div">
              <div class="center_text">TTG 
                <span class="animated-text"> LINKS</span>
              </div>
            </div>
          </div>
          
        </div>

        <div class="main_lower">
          
          <div class="lower_div">
            {% for link in links %}
              <a href="{{link.link}}" target='_blank' class="vocal" data-title="{{link.text|lower}}">
                <div class="vocal_div">
                  <div class="vocal_left">
                    <img src="{{link.image.url}}" alt="{{link.text|lower}}">
                  </div>
                  <div class="vocal_center">
                    {{link.text}}
                  </div>
                  <div class="vocal_right">
                    <i class="fa-solid fa-up-right-from-square"></i>
                  </div>
                </div>
              </a>
            {% endfor %}     
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock main %}

{% block scripts %}
  <script src="{% static "js\lessons.js" %}?v=2.1.4"></script>
{% endblock scripts %}
