{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block head %}
<link rel="stylesheet" href="{% static "styles/new-home.css" %}?v=1.11.2">

{% block title %}<title>Home | Tunisian Top Gs</title>{% endblock title %}
{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}
{% endblock header %}
{% block main %}
<div class="left">
    <div class="left_banner">
        <div class="banner_left">
            <div class="benner_texts">
                <div class="left_title">{{featured_course.title}}</div>
                <div class="small_description">{{featured_course.mini_description}}</div>
                <a href="{% url "levels" course_url_title=featured_course.url_title %}" class="button">Enroll Now</a>
            </div>
        </div>
        <div class="banner_right">
            {{featured_course.svg|safe}}
        </div>
    </div>
    <div class="seperator">
        <div class="line1"></div>
        <div class="seperator_text">
            Courses List
        </div>
        <div class="line2"></div>
    </div>
    <div class="left_courses">
        <div class="c_c">
            {% for course in courses %}
                {% include "components\course.html" %}
            {% endfor %}
        </div>
        <a class="plus-ico" href="{% url "courses" %}"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="seperator">
        <div class="line1"></div>
        <div class="seperator_text">
            Activity
        </div>
        <div class="line2"></div>
    </div>
    <div class="left_analytics">
      {% comment %} <div class="analytic_box">
        <div class="analytic_title">title here</div>
        <div class="data">data here</div>
      </div> {% endcomment %}
      {% if request.user.is_authenticated %}
        <div class="analytic_box activity">
            <div class="analytic_title">Weekly Activity</div>
            <div class="data">
                <div class="layer_1">
                    <div class="y">
                        {% for h in hourslist %}
                            <div>{{ h }}H</div>
                        {% endfor %}
                    </div>
                    <div class="lines">
                        {% for activity in activity_data %}
                            <!-- Set the fill height for each line based on activity data -->
                            <div class="line" style="--fill-height: {{ activity.percentage }}%;"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="layer_2">
                    <div class="x">
                        {% for activity in activity_data %}
                            <div>{{ activity.day }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      {% endif %}
      <div class="analytic_box">
        <div class="analytic_title">lessons completed</div>
        <div class="data cour">
            {% if in_trading %}{{crypto_course|calculate_progress_percentage:request.user}}{% else %}0{% endif %}%
        </div>
      </div>
      <div class="analytic_box ghj">
        <div class="analytic_title">Level & Points</div>
        <div class="data psn">
            <div class="nums"><span class="spn">{{request.user.points}}</span>/{{request.user.get_next_rank.points}}</div>
            <div class="progress-bar pbbr" style='
            height: 21px;
            background: white;
            border-radius: 5px;'>

                <div class="progress-bar-inner points pbar" style="
                width:{{request.user.rank_fulfilling_percentage}}%;
                border-radius: 5px;">
                </div>
            </div>
        </div>
      </div>
      <div class="analytic_box nhf">
        <div class="analytic_title">Money Made</div>
        <div class="data cour vfg">
            {{request.user.calculate_balance}}$
        </div>
      </div>
      {% comment %} <div class="analytic_box">
        <div class="analytic_title">title here</div>
        <div class="data">
            div.
        </div>
      </div> {% endcomment %}
    </div>
    <div class="seperator">
        <div class="line1"></div>
        <div class="seperator_text">
            Social Media
        </div>
        <div class="line2"></div>
    </div>
    <div class="left_discover">
        <div class="youtube">
            <iframe width="500" height="281" src="https://www.youtube.com/embed/TBIjgBVFjVI" title="Front-end web development is changing, quickly" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        

        <iframe style="border-radius:12px;height: 232px;width: 502px;" src="https://open.spotify.com/embed/show/5E8FL2fBwss8pxyqG18tB3?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        {% comment %} <div class="discord">
            <div class="dis_pfp">
                <img src="{% static "assets/discord-icon.png" %}" alt="">
            </div>
            <div class="ddis_cont">
                <div class="dis_tit">Join Our Discrod Server</div>
                <div class="dis_ini">Welcome to Tunisian Top G’s , The 1 Th Platform in North Africa .</div>
            </div>
            <a href="https://discord.gg/tunsiantopgs" target="_blank" class="dis_btn">JOIN</a>
        </div> {% endcomment %}

        <div class="podcast">
            <a class="lessonshref" href="/lessons" target="_blank"><img src="" class="player-image" alt=""></a>
            <div class="pod_title title-music">Title of the episode</div>
            <div class="players">
                <div class="prev"><i class="fa-solid fa-backward-step"></i></div>
                <div class="play"><i class="fa-solid fa-play"></i></div>
                <div class="next"><i class="fa-solid fa-forward-step"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="right_container">

        <div class="left-profile-Top">
        <div class="container_pfp">
            
            <style>
                @keyframes progress-animation {
                    from {
                        --progress: 0;
                    }
                    to {
                        --progress: {{request.user.rank_fulfilling_percentage}};
                    }
                }
            </style>
            <div class="pfpcontainer">
                <img src="{{user.pfp.url}}" alt="{{user.username}}">
                <svg width="250" height="250" viewBox="0 0 250 250" class="circular-progress">
                    <circle class="bg"></circle>
                    <circle class="fg"></circle>
                </svg>
                <img class="rank_ico" src="{{request.user.get_current_rank.icon.url}}" alt="">
            </div>
            
        </div>
        <div class="username">
            <div class="welcome">Welcome Back, {{user.username}}</div>
        </div>
        {% if request.user.get_next_rank %}
            <div class="progress-bar">
              <div class="progress-bar-inner points" style="width:{{request.user.rank_fulfilling_percentage}}%"></div>
            </div>
            <div class="point-calc">
                <span class="Goal-levels">Next: <img class="rank_ico" src="{{request.user.get_next_rank.icon.url}}" alt="">
                     <div class="rank_ttle">{{request.user.get_next_rank.title}}</div> 
                    </span>
                <span class="points-counter points"><span>{{request.user.points}}</span>/{{request.user.get_next_rank.points}}</span>
            </div>
        {% endif %}
        </div>

        <div class="dailylesson">
            <span>
                Daily Lessons
            </span>
            <div class="lesson">
                "{{daily_lesson.title}}"
            </div>
        </div>
        <div class="checklist">
            <div class="check_titlanand">
                <div class="ch_title">CheckList</div>
                {% comment %} <i class="fa-solid fa-plus"></i> {% endcomment %}
            </div>

            {% for row in checkListRows %}
                <div class="row" data-id="{{ row.id }}">
                  <input class="row__checkbox" type="checkbox" data-id="{{ row.id }}" {% if row.checked %}checked{% endif %}>
                  <div class="row__text row_title">{{ row.title }}</div>
                  {% comment %} <div class="row__points" data-id="{{ row.id }}">
                    <i class="fa-solid fa-ellipsis-vertical" ></i>
                  </div> {% endcomment %}
                </div>
            {% endfor %}
        </div>
        <div class="mentors">
            <div class="mentors_txt">Your Mentors</div>
            <div class="mentor">
                <div class="first_holder">
                    <img src="{{user.pfp.url}}" alt="pfp">
                    <div class="info">
                        <div class="prof">{{user.username}}</div>
                        <div class="role">UX / UI</div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="{% url "private_session" %}" class="ps">Private Session</a>
                    {% comment %} <a href="" class="chat"><i class="fa-solid fa-message"></i></a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block footer %}{% endblock footer %}
{% block scripts %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  let tracks = [
      {% for podcast in lessons %}
      {
        src: "{{ podcast.file.url }}",
        name: "{{ podcast.title }}",
        description: "{{ podcast.description }}",
        image: "{{ podcast.image.url }}",
        banner: "{{ podcast.banner }}"
      },
      {% endfor %}
    ];
  {% if podcasts %}
  currentTrackIndex = 0
  var there_is_podcasts = true;
  {% else %}
  var there_is_podcasts = false;
  {% endif %}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var dailypointsn = 10
</script>
  <script>
    const audio = new Audio(tracks[0].src);
    var isPlaying = false;

    if (there_is_podcasts) {
        audio.addEventListener('loadedmetadata', function() {
          const duration = audio.duration;
        });
      }

      function updateTrackInfo(name, image, description, banner) {
        const trackNameElement = document.querySelector('.title-music'); // Ensure you have this element
        const trackImageElement = document.querySelector('.player-image'); // Ensure you have this element
        if (trackNameElement) trackNameElement.textContent = name;
        if (trackImageElement) trackImageElement.src = image;
    }
    
    function loadTrack(index) {
        audio.src = tracks[index].src;
        audio.load();
        updateTrackInfo(tracks[index].name, tracks[index].image, tracks[index].description, tracks[index].banner);
        updateUI(false);
    }

    function togglePlay() {
        console.log('Toggling play');
        if (audio.src) {
            if (isPlaying) {
                audio.pause();
            } else {
                audio.play().catch(error => {
                    console.error("Playback failed:", error);
                });
            }
            isPlaying = !isPlaying;
            updateUI(isPlaying);
        } else {
            if (there_is_podcasts) {
                loadTrack(currentTrackIndex);
            }
            audio.play().catch(error => {
                console.error("Playback failed:", error);
            });
            isPlaying = true;
            updateUI(true);
        }
    }

    function nextTrack() {
        currentTrackIndex = (currentTrackIndex + 1) % tracks.length;
        if (there_is_podcasts) {
            loadTrack(currentTrackIndex);
        }
    }

    function previousTrack() {
        currentTrackIndex = (currentTrackIndex - 1 + tracks.length) % tracks.length;
        if (there_is_podcasts) {
            loadTrack(currentTrackIndex);
        }
    }

    function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = Math.floor(seconds % 60);
        return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
    }

    function updatePlayButton() {
        const playButton = document.querySelector('.play');
        playButton.innerHTML = isPlaying ? `
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dbdbdf" viewBox="0 0 16 16">
                <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/>
            </svg>
        ` : `
            <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.32137 25.586C7.9759 25.5853 7.63655 25.4948 7.33669 25.3232C6.66148 24.9406 6.24173 24.1978 6.24173 23.3915V7.07398C6.24173 6.26542 6.66148 5.52494 7.33669 5.14232C7.64369 4.96589 7.99244 4.87516 8.3465 4.87961C8.70056 4.88407 9.04692 4.98354 9.34938 5.16764L23.2952 13.5155C23.5859 13.6977 23.8255 13.9508 23.9916 14.251C24.1577 14.5511 24.2448 14.8886 24.2448 15.2316C24.2448 15.5747 24.1577 15.9121 23.9916 16.2123C23.8255 16.5125 23.5859 16.7655 23.2952 16.9478L9.34713 25.2979C9.0376 25.485 8.68307 25.5846 8.32137 25.586V25.586Z" fill="#E1E1E6"/>
            </svg>
        `;
    }

    function updateUI() {
        updatePlayButton();
    }


    document.querySelector('.play').addEventListener('click', togglePlay);
    document.querySelector('.next').addEventListener('click', nextTrack);
    document.querySelector('.prev').addEventListener('click', previousTrack);
    if (there_is_podcasts) {
        console.log("testing")
        loadTrack(0);
    }



    document.querySelectorAll(".row").forEach(function(row) {
        row.addEventListener("click", function(event) {
            // Prevent the checkbox from being clicked twice
            if (!event.target.classList.contains("row__checkbox")) {
                const checkbox = row.querySelector(".row__checkbox");
                checkbox.checked = !checkbox.checked; // Toggle checkbox state
    
                // Trigger the 'change' event manually so the AJAX logic runs
                checkbox.dispatchEvent(new Event('change'));
            }
        });
    });
    
    document.querySelectorAll(".row__checkbox").forEach(function(checkbox) {
        checkbox.addEventListener("change", function() {
            const id = checkbox.getAttribute('data-id'); 
            const isChecked = checkbox.checked;
        
            const url = isChecked ? '/check-check-list-row/' : '/uncheck-check-list-row/';
            const action = isChecked ? 'check check list row' : 'uncheck check list row';
        
            // AJAX request for checking/unchecking
            ajaxRequest('POST', url, {id: id}, function(response) {
                if (response.success) {
                    console.log(isChecked ? "Row checked successfully." : "Row unchecked successfully.");
                } else {
                    console.error("Error: " + response.message);
                }
            }, null, true, action, null);
        });
    });
  </script>
<script src="{% static "js\new-home.js" %}?v=1.11.2"></script>

{% endblock scripts %}