{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block head %}
<link rel="stylesheet" href="{% static "styles/new-home.css" %}?v=2.1.1">

{% block title %}<title>Home | Tunisian Top Gs</title>{% endblock title %}
{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}
{% endblock header %}
{% block main %}
<div class="left">
    <div class="left_banner">
        <div class="banner_left">
            <div class="benner_texts">
                <div class="left_title">{{featured_course.title}}</div>
                <div class="small_description">{{featured_course.mini_description}}</div>
                <a href="{% url "levels" course_url_title=featured_course.url_title %}" class="button">Enroll Now</a>
            </div>
        </div>
        <div class="banner_right">
            {{featured_course.svg|safe}}
        </div>
    </div>
    <div class="seperator">
        
        <div class="line1"></div>
        <div class="seperator_text">
            Courses List
        </div>
        <div class="line2"></div>
    </div>
    
    <div class="left_courses">
        <div class="scroll-indicator">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="c_c">
            {% for course in courses %}
                {% include "components/course.html" %}
            {% endfor %}
        </div>
        <a class="plus-ico" href="{% url "courses" %}"><i class="fa-solid fa-plus"></i></a>
    </div>

    {% if request.user.is_authenticated %}
    <div class="seperator">
        <div class="line1"></div>
        <div class="seperator_text">
            Activity
        </div>
        <div class="line2"></div>
    </div>
    <div class="left_analytics">
        <div class="scroll-indicator">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
        {% comment %} <div class="analytic_box">
          <div class="analytic_title">title here</div>
          <div class="data">data here</div>
        </div> {% endcomment %}
        {% if request.user.is_authenticated %}
          <div class="analytic_box activity">
              <div class="analytic_title">Weekly Activity</div>
              <div class="data">
                  <div class="layer_1">
                      <div class="y">
                          {% for h in hourslist %}
                              <div>{{ h }}H</div>
                          {% endfor %}
                      </div>
                      <div class="lines">
                          {% for activity in activity_data %}
                              <!-- Set the fill height for each line based on activity data -->
                              <div class="line" style="--fill-height: {{ activity.percentage }}%;"></div>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="layer_2">
                      <div class="x">
                          {% for activity in activity_data %}
                              <div>{{ activity.day }}</div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
        {% endif %}
        <div class="analytic_box">
          <div class="analytic_title">lessons completed</div>
          <div class="data cour">
              {% if in_trading %}{{crypto_course|calculate_progress_percentage:request.user}}{% else %}0{% endif %}%
          </div>
        </div>
        <div class="analytic_box ghj">
          <div class="analytic_title">Level & Points</div>
          <div class="data psn">
              <div class="nums"><span class="spn">{{request.user.points}}</span>/{{request.user.get_next_rank.points}}</div>
              <div class="progress-bar pbbr" style='
              height: 21px;
              background: white;
              border-radius: 5px;'>
  
                  <div class="progress-bar-inner points pbar" style="
                  width:{{request.user.rank_fulfilling_percentage}}%;
                  border-radius: 5px;">
                  </div>
              </div>
          </div>
        </div>
        <div class="analytic_box nhf">
          <div class="analytic_title">Money Made</div>
          <div class="data cour vfg">
              {{request.user.calculate_balance}}$
          </div>
        </div>
        {% comment %} <div class="analytic_box">
          <div class="analytic_title">title here</div>
          <div class="data">
              div.
          </div>
        </div> {% endcomment %}
      </div>

    {% endif %}
    <div class="seperator">
        <div class="line1"></div>
        <div class="seperator_text">
            Social Media
        </div>
        <div class="line2"></div>
    </div>
    <div class="left_discover">
        <div class="youtube">
            <iframe width="500" height="281" src="https://www.youtube.com/embed/sN0RCvwTB0k" title="البتكيون يبدا في الارتفاع" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
        {% comment %} <script>
            // Your YouTube channel ID
            const channelId = 'UCsbJ_tytzcbECPPSCXq7D9Q';
            // Your YouTube API key
            const apiKey = 'AIzaSyAT2Ah2yfvyIsxC1VGrs52rBcC-MuhZ6XU';
        
            // Fetch latest video
            fetch(`https://www.googleapis.com/youtube/v3/search?key=${apiKey}&channelId=${channelId}&order=date&part=snippet&type=video&maxResults=1`)
                .then(response => response.json())
                .then(data => {
                    const latestVideoId = data.items[0].id.videoId;
                    // Set the iframe src to the latest video URL
                    document.getElementById('youtube-video').src = `https://www.youtube.com/embed/${latestVideoId}`;
                })
                .catch(error => console.error('Error fetching YouTube video:', error));
        </script> {% endcomment %}
        

        <iframe style="border-radius:12px;height: 232px;width: 502px;" src="https://open.spotify.com/embed/show/5E8FL2fBwss8pxyqG18tB3?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        {% comment %} <div class="discord">
            <div class="dis_pfp">
                <img src="{% static "assets/discord-icon.png" %}" alt="">
            </div>
            <div class="ddis_cont">
                <div class="dis_tit">Join Our Discrod Server</div>
                <div class="dis_ini">Welcome to Tunisian Top G’s , The 1 Th Platform in North Africa .</div>
            </div>
            <a href="https://discord.gg/tunsiantopgs" target="_blank" class="dis_btn">JOIN</a>
        </div> {% endcomment %}

        <div class="podcast">
            <a class="lessonshref" href="/lessons" target="_blank">
                <img src="{% static "assets/pod.webp" %}" class="player-image" alt="">
            </a>
            <div class="pod_title title-music">Title of the episode</div>
            <div class="players">
                <div class="prev"><i class="fa-solid fa-backward-step"></i></div>
                <div class="play"><i class="fa-solid fa-play"></i></div>
                <div class="next"><i class="fa-solid fa-forward-step"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="right" {% if not request.user.is_authenticated %}style="max-height: 793px;"{% endif %}>
    <div class="right_container">

        <div class="left-profile-Top">
        {% if request.user.is_authenticated %}
            <div class="container_pfp">
                
                <style>
                    @keyframes progress-animation {
                        from {
                            --progress: 0;
                        }
                        to {
                            --progress: {{request.user.rank_fulfilling_percentage}};
                        }
                    }
                </style>
                <div class="pfpcontainer">
                    <img class="pfpimg" src="{{user.pfp.url}}" alt="{{user.username}}">
                    <svg width="250" height="250" viewBox="0 0 250 250" class="circular-progress">
                        <circle class="bg"></circle>
                        <circle class="fg"></circle>
                    </svg>

                    <img class="rankico" src="{{request.user.get_current_rank.icon.url}}" alt="">
                </div>
                
            </div>
            <div class="username">
                <div class="welcome">Welcome Back, {{user.username}}</div>
            </div>
            {% if request.user.get_next_rank %}
                <div class="progress-bar">
                <div class="progress-bar-inner points" style="width:{{request.user.rank_fulfilling_percentage}}%"></div>
                </div>
                <div class="point-calc">
                    <span class="Goal-levels">Next: <img class="rank_ico" src="{{request.user.get_next_rank.icon.url}}" alt="">
                        <div class="rank_ttle">{{request.user.get_next_rank.title}}</div> 
                        </span>
                    <span class="points-counter points"><span>{{request.user.points}}</span>/{{request.user.get_next_rank.points}}</span>
                </div>
            {% endif %}
            </div>
        {% endif %}

        <div class="dailylesson">
            <span>
                Daily Lesson
            </span>
            <div class="lesson">
                "{{daily_lesson.title}}"
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="checklist">
            <div class="check_titlanand">
                <div class="ch_title">CheckList</div>
                {% comment %} <i class="fa-solid fa-plus"></i> {% endcomment %}
            </div>

            {% for row in checkListRows %}
                <div class="row" data-id="{{ row.id }}">
                  <input class="row__checkbox" type="checkbox" data-id="{{ row.id }}" {% if row.checked %}checked{% endif %}>
                  <div class="row__text row_title">{{ row.title }}</div>
                  {% comment %} <div class="row__points" data-id="{{ row.id }}">
                    <i class="fa-solid fa-ellipsis-vertical" ></i>
                  </div> {% endcomment %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="mentors">
            <div class="mentors_txt">Your Mentors</div>
            {% for prof in professors %}
                <div class="mentor">
                    <div class="first_holder">
                        <img src="{{prof.user.pfp.url}}" alt="pfp">
                        <div class="info">
                            <div class="prof">{{prof.user.username}}</div>
                            <div class="role">{{prof.role}}</div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="{% url "private_session" %}" class="ps">Private Session</a>
                        {% comment %} <a href="" class="chat"><i class="fa-solid fa-message"></i></a> {% endcomment %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if not request.user.is_authenticated %}
            <div class="ranking-container">
                <div class="title-leard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6.5 21H3C2.45 21 2 20.55 2 20V10C2 9.45 2.45 9 3 9H6.5C7.05 9 7.5 9.45 7.5 10V20C7.5 20.55 7.05 21 6.5 21ZM13.75 3H10.25C9.7 3 9.25 3.45 9.25 4V20C9.25 20.55 9.7 21 10.25 21H13.75C14.3 21 14.75 20.55 14.75 20V4C14.75 3.45 14.3 3 13.75 3ZM21 11H17.5C16.95 11 16.5 11.45 16.5 12V20C16.5 20.55 16.95 21 17.5 21H21C21.55 21 22 20.55 22 20V12C22 11.45 21.55 11 21 11Z" fill="white"/>
                    </svg>
                    <span class="title-ranking">Leaderboard</span>
                </div>
                
                <div class="ranking-user">
                    {% for User in top_users %}
                        <div class="user-ranking-list">
                            <div class="profile-user-ranking">
                                <img src="../static/assets/top{{forloop.counter}}.webp" alt="{{User.rank}}" class="ranking-pic">
                                <a class='user-rank-leard' href="{% url "user_profile" username=User.username %}">
                                    <img class="profile-user-pic" src="{{User.pfp.url}}" alt="">
                                </a>
                                <a class='username-rank-leard' href="{% url "user_profile" username=User.username %}" class="profile-user-name">{{ User.username }}</a>
                            </div>
                            <div class="ranking-amount-container">
                                <span class="amount-trade">${{ User.calculate_balance }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="video_onboading" style="display: none" data-first-time="{% if display_onboarding %}true{% else %}false{% endif %}">
    <div class="hero_video-wrap">
        <div class="hero-video-wrapper">
          <!-- Load video only on click -->
          <video id="hero-video" 
                 style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" 
                 allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" 
                 controls 
                 muted 
                 preload="metadata">
            <source src="https://vimeo.com/1023599189" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <div id="hero-video-overlay" class="black-overlay" style="opacity: 1;display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;">
            <div id="play-icon" class="play-button">
              <div class="icon_video-play w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" fill="none" aria-hidden="true" role="img">
                  <g filter="url(#filter0_b)">
                    <path d="M0 50C0 22.3858 22.3858 0 50 0V0C77.6142 0 100 22.3858 100 50V50C100 77.6142 77.6142 100 50 100V100C22.3858 100 0 77.6142 0 50V50Z" fill="#221D18" fill-opacity="0.6"></path>
                    <path d="M50 99.5C22.6619 99.5 0.5 77.3381 0.5 50C0.5 22.6619 22.6619 0.5 50 0.5C77.3381 0.5 99.5 22.6619 99.5 50C99.5 77.3381 77.3381 99.5 50 99.5Z" stroke="url(#paint0_linear)"></path>
                    <path d="M66.7727 47.904C68.4091 48.8355 68.4091 51.1645 66.7727 52.096L44.6818 64.6721C43.0455 65.6037 41 64.4392 41 62.5761L41 37.4239C41 35.5608 43.0455 34.3963 44.6818 35.3279L66.7727 47.904Z" fill="white"></path>
                  </g>
                  <defs>
                    <filter id="filter0_b" x="-16" y="-16" width="132" height="132" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feGaussianBlur in="BackgroundImageFix" stdDeviation="8"></feGaussianBlur>
                      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur"></feComposite>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape"></feBlend>
                    </filter>
                    <linearGradient id="paint0_linear" x1="50" y1="0" x2="50" y2="100" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FFF8F1" stop-opacity="0.89"></stop>
                      <stop offset="0.688895" stop-color="white" stop-opacity="0"></stop>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="x_btn"><i class="fa-solid fa-xmark"></i></div>
    </div>
</div>

<!-- Container for Pop-up Notifications -->
<div id="popup-container" class="popup-container"></div>

<!-- Special Message for All Items Checked -->
<div id="congratulation-popup" class="popup congratulation hidden">
  <p class="popup-text">
    🎉 You’re on the right path! Keep going! 🎉
  </p>
</div>

  
{% endblock main %}
{% block footer %}{% endblock footer %}
{% block scripts %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    const video = document.getElementById("hero-video");
    const overlay = document.getElementById("hero-video-overlay");

    // Function to handle the play button click
    overlay.addEventListener("click", function() {
      video.src = "{% static 'assets/ttg.mp4' %}"; // Set the video source
      video.currentTime = 0; // Restart the video
      video.muted = false;   // Unmute the video
      video.play();          // Play the video
      overlay.style.display = 'none'; // Hide the overlay
    });

    firstTime = document.querySelector(".video_onboading").getAttribute("data-first-time");
    document.querySelector(".video_onboading").style.display = firstTime === "true" ? "flex" : "none";

    document.querySelector('.x_btn').addEventListener("click", function() {
      document.querySelector(".video_onboading").style.display = "none";
    });
  
    {% if podcasts %}
        currentTrackIndex = 0
        var there_is_podcasts = true;
    {% else %}
        var there_is_podcasts = false;
    {% endif %}

    ajaxRequest("POST", "{% url 'get_vocals' %}", null, (response) => {
        let tracks = response.vocals;
    
        const audio = new Audio(tracks[0].src);
        var isPlaying = false;
    
        if (there_is_podcasts) {
            audio.addEventListener('loadedmetadata', function() {
              const duration = audio.duration;
            });
        }
    
        function updateTrackInfo(name, image, description, banner) {
            const trackNameElement = document.querySelector('.title-music');
            const trackImageElement = document.querySelector('.player-image');
            if (trackNameElement) trackNameElement.textContent = name;
        }
    
        function loadTrack(index) {
            audio.src = tracks[index].src;
            audio.load();
            updateTrackInfo(tracks[index].name, tracks[index].image, tracks[index].description, tracks[index].banner);
            updateUI(false);
        }
    
        function togglePlay() {
            if (audio.src) {
                if (isPlaying) {
                    audio.pause();
                } else {
                    audio.play().catch(error => {
                        console.error("Playback failed:", error);
                    });
                }
                isPlaying = !isPlaying;
                updateUI(isPlaying);
            } else {
                if (there_is_podcasts) {
                    loadTrack(currentTrackIndex);
                }
                audio.play().catch(error => {
                    console.error("Playback failed:", error);
                });
                isPlaying = true;
                updateUI(true);
            }
        }
    
        function nextTrack() {
            currentTrackIndex = (currentTrackIndex + 1) % tracks.length;
            if (there_is_podcasts) {
                loadTrack(currentTrackIndex);
            }
        }
    
        function previousTrack() {
            currentTrackIndex = (currentTrackIndex - 1 + tracks.length) % tracks.length;
            if (there_is_podcasts) {
                loadTrack(currentTrackIndex);
            }
        }
    
        function formatTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = Math.floor(seconds % 60);
            return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
        }
    
        function updatePlayButton() {
            const playButton = document.querySelector('.play');
            playButton.innerHTML = isPlaying ? `
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dbdbdf" viewBox="0 0 16 16">
                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/>
                </svg>
            ` : `
                <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.32137 25.586C7.9759 25.5853 7.63655 25.4948 7.33669 25.3232C6.66148 24.9406 6.24173 24.1978 6.24173 23.3915V7.07398C6.24173 6.26542 6.66148 5.52494 7.33669 5.14232C7.64369 4.96589 7.99244 4.87516 8.3465 4.87961C8.70056 4.88407 9.04692 4.98354 9.34938 5.16764L23.2952 13.5155C23.5859 13.6977 23.8255 13.9508 23.9916 14.251C24.1577 14.5511 24.2448 14.8886 24.2448 15.2316C24.2448 15.5747 24.1577 15.9121 23.9916 16.2123C23.8255 16.5125 23.5859 16.7655 23.2952 16.9478L9.34713 25.2979C9.0376 25.485 8.68307 25.5846 8.32137 25.586V25.586Z" fill="#E1E1E6"/>
                </svg>
            `;
        }
    
        function updateUI() {
            updatePlayButton();
        }
    
        document.querySelector('.play').addEventListener('click', togglePlay);
        document.querySelector('.next').addEventListener('click', nextTrack);
        document.querySelector('.prev').addEventListener('click', previousTrack);
        if (there_is_podcasts) {
            loadTrack(0);
        }
    }, null, false, "get vocals request", null);



</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var dailypointsn = 10
</script>
  <script>




    document.querySelectorAll(".row").forEach(function(row) {
        row.addEventListener("click", function(event) {
            // Prevent the checkbox from being clicked twice
            if (!event.target.classList.contains("row__checkbox")) {
                const checkbox = row.querySelector(".row__checkbox");
                checkbox.checked = !checkbox.checked; // Toggle checkbox state
    
                // Trigger the 'change' event manually so the AJAX logic runs
                checkbox.dispatchEvent(new Event('change'));
            }
        });
    });
    
    document.querySelectorAll(".row__checkbox").forEach(function(checkbox) {
        checkbox.addEventListener("change", function() {
            const id = checkbox.getAttribute('data-id'); 
            const isChecked = checkbox.checked;
        
            const url = isChecked ? '/check-check-list-row/' : '/uncheck-check-list-row/';
            const action = isChecked ? 'check check list row' : 'uncheck check list row';
        
            // AJAX request for checking/unchecking
            ajaxRequest('POST', url, {id: id}, function(response) {
                if (response.success) {
                    console.log(isChecked ? "Row checked successfully." : "Row unchecked successfully.");
                } else {
                    console.error("Error: " + response.message);
                }
            }, null, true, action, null);
        });
    });



    // Select elements for pop-up notifications
    const checkboxes = document.querySelectorAll('.row__checkbox');
    const popupContainer = document.getElementById('popup-container');
    const congratulationPopup = document.getElementById('congratulation-popup');
    let totalPoints = 0;
    let lastActionTime = 0;

    const popups = []; // Array to keep track of active popups


    // Helper function to create a new pop-up element
    function createPopup(message, popupType = 'earn') {
        const popup = document.createElement('div');
        popup.className = `popup ${popupType}`;
        popup.innerHTML = `<p class="popup-text">${message}</p>`;
    
        // If it's a congratulation message, handle separately
        if (popupType === 'congratulation') {
            popup.classList.add('congratulation');
            document.body.appendChild(popup); // Append directly to the body
        } else {
            // Regular pop-ups go into the container
            popupContainer.appendChild(popup);
        }
    
        // Show the popup with animation
        setTimeout(() => popup.classList.add('show'), 100);
    
        // Add the popup to the array of active popups
        popups.push(popup);
    
        // Remove all popups after 2 seconds
        setTimeout(() => {
            popups.forEach(p => {
                p.classList.add('exit');
                setTimeout(() => p.remove(), 500); // Remove from DOM after exit animation
            });
            popups.length = 0; // Clear the popups array
        }, 2000);
    }

    // Function to show points pop-up with animation
    function showPointsPopup(points, popupType = 'earn') {
    // Prevent spam by adding a debounce (only allow action every 1 second)
    const now = new Date().getTime();
    if (now - lastActionTime < 1000) return;
    lastActionTime = now;

    // Determine the message based on the type
    const message = popupType === 'earn' ? `You have earned <span class="popup-count">${points}</span> points!` : `You lost <span class="popup-count">${points}</span> points!`;

    // Create and display a new popup
    createPopup(message, popupType);
    }

    // Function to animate the number change with a flip effect
    function animatePointsChange(element, start, end) {
    let current = start;
    
    const interval = setInterval(() => {
        current++;
        element.innerHTML = `<span>${current}</span>`; // Use a span inside .popup-count for flip animation
        if (current === end) clearInterval(interval);
    }, 30); // Adjust speed as needed
    }

    // Function to show congratulation message when all items are checked
    function showCongratulationMessage() {
    const message = `🎉 You’re on the right path! Keep going! 🎉`;
    createPopup(message, 'congratulation'); // Show congratulation message
    }

    // Event listener for checkboxes
    checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function () {
        if (this.checked) {
        // If the checkbox is checked, add points
        totalPoints = 20;
        showPointsPopup(totalPoints, 'earn');

        // Check if all checkboxes are checked
        const allChecked = [...checkboxes].every(cb => cb.checked);
        if (allChecked) showCongratulationMessage();
        }
    });
    });





  </script>

{% endblock scripts %}