{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/product.css" %}?v=2.1.1">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800;900&display=swap" rel="stylesheet" />
{% block title %}<title>Product - Tunisian Top Gs</title>{% endblock title %}
{% endblock head %}

{% block main %}
{% include "components/navbar.html" %}
<div class="product-main">
  <section class="flex selected-item-section">
    <a href="/cart" class="cart-shoppings">
      <svg id="cartIcon" class='cart-shopping' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-basket">
          <path d="m15 11-1 9"/><path d="m19 11-4-7"/><path d="M2 11h20"/><path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4"/><path d="M4.5 15.5h15"/><path d="m5 11 4-7"/><path d="m9 11 1 9"/>
      </svg>
      <span id="cartCount" class="cart-count">{{ cart_count }}</span>
  </a>
        <div class="flex flex-col selected-item-photos">
          <nav class='nav-shp' aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                <span>»</span>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <span>»</span>
                <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
            </ol>
          </nav>
          <div class="slideshow-container">
            {% for product_image in product_images %}
            <div class="mySlides fade">
              <div class="numbertext">{{ forloop.counter }} / {{ product_images|length  }}</div>
              <img src="{{  product_image }}" class="rounded-image">
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          </div>
        </div>
        <div class="flex flex-col selected-item">
            <span class="h1-text">{{ product.title }}</span>
            <div class="selected-item-price">
                <span class="h1-text">{{ product.price }}DT</span>
            </div>
            {% comment %} <div class="flex selected-item-rating">
                <span class="p-text">{{ product.product_rating|default:5.0 }} / 5.0</span>
                <div class="stars-container">
                        <i class="fa-regular fa-star {% if product.product_rating > 0 %}fas fa-star{% endif %}"></i>
                        <i class="fa-regular fa-star {% if product.product_rating > 1 %}fas fa-star{% endif %}"></i>
                        <i class="fa-regular fa-star {% if product.product_rating > 2 %}fas fa-star{% endif %}"></i>
                        <i class="fa-regular fa-star {% if product.product_rating > 3 %}fas fa-star{% endif %}"></i>
                        <i class="fa-regular fa-star {% if product.product_rating > 4 %}fas fa-star{% endif %}"></i>
                </div>
            </div> {% endcomment %}
            <div class="selected-item-description">
                <span class="h1-text">Description</span>
                <div class="selected-item-description-body">
                    <span class="p-text">{{ product.description }}</span>
                </div>
            </div>
            <form class="inline-items">
                <div class="selected-item-color">
                    <span class="h1-text">Colors</span>
                    <select id="colorDropdown" name="color">
                        {% for color in product.colors.all %}
                        <option value="{{ color.id }}">
                            <div class="color-circle" style="background-color: {{ color.name }};"></div>
                            {{ color.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selected-item-size">
                    <span class="h1-text">Size</span>
                    <select id="sizeDropdown" name="size">
                        {% for size in product.sizes.all %}
                        <option value="{{ size.id }}">{{ size.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="quantity-control">
                    <button type="button" onclick="decreaseQuantity()">-</button>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" />
                    <button type="button" onclick="increaseQuantity()">+</button>
                </div>

                <div class="flex selected-item-submit">
                    <button onclick="addToCart(event)">Add to Cart</button>
                    <button onclick="buyNow(event)">Buy Now</button>
                </div>
            </form>
            <div class="error-message-container">Please pick a color and size</div>
        </div>
    </section>
    <section class="items-section">
        <span class="h1-text">Similar Products</span>
        <div class="flex flex-wrap items-content">
          {% for relatedProduct in product.relatedProducts.all|slice:":4" %}
          <a href="/product/{{ relatedProduct.id }}" class="item-card">
              <div class="item-card-action-container">
                  <button class="card-icon" data-id="{{ relatedProduct.id }}">
                      <img src="{% static 'assets/promo.svg' %}" class="df" alt="heart" />
                  </button>
                  <div class="flex flex-center card-banner">
                      <span class="p-text">Promo</span>
                  </div>
              </div>
              <div class="flex flex-center card-body">
                  <img alt="black-shirt" src="{{ relatedProduct.image.url }}" width="220" />
              </div>
              <div class="flex card-footer">
                  <div class="flex flex-col item-name">
                      <span class="h1-text">{{ relatedProduct.title }}</span>
                      <span class="p-text">{{ relatedProduct.offer }}</span>
                  </div>
                  <div class="flex flex-col flex-center item-price">
                      <span class="p-text">{{ relatedProduct.price }}DT</span>
                      <span class="h1-text">{{ relatedProduct.price }}DT</span>
                  </div>
              </div>
          </a>
          {% endfor %}
        </div>
    </section>
</div>
{% endblock main %}
{% block footer %}{% endblock footer %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      {% comment %} dots[slideIndex-1].className += " active"; {% endcomment %}
    }
    </script>
<script>
    // Image switching with animation
    const views = document.querySelectorAll(".photos-views-container");
    const photo = document.querySelector(".photo-container img");
    const zoomedImage = document.getElementById("zoomedImage");

    views.forEach((view) => {
        view.addEventListener("click", () => {
            views.forEach((v) => v.classList.remove("active-view"));
            view.classList.add("active-view");
            photo.src = view.querySelector("img").src;
            // Update the zoomed image background
            zoomedImage.style.backgroundImage = `url(${photo.src})`;
            // Add fade animation
            photo.style.opacity = 0;
            setTimeout(() => {
                photo.style.opacity = 1;
            }, 100);
        });
    });

    // Modal functionality
    const modal = document.getElementById('imageModal');
    const modalImg = document.getElementById('img01');
    const captionText = document.getElementById('caption');
    const productImage = document.getElementById('productImage');
    const close = document.getElementsByClassName('close')[0];

    {% comment %} productImage.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    } {% endcomment %}

    {% comment %} close.onclick = function() {
        modal.style.display = "none";
    } {% endcomment %}

    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    document.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            modal.style.display = "none";
        }
    });

    // Quantity control
    function decreaseQuantity() {
        const quantityInput = document.getElementById('quantity');
        if (quantityInput.value > 1) {
            quantityInput.value = parseInt(quantityInput.value) - 1;
        }
    }

    function increaseQuantity() {
        const quantityInput = document.getElementById('quantity');
        if (quantityInput.value < {{product.quantity}}) {
            quantityInput.value = parseInt(quantityInput.value) + 1;
        } else {
            // Shake animation
            quantityInput.classList.add('shake');
            setTimeout(() => {
                quantityInput.classList.remove('shake');
            }, 500);
        }
    }

    // Add to cart functionality with animation
    function addToCart(event) {
        event.preventDefault();
        const selectedColor = document.getElementById('colorDropdown').value;
        const selectedSize = document.getElementById('sizeDropdown').value;
        const quantity = parseInt(document.getElementById('quantity').value);

        if (!selectedColor || !selectedSize) {
            const messageError = document.querySelector('.error-message-container');
            messageError.style.display = "flex";
            setTimeout(() => {
                messageError.style.display = "none";
            }, 3000);
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/add-to-cart/',
            data: {
                product_id: {{ product.id }},
                color: selectedColor,
                size: selectedSize,
                quantity: quantity,
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
            },
            success: function(response) {
                if (response.success) {
                    // Create a flying image clone
                    {% comment %} const flyingImage = productImage.cloneNode(true);
                    flyingImage.classList.add('flying-image');
                    document.body.appendChild(flyingImage); {% endcomment %}

                    // Calculate positions
                    {% comment %} const cartIcon = document.getElementById('cartIcon');
                    const productRect = productImage.getBoundingClientRect();
                    const cartRect = cartIcon.getBoundingClientRect(); {% endcomment %}

                    {% comment %} // Set initial position of the clone
                    flyingImage.style.left = `${productRect.left}px`;
                    flyingImage.style.top = `${productRect.top}px`;

                    // Trigger reflow
                    flyingImage.offsetWidth;

                    // Set final position of the clone
                    flyingImage.style.transform = `translate(${cartRect.left - productRect.left}px, ${cartRect.top - productRect.top}px) scale(0.1)`;
                    flyingImage.style.opacity = 0;

                    // Remove the clone after animation
                    flyingImage.addEventListener('transitionend', () => {
                        flyingImage.remove();
                        // Update cart count
                        const cartCount = document.getElementById('cartCount');
                        cartCount.textContent = response.cart_count;
                    }); {% endcomment %}

                    alert(response.message);
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }

    function buyNow(event) {
        event.preventDefault();
        const selectedColor = document.getElementById('colorDropdown').value;
        const selectedSize = document.getElementById('sizeDropdown').value;
        const quantity = parseInt(document.getElementById('quantity').value);

        if (!selectedColor || !selectedSize) {
            const messageError = document.querySelector('.error-message-container');
            messageError.style.display = "flex";
            setTimeout(() => {
                messageError.style.display = "none";
            }, 3000);
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/add-to-cart/',
            data: {
                product_id: {{ product.id }},
                color: selectedColor,
                size: selectedSize,
                quantity: quantity,
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
            },
            success: function(response) {
                if (response.success) {
                    window.location.href = "/cart";
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; cookies.length > i; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Zoom functionality
    const mainImage = document.querySelector(".main-image");
    {% comment %} mainImage.addEventListener("mousemove", function(event) {
        const rect = mainImage.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;
        const xPercent = (x / rect.width) * 100;
        const yPercent = (y / rect.height) * 100;

        zoomedImage.style.backgroundPosition = `${xPercent}% ${yPercent}%`;
        zoomedImage.style.display = "block";
    }); {% endcomment %}

    {% comment %} mainImage.addEventListener("mouseleave", function() {
        zoomedImage.style.display = "none";
    }); {% endcomment %}
</script>
{% endblock scripts %}





