{% extends "baseAuthentication.html" %}
{% load static %}
{% load socialaccount %}


{% block head %}
<link rel="stylesheet" href="{% static "styles/register.css" %}">
{% endblock head %}



{% block main %}

<div class="login-wrapper">
  <div class="left-box">
    <div class="maps-background">
      <img src="{% static "assets/mapbase.svg" %}" alt="escape-matrix" />
    </div>
      <div class="escape-matrix-wrapper">
          <h1>Escape the matrix</h1> 
          <h6>Join us now and be one of the top G'S</h6>
        </div>
  </div>
  <div class="right-box">
    <h1>Join The Top G's</h1>
    <p>
      Thank you for your interest ! Please sign up <br/> to stay updated.
    </p>
        <a href="{% provider_login_url 'google' method='oauth2' %}" class="google-btn">
            <img src="{% static 'assets/google.svg' %}" alt="Google Icon" />
            <h5>Sign up with Google</h5>
        </a>


    <div class="divisier">
      <span class="text-divisier">or</span>
    </div>
    <div id="popupMessage" class="popup-message">
      <div class="flex-pops">
        <img id="popupImage" src="" alt="">
        <span id="popupSpan" class="span-popup"> </span>
        <button id="popUpCloseButton" class="pop-up-close-button">Close</button>
      </div>
    </div>
    <form>
      {% csrf_token %}
      {{ SignupForm.non_field_errors }}
      <div class="inputs-wrapper">
        <div class="input-wrapper">
          <label for="firstname">First Name</label>
          {{ SignupForm.first_name }}
        </div>
          <div class="input-wrapper">
          <label for="firstname">Last Name</label>
          {{ SignupForm.last_name }}
        </div>
      </div>
      <div class="input-wrapper">
        <label for="username">Username</label>
        {{ SignupForm.username }}
      </div>
      <div class="input-wrapper">
        <label for="email">Email</label>
        {{ SignupForm.email }}
      </div>
      <div class="input-wrapper">
        <label for="password1">Password</label>
        {{ SignupForm.password1 }}
      </div>
      <div class="input-wrapper">
        <label for="password2">Repeat password</label>
        {{ SignupForm.password2 }}
      </div>

      <div class="login-options">
        <div class="remember-me">
          <input type="checkbox" />
          <p>I agree with <a href="/privacy-policy">Terms of Service & Privacy Policy</a></p>
        </div>
      </div>

      <button id='signupSubmit' class='login-btn signupSubmit'>
        <div>
          <span>
            <p>Sign up </p><p>:)</p>
          </span>
      </div>
        <div>
          <span>
            <p>Tunisian Top G Waiting for you ! </p><p>:D</p>
          </span>
        </div>
      </button>

      <div class="register-redirect">
        <p>
         Already Have an Account ?
          <a href="/login" class="sign-up-link">Log In</a>
        </p>
      </div>
      <div >
        <a href="/" class="btn btn-home" style="width: 100%;height:40px;margin-bottom: 20px;">Back To Home</a>
    </div>
    </form>
  </div>
</div>

{% endblock main %}

{% block scripts %}
  <script src="{% static "js/register.js" %}"></script>

{% endblock scripts %}