{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/.css" %}?v=2.1.3">
    {% block title %}
        <title>Tunisian Top Gs | Request New Verification Email</title>
    {% endblock title %}
{% endblock head %}

{% block main %}
    {% include "components/navbar.html" %}
    <h1>Request New Verification Email</h1>
    <form method="post">
        {% csrf_token %}
        <p>Click the button below to request a new verification link for your email (<strong>{{ request.user.email }}</strong>):</p>
        <button type="submit">Request New Link</button>
    </form>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}{% endblock scripts %}
