{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/settingsNotification.css" %}?v=1">
{% block title %}<title>Notifications | Tunisian Top Gs</title>{% endblock title %}
{% endblock head %}

{% block header %}
    {% include "components/navbar.html" %}
{% endblock header %}

{% block main %}
    <div class="main">
      <div class="form">
        <a href="#" class="go_back" onclick="goBack()"><i data-lucide="undo-2"></i> Go Back</a>
        <div class="form-header">
          <span class="h1-text">Notifications</span>
          <span class="p-text">Choose notification preferences for platform and email notifications and how you want to be
            contacted</span>
        </div>
        <div class="form-body">
          <div class="left-block">
            <span class="h1-text">Platform Notifications</span>
            <div class="notification-setting">
              <span class="p-text">Allow General Notifications</span>
              <input class="container_toggle" type="checkbox" id="p_general_n" name="mode" {% if user_settings.p_general_n %}checked{% endif %}>
              <label for="p_general_n">Toggle</label>
            </div>
            <div class="notification-setting">
              <span class="p-text">Allow Chat Notifications</span>
              <input class="container_toggle" type="checkbox" id="p_chat_n" name="mode" {% if user_settings.p_chat_n %}checked{% endif %}>
              <label for="p_chat_n">Toggle</label>
            </div>
            <div class="notification-setting">
              <span class="p-text">Allow Courses Notifications</span>
              <input class="container_toggle" type="checkbox" id="p_courses_n" name="mode" {% if user_settings.p_courses_n %}checked{% endif %}>
              <label for="p_courses_n">Toggle</label>
            </div>
          </div>

          <div class="divisier"></div>

          <div class="right-block">
            <span class="h1-text">E-Mail notifications</span>
            <div class="notification-setting">
              <span class="p-text">Allow General Notifications</span>
              <input class="container_toggle" type="checkbox" id="email_general_n" name="mode" {% if user_settings.email_general_n %}checked{% endif %}>
              <label for="email_general_n">Toggle</label>
            </div>
            <div class="notification-setting">
              <span class="p-text">Allow Chat Notifications</span>
              <input class="container_toggle" type="checkbox" id="email_chat_n" name="mode" {% if user_settings.email_chat_n %}checked{% endif %}>
              <label for="email_chat_n">Toggle</label>
            </div>
            <div class="notification-setting">
              <span class="p-text">Allow Courses Notifications</span>
              <input class="container_toggle" type="checkbox" id="email_courses_n" name="mode" {% if user_settings.email_courses_n %}checked{% endif %}>
              <label for="email_courses_n">Toggle</label>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script>
  function goBack() {
    window.history.back();
    return false; // Prevent default link behavior
  }

  // Function to log all input values within the .main div
  function logAllInputs() {
    const mainDiv = document.querySelector('.main');
    const inputs = mainDiv.querySelectorAll('input[type="checkbox"]');
    var outputs = {};
    inputs.forEach((input) => {
      outputs[input.id] = input.checked;
    });
    

    // Send the AJAX request with the combined outputs
    ajaxRequest("POST", "/settings_notification/", { outputs: JSON.stringify(outputs) }, function(response) {
       // Log the response for debugging
    }, null, true, "update notification settings", null);
  }

  // Add event listeners to all checkboxes within the .main div
  document.querySelectorAll('.main input[type="checkbox"]').forEach(input => {
    input.addEventListener('change', logAllInputs);
  });
</script>
{% endblock scripts %}
