{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/settingsResetPassword.css" %}?v=1.11">
{% block title %}<title>Change Password | Tunisian Top Gs</title>{% endblock title %}
{% endblock head %}

{% block header %}
{% include "components/navbar.html" %}
{% endblock header %}

{% block main %}
<div class="main">
  <div class="form">
    <a href="#" class="go_back" onclick="goBack()"><i data-lucide="undo-2"></i> Go Back</a>
    <div class="form-header">
      <span class="h1-text">Login & Security</span>
      <span class="p-text">
        Updating a password using the old password involves changing the existing password without additional verification, providing a convenient method for users while emphasizing the importance of maintaining the security of the old password.
      </span>
    </div>
    <div class="form-body">
      <form id="passwordChangeForm">
        {% csrf_token %}
        <div class="field">
          <label for="old-password">Old Password</label>
          <div class="password-field">
            <input type="password" id="old-password-field" name="old_password" placeholder="Enter your old password" />
            <span toggle="#old-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
        </div>
        <div class="field">
          <label for="new-password">New Password</label>
          <div class="password-field">
            <input type="password" id="password-field" name="new_password1" placeholder="Enter your new password" />
            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
        </div>
        <div class="field">
          <label for="confirm-password">Confirm Password</label>
          <div class="password-field">
            <input type="password" id="confirm-password-field" name="new_password2" placeholder="Confirm your password" />
            <span toggle="#confirm-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div>
        </div>
        <div class="form-footer">
          <button type="submit" class="confirm-btn" id="submit-btn">Confirm Password</button>
          <a href="#" onclick="goBack()" class="confirm-btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Success Pop-Up -->
<div id="successPopup" class="popup-message">
  <div class="flex-pops">
    <span id="successPopupMessage" class="span-popup"></span>
    <button id="successPopupCloseButton" class="pop-up-close-button">Close</button>
  </div>
</div>

<!-- Error Pop-Up -->
<div id="errorPopup" class="popup-message error">
  <div class="flex-pops">
    <span id="errorPopupMessage" class="span-popup"></span>
    <button id="errorPopupCloseButton" class="pop-up-close-button">Close</button>
  </div>
</div>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script src="{% static "js/settingsResetPassword.js" %}?v=1.11"></script>
{% endblock scripts %}
