{% extends "course.html" %}
{% load static %}

{% block course-head %}
    <link rel="stylesheet" href="{% static "styles/video-course.css" %}">
    {% comment %} <link rel="stylesheet" href="{% static "styles/notes-course.css" %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "styles/textQuizz-course.css" %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static "styles/lessonComplete.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet">
{% endblock course-head %}

{% block course-content %}
    <div class="container-lesson">
        <div class="content-video-lesson">
            <div class="iconlike" style = "z-index:100">
                <img src="{% static "assets/icon-like.svg" %}" alt="like-icon" />
            </div>
            <div class="wrap-lessons">
                <div class="fill">
                    <span class="lesson-text video-title">{{ video.title }}</span>
                </div>
                <div class="lesson">
                    <div class="lesson-video">
                        {% if video.video_file %}
                            <video controls>
                                <source class="videoSRC" src="{{ video.video_file.url }}" type="video/mp4">
                            </video>
                        {% elif video.image %}
                            <img src="{{ video.image.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="lesson-container">
                        <span class="title-lesson-description">Notes</span>
                        <span class="description-step-video">{{ video.notes|safe }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-lesson">
        
            
            <a href="#" class="keep-next prev-next-bttn" id="nextLessonBtn" data-index="1">NEXT
                <img src="{% static "assets/next.svg" %}" alt="arrow-right" />
            </a>
        </div>
    </div>

    <div class="container-lesson quizzes_next" >
        <div class="content-video-lesson">
                     <div class="iconlike" style = "z-index:100">
                <img src="{% static "assets/icon-like.svg" %}" alt="like-icon" />
            </div>
           
            <div class="fill">
                <span class="lesson-text">Summary</span>
            </div>
            <div class="lesson-container" >
                <span class="context-hints"></span>
                <span class="content-text-inside">
                    {{ video.summary|safe}}
                </span>
            </div>
        </div>
        <div class="next-lesson">
            <div>
                <a href="#" class="prev-btn prev-next-bttn" data-index="0">
                    <img src="{% static "assets/back.svg" %}" alt="arrow-left" />BACK
                </a>
            </div>
            <div>
                <a href="#" class="keep-next prev-next-bttn" data-index="2">NEXT
                    <img src="{% static "assets/next.svg" %}" alt="arrow-right" />
                </a>
            </div>
        </div>
    </div>

    <script>console.log("{{ video.quizzes.count }}")</script>
    {% for quiz in video.quizzes.all %}
    <div class="container-quiz container-lesson">
        <div class="content-video-lesson">
            <div class="title-default-quiz">
                <span class="text-default-quiz">QUIZZES</span>
            </div>
            <div class="fill-question">
                <div class="chosse-answers-wrap">
                <div id="quiz-question" class="quiz-question"></div>
                <!-- <span class="tex-choose">Select an answer : </span> (Not displaying on Error) -->
            </div>
                <ul class="container-answers">
                    {% for option in quiz.options.all %}
                        <li class="option-container answer-option" data-option-id="{{ option.id }}">
                            {% if option.text %}
                            <span class='span-answers-quiz'>{{ option.text }}</span>
                            {% endif %}
                            {% if option.image %}
                            <img class='img-answers-quiz'  src="{{ option.image.url }}" alt="Quiz option image" onclick="openModal('{{ option.image.url }}')">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="next-lesson">
            <div>
                <a href="#" class="prev-btn prev-next-bttn" data-index="{{ forloop.counter }}">
                    <img src="/static/assets/back.svg" alt="arrow-left" />BACK
                </a>
            </div>
            <div>
                {% with next_index=forloop.counter|add:2 %}
                <a href="#" class="keep-next prev-next-bttn quizz-next-page-btn" id="nextLessonBtn" data-index="{{ next_index }}">
                    NEXT <img src="/static/assets/next.svg" alt="arrow-right" />
                </a>
                {% endwith %}
            </div>
        </div>
    </div>
    {% endfor %}
    
    

    <div class="container-lesson tell" id="quiz-container">
        <div class="iconlike">
            <img src="{% static "assets/icon-like.svg" %}" alt="like-icon" />
        </div>
        <div class="lesson-header">
            <img src="{% static "assets/check-icon.png" %}" alt="check-icon" />
            <span class="h1-title">Lesson Complete</span>
        </div>
        <div class="lesson-body">
            <span class="p-text">Congratulations on completing this lesson! 🌟</span>
        </div>
        <div class="next-lesson">
            <div>
                <a href="#" class="prev-btn prev-next-bttn" data-index="2">
                    <img src="{% static "assets/back.svg" %}" alt="arrow-left" />BACK
                </a>
            </div>
            <a href="#" class="keep-next prev-next-bttn quizz-next-page-btn" id="finishStep" data-index="{{ next_index }}">
                Finish Step
                <img src="{% static "assets/next.svg" %}" alt="arrow-right" />
            </a>
        </div>
    </div>
    <div id="lockedCourseMessage" style="display: none;">
        <div class="wrap-locked-step">
        <i data-lucide="lock"></i>
        <p>Steps are completed in order. You can view this step after completing the previous steps.</p>
        <button id="returnToPreviousStep">Return to Previous Step</button>
        </div>
    

    </div>
    
    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    <div id="popupMessageCorrect" class="popup-message" style="display:none;">
        <div class="img-info">
            <i data-lucide="check-circle"></i>
        </div>
        <span id="popupSpanCorrect" class="span-popup">You have answered all quizzes correctly. Well done!</span>
        <button id="popUpCloseButtonCorrect" class="pop-up-close-button">Close</button>
    </div>
    <div id="popupMessageIncorrect" class="popup-message" style="display:none;">
        <div class="img-info">
            <i data-lucide="info"></i>
        </div>
        <span id="popupSpanIncorrect" class="span-popup">You need to pass all quizzes correctly to proceed to the next step.</span>
        <button id="popUpCloseButtonIncorrect" class="pop-up-close-button">Close</button>
    </div>
    
{% endblock course-content %}

{% block scripts %}
<script>
    function openModal(imageUrl) {
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("img01");
        modal.style.display = "block";
        modalImg.src = imageUrl;
    }

    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    // Close the modal when the user clicks outside of the image
    window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>
    var level_id = {{ level.id }};
    var static_url = "{% static '' %}";
    var checkMarkSrc = "{% static 'assets/Check Mark.png' %}";
    var closeMarkSrc = "{% static 'assets/Close.png' %}";
</script>
<script src="https://cdn.jsdelivr.net/npm/prismjs"></script>
<script>
    Prism.highlightAll();
</script>
<script src="{% static 'js/academy.js' %}"></script>
{% endblock scripts %}