{% extends 'base-theme.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/datatables.css' %}">

{% endblock css %}




{% block content %}

<div class="col-sm-12">
    <div class="card">
        
        <div class="card-body">
            {% include 'admin/includes/alert-messages.html' %}

            <form method="post" id="admin-add-form">
                {% csrf_token %}

                <div class="form-floating mb-3">
                    <input class="form-control" id="size" name="size" type="text" placeholder="Size" required>
                    <label for="size">Size</label>
                </div>

                {% include 'admin/includes/common-form.html' %}
            </form>
        </div>
    </div>
</div>
  
{% endblock content %}




{% block scriptcontent %} 


    <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script>

    </script>

{% endblock %}    
