{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static "styles\components\course.css" %}">
{% comment %} href="{% if user.is_authenticated %}/courses/{{course.url_title}}/levels {% else %}{% url "course_detail" course_url_title=course.url_title %}{% endif %}" {% endcomment %}
<div class="course" data-image="{{course.img.url}}" data-tag="{{course.category}}" data-title="{{course.title}}" data-description="{{course.mini_description}}" >
    <div class="course_img ">
        <img src="{{course.img.url}}" alt="">
    </div>
    <div class="course_role">{{ course.category }}</div>
    <div class="course_title">{{ course.title }}</div>
    <div class="course_description">{{ course.mini_description }}</div>
    {% comment %} <div class="progress_bar"></div> {% endcomment %}
    <div class="progress_bar progress-bar pbbr" style='height: 10px;background: white;border-radius: 5px;'>
        <div class="progress-bar-inner points pbar" style="width:{{course|calculate_progress_percentage:request.user}}%;border-radius: 5px;background-color: #9747FF !important;height: 10px !important;"></div>
    </div>
    <div class="pfps">
        <div class="rest_cont">
            {% for user in course.enrolled_users.all|slice:":3" %}
                <img src="{{ user.pfp.url }}" alt="{{ user.username }}">
            {% empty %}
                <img src="{% static "assets/dev-owner-icon.png" %}" alt="Default Image">
            {% endfor %}
            <div class="members_count">+{{ course.fake_enrollment }}</div>
        </div>
        <div class="btn_cont">
            <a href="{% url "levels" course_url_title=course.url_title %}" class="enrollement_btn">Continue</a>
        </div>
    </div>
</div>