{% load static %}
<link rel="stylesheet" href="{% static 'styles/components/landnav.css' %}?v=1.1">
<link rel="stylesheet" href="{% static 'styles/preloader.css' %}?v=1.1">

<div class="div-center-navbar">
    <div class="header-navbar">
        <div class="logo-g">
            <img
                src="{% static 'assets/logo-white-landing.png' %}"
               
                id="logolanding"
                data-light-logo="{% static 'assets/logo-black-landing.png' %}"
                data-dark-logo="{% static 'assets/logo-white-landing.png' %}"
            />
        </div>
        <ul class="navbar-list">
            <a class="links-aa" href="{% url "home" %}">
                <span class="list">Home</span>
            </a>
            <a class="links-aa" href="{% url "courses" %}">
                <span class="list">Academy</span>
            </a>
            <a class="links-aa" href="#Aboutus">
                <span class="list gij">About Us</span>
            </a>
            <a class="links-aa" href="{% url 'contact-us' %}">
                <span class="list">Contact</span>
            </a>
        </ul>

        {% if not user.is_authenticated %}
        <div class="buttons">
            <a href="{% url 'login' %}" class="btn btn-login">Login</a>
            <a href="{% url 'register' %}" class="btn btn-signup">Sign Up</a>
        </div>
        {% else %}
        <div class="right-profile" id="profile-dropdown">
            <a class="wrap-button-landing" href="{% url 'home' %}">
                <img class="profile-imgs" src="{{ user.pfp.url }}" alt="">
                <span class="username-under">Hi, {{ user.username }}</span>
            </a>
            <div class="container-profile">
                <div class="user-dropdown">
                    <img class="profile-imgs-drop" src="{{ user.pfp.url }}" alt="">
                    <div class="fols">
                        <span class="username-under">Hi, {{ user.username }}</span>
                        <span class="Emmail-user">{{ user.email }}</span>
                    </div>
                </div>
                <a href="{% url 'cart' %}" class="settings-profile">
                    <span class="settings-text">Cart</span>
                </a>
                <a href="{% url 'personal_info' %}" class="settings-profile">
                    <span class="settings-text">Edit Profile</span>
                </a>
                <a href="{% url 'settings' %}" class="settings-profile">
                    <span class="settings-text">Settings</span>
                </a>
                <a href="{% url 'contact-us' %}" class="settings-profile">
                    <span class="settings-text">Need Help</span>
                </a>
                <a class="logout-profile" href="{% url 'logout' %}">
                    <span class="logout-text">Log out</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="navbar">
  <div class="container nav-container">
      <input class="checkbox" type="checkbox" id="navToggle" />
      <div class="hamburger-lines" id="hamburger">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <div class="menu-items" id="dropDownMenu">
        <ul class="ul-wrapburg">
          <li>
            <div class="profile-info">
                {% if user.is_authenticated %}
                    <img class="profile-imgs-drop" src="{{ user.pfp.url }}" alt="">
                    <span class="username">{{ user.username }}</span>
                {% endif %}
            </div>
          </li>
              <li><a href="{% url 'home' %}"><i data-lucide="home" color="white"></i>Home</a></li>
              <li><a href="{% url "courses" %}"><i data-lucide="book-open"></i></i>Academy</a></li>
              <li><a href="#Aboutus"><i data-lucide="library-big"></i>About Us</a></li>
              <li><a href="{% url 'contact-us' %}"><i data-lucide="phone"></i>Contact Us</a></li>
              {% if not user.is_authenticated %}
                  <li><a href="{% url 'login' %}" class="btn btn-login"><i data-lucide="scan-face"></i>Login</a></li>
                  <li><a href="{% url 'register' %}" class="btn btn-signup"><i data-lucide="log-in"></i>Sign Up</a></li>
              {% else %}
                  <li><a href="{% url 'cart' %}"><i data-lucide="shopping-basket"></i>Cart</a></li>
                  <li><a href="{% url 'personal_info' %}"><i data-lucide="user-round-cog"></i>Edit Profile</a></li>
                  <li><a href="{% url 'settings' %}"><i data-lucide="bolt"></i>Settings</a></li>
                  <li><a href="{% url 'logout' %}" class="logout-profile"><i data-lucide="log-out"></i>Log out</a></li>
              {% endif %}
              <div class="socialmedia">
                  <a href="https://www.instagram.com/tunisian_topgs/"><i data-lucide="facebook" color="white"></i></a>
                  <a href="https://www.instagram.com/tunisian_topgs/"><i data-lucide="instagram" color="white"></i></a>
                  <a href="https://www.instagram.com/tunisian_topgs/"><i data-lucide="twitter" color="white"></i></a>
              </div>
          </ul>
      </div>
  </div>
</div>