{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'styles/components/landnav.css' %}?v=2.0.3"> {% endcomment %}

<div class="div-center-navbar">
    <div class="gradient1"></div>
    <div class="header-navbar">
        <div class="header__logo">
            <img src="{% static 'assets/landing/logo.webp' %}" alt="Tunisian Top Gs">
        </div>
        <div class="header__elements">
            <a href="/home" class="elements__element active">Home</a>
            <a href="/courses" class="elements__element">Academy</a>
            <a href="/book" class="elements__element">Book</a>
            <a href="/lessons" class="elements__element">Lessons</a>
            <a href="/contact-us" class="elements__element">Contact us</a>
        </div>
    
        {% if not user.is_authenticated %}
        <div class="header__buttons">
            <a href="{% url 'login' %}" class="buttons__login">Student login</a>
            <a href="{% url 'courses' %}" class="buttons__register">START NOW</a>
        </div>
        {% else %}
        <div class="right-profile" id="profile-dropdown">
            <a class="wrap-button-landing" href="{% url 'home' %}">
                <img class="profile-imgs" src="{{ user.pfp.url }}" alt="">
                <span class="username-under">Hi, {{ user.username }}</span>
            </a>
            <div class="container-profile">
                <div class="user-dropdown">
                    <img class="profile-imgs-drop" src="{{ user.pfp.url }}" alt="">
                    <div class="fols">
                        <span class="username-under">Hi, {{ user.username }}</span>
                        <span class="Emmail-user">{{ user.email }}</span>
                    </div>
                </div>
                <a href="{% url 'cart' %}" class="settings-profile">
                    <span class="settings-text">Cart</span>
                </a>
                <a href="{% url 'personal_info' %}" class="settings-profile">
                    <span class="settings-text">Edit Profile</span>
                </a>
                <a href="{% url 'settings' %}" class="settings-profile">
                    <span class="settings-text">Settings</span>
                </a>
                <a href="{% url 'contact-us' %}" class="settings-profile">
                    <span class="settings-text">Need Help</span>
                </a>
                <a class="logout-profile" href="{% url 'logout' %}">
                    <span class="logout-text">Log out</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="navbar">
    <div class="container nav-container">
        <input class="checkbox" type="checkbox" id="navToggle" />
        <div class="hamburger-lines" id="hamburger">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <div class="menu-items" id="dropDownMenu">
            <ul class="ul-wrapburg">
                <li>
                    <div class="profile-info">
                        {% if user.is_authenticated %}
                            <img class="profile-imgs-drop" src="{{ user.pfp.url }}" alt="">
                            <span class="username">{{ user.username }}</span>
                        {% endif %}
                    </div>
                </li>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="{% url 'courses' %}"><i class="fas fa-book-open"></i>Academy</a></li>
                <li><a href="{% url 'book' %}"><i class="fas fa-book"></i>Book</a></li>
                <li><a href="#Aboutus"><i class="fas fa-info-circle"></i>About Us</a></li>
                <li><a href="{% url 'contact-us' %}"><i class="fas fa-phone"></i>Contact Us</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}" class="btn btn-login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                    <li><a href="{% url 'register' %}" class="btn btn-signup"><i class="fas fa-user-plus"></i>Sign Up</a></li>
                {% else %}
                    <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>Cart</a></li>
                    <li><a href="{% url 'personal_info' %}"><i class="fas fa-user-cog"></i>Edit Profile</a></li>
                    <li><a href="{% url 'settings' %}"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="{% url 'logout' %}" class="logout-profile"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
                {% endif %}
                <div class="socialmedia">
                    <a href="https://www.instagram.com/tunisian_topgs/"><i class="fab fa-facebook" color="white"></i></a>
                    <a href="https://www.instagram.com/tunisian_topgs/"><i class="fab fa-instagram" color="white"></i></a>
                    <a href="https://www.instagram.com/tunisian_topgs/"><i class="fab fa-twitter" color="white"></i></a>
                </div>
            </ul>
        </div>
    </div>
</div>
