@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--body-bg: #201654;
	--body-color: #fff;
	--font: "Poppins", sans-serif;
}

input[type="radio"] {
	--c: #a45cf6;
	--s: 1em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	aspect-ratio: 1;
	background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
	border-radius: 50%;
	border: calc(var(--s) / 8) solid #939393;
	cursor: pointer;
	font-size: inherit;
	height: var(--s);
	margin: 0;
	outline-offset: calc(var(--s) / 10);
	padding: calc(var(--s) / 8);
	transition: 0.3s;
}

input[type="radio"]:checked {
	background-size: 100% 100%;
	border-color: var(--c);
}
.price-details{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.discount_price{
	color: #f6faff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
	text-decoration: line-through;
}
#confirmUnlock {
	background: linear-gradient(309deg,#b319ff5e -18.01%,#ff004f 142.51%);
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
}

#confirmUnlock:active {
	transform: scale(0.95);
	transition: 0.3s;
}

#confirmUnlock:hover {
	background-color: #45a049;
}

.badge {
	display: flex;
	height: 20px;
	width: 20px;
}

.badges {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.close {
	align-self: flex-end;
	color: #aaa;
	cursor: pointer;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:focus, .close:hover {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.contact-methodes {
	align-items: center;
	align-items: flex-start;
	backdrop-filter: blur(6px);
	background: rgba(73,73,73,0.12);
	border-radius: 10px;
	border: 0.5px solid #fff;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: fit-content;
	padding: 0.7rem;
	width: 100%;
}

.container {
	align-items: flex-start;
	display: flex;
	gap: 20px;
	justify-content: center;
	padding-top: 25px;
}

.coupon, .delivery, .discount, .price, .shipping, .total {
	display: flex;
	justify-content: space-between;
	width: 95%;
}

.course-container {
	width: 50%;
}

.course-container > .h1-text {
}

.course-container video {
	align-self: center;
	border-radius: 15px;
	border: 1px solid #ffffff;
	display: block;
	width: 90%;
}

.course-description {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.course-details {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.course-details > .special-btn {
	align-items: center;
	align-self: baseline;
	background: linear-gradient(309deg,#b319ff5e -18.01%,#ff004f 142.51%);
	border-radius: 10px;
	border: none;
	color: #fff;
	display: flex;
	font-size: 20px;
	font-weight: 600;
	gap: 12px;
	justify-content: center;
	padding: 10px 20px;
	text-decoration: none;
	width: 50%;
}

.course-details > .special-btn:hover {
	box-shadow: inset 0px 0px 20px 0px #d0d5d2;
	transition: box-shadow 0.7s ease;
}

.course-details > .special-btn:hover span {
	-webkit-animation: text-flicker-out-glow 2.5s linear both;
	animation: text-flicker-out-glow 2.5s linear both;
}

.course-details > .special-btn:hover svg {
	color: #5cff9c;
	transform: rotate(360deg);
	transition: transform 0.7s ease;
}

.course-features, .course-requirements {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.course-img {
	border-radius: 10px;
	border: 1px solid #ffffff;
	height: 500px;
	object-fit: cover;
	width: 100%;
}

.course-title svg {
	color: #ffd60069;
}

.course-title, .title-flex {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	text-transform: capitalize;
}

.delivery-container {
	backdrop-filter: blur(6px);
	background: rgba(73,73,73,0.12);
	border-radius: 10px;
	border: 0.5px solid #fff;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: fit-content;
	padding: 2rem;
}

.delivery-container > .Title {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.dot-btn {
	background-color: #dcdcdc;
	border-radius: 50%;
	border: transparent;
	cursor: pointer;
	height: 8px;
	width: 8px;
}

.features-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	padding-left: 1rem;
}

.features-list > li {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.features-list > li > svg {
	color: #ff9140;
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.greener {
	color: #5cff9c;
}

.h1-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.item-color > .p-text, .item-size > .p-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 275;
	line-height: 24px;
}

.item-color, .item-size {
	color: #bdc4cd;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 275;
	line-height: 24px;
}

.item-container {
	background: rgba(173,171,171,0.05);
	border-radius: 8px;
	display: flex;
	height: 209px;
	width: 613px;
}

.item-description {
	align-items: center;
	display: flex;
	width: 85%;
}

.item-description > img {
	height: 171px;
	width: 203px;
}

.item-price {
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
}

.item-price > .h1-text {
	color: #5cff9c;
	font-size: 27px;
	font-style: italic;
	font-weight: 700;
}

.item-recap {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	height: 80%;
}

.item-recap > .h1-text {
	color: #f5f5f5;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}

.items-container {
	align-content: center;
	background: rgba(73,73,73,0.12);
	border-radius: 10px;
	border: 0.5px solid #fff;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: fit-content;
	justify-content: center;
	padding: 1rem 1.7rem;
}

.items-container > .Title {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.items-container > form .input-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.items-container > form div {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
}

.items-container > form input {
	align-items: center;
	align-self: stretch;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #a2a3b1;
	color: #fff;
	display: flex;
	font-size: 15px;
	gap: 16px;
	height: 52px;
	justify-content: center;
	padding-left: 1rem;
}

.items-container > form label {
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.items-list {
	height: 90vh;
	overflow-y: scroll;
}

.items-list::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0;
}

.limited-text {
	overflow: hidden;
	position: relative;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 1920px;
	padding: 20px 0;
	width: 100%;
}

.modal {
	-webkit-animation: fade-in 0.3s cubic-bezier(0.390,0.575,0.565,1.000) both;
	animation: fade-in 0.3s cubic-bezier(0.390,0.575,0.565,1.000) both;
	backdrop-filter: blur(15px);
	background-color: rgb(0 0 0 / 14%);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal-content {
	align-items: center;
	background: linear-gradient(309deg,#b319ff5e -18.01%,#000000 142.51%);
	border-radius: 10px;
	border: 1px solid #888;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 20%;
	margin: 15% auto;
	max-width: 500px;
	padding: 8px 40px;
	text-align: center;
	width: 83%;
}

.modal-content > p {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

.order {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: fit-content;
	width: 15rem;
}

.order-container {
	align-items: flex-start;
	backdrop-filter: blur(6px);
	background: rgba(73,73,73,0.12);
	border-radius: 10px;
	border: 0.5px solid #fff;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: fit-content;
	padding: 32px;
	width: 100%;
}

.order-details > .h1-text {
	align-self: stretch;
	color: #ededed;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.order-details, .order-total {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

.order-total > .btn {
	align-items: center;
	align-self: stretch;
	background: linear-gradient(309deg,#b319ff5e -18.01%,#ff004f 142.51%);
	border-radius: 4px;
	border: none;
	color: #fff;
	display: flex;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 700;
	gap: 16px;
	justify-content: center;
	padding: 13px 40px;
	text-decoration: none;
	text-transform: uppercase;
}

.order-total > .btn:hover {
	background: linear-gradient(309deg,#b319ff5e -18.01%,#5cff9c 142.51%);
	box-shadow: inset 0px 0px 20px 0px #5cff9c;
	transition: box-shadow 0.7s ease;
}

.order-total > .btn:hover span {
	-webkit-animation: text-flicker-out-glow 2.5s linear both;
	animation: text-flicker-out-glow 2.5s linear both;
}

.order-total > .btn:hover svg {
	color: #5cff9c;
	transform: rotate(360deg);
	transition: transform 0.7s ease;
}

.order-total > input {
	align-items: center;
	align-self: stretch;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #a2a3b1;
	color: #fff;
	display: flex;
	font-size: 15px;
	gap: 16px;
	height: 52px;
	justify-content: center;
	padding-left: 1rem;
}

.p-text {
	color: #f6faff;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.payment-method .payment {
	align-items: center;
	background: rgba(73,73,73,0.12);
	border-radius: 10px;
	border: 1px solid #a45cf6;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	padding: 10px;
	width: 50%;
}

.payment-method .payment > label {
	margin-right: auto;
}

.place-order {
	color: #fff;
	font-size: small;
	font-weight: 200;
}

.professor {
	align-items: center;
	display: flex;
	gap: 1rem;
}

.professor-details {
	display: flex;
	flex-direction: column-reverse;
}

.professor-details .h1-text {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-transform: capitalize;
}

.professor-details .p-text:first-child {
	color: #bdc4cd;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.professor-img {
	border-radius: 50%;
	border: 2px solid #d2d2d2;
	height: 50px;
	width: 50px;
}

.professor-img img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.professor-name {
	display: flex;
	gap: 0.5rem;
}

.requirements-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	padding-left: 1rem;
}

.requirements-list > li {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.requirements-list > li > svg {
	color: #40ff6b;
}

.see-more {
	color: white;
	cursor: pointer;
	display: none;
	font-size: 18px;
	padding-left: 30px;
	position: relative;
	text-decoration: underline;
}

.see-more:hover {
	color: #5cff9c;
	transition: 0.6s ease-in-out;
}

.support-button {
	align-items: center;
	background: linear-gradient( 90deg, rgba(255,255,255,0.07) 0%, rgba(255,255,255,0.07) 100% );
	border-radius: 7.238px;
	border: 0.514px solid #f5f5f54a;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: Poppins;
	font-size: 14.539px;
	font-style: normal;
	font-weight: 600;
	gap: 8px;
	letter-spacing: 0.145px;
	line-height: normal;
	padding: 5px 1rem;
	text-align: center;
	width: 30%;
}

.support-buttons {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 12px 0;
	justify-content: space-around;
}

.support-titles {
	display: flex;
	flex-direction: column;
}

.title-flex svg {
	color: #ffffff82;
}

.total > .p-text {
	font-weight: 600;
}

.wrap-redirected {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrap-redirected > p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}

.wrap-redirected svg {
	animation: spin 2s linear infinite;
	margin-bottom: 15px;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes text-flicker-out-glow {
	0% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 60px rgba(255,255,255,0.45), 0 0 110px rgba(255,255,255,0.25), 0 0 100px rgba(255,255,255,0.1);
	}

	100% {
		opacity: 0;
	}

	13.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 60px rgba(255,255,255,0.45), 0 0 110px rgba(255,255,255,0.25), 0 0 100px rgba(255,255,255,0.1);
	}

	14% {
		opacity: 0;
		text-shadow: none;
	}

	14.9% {
		opacity: 0;
		text-shadow: none;
	}

	15% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.4), 0 0 110px rgba(255,255,255,0.2), 0 0 100px rgba(255,255,255,0.1);
	}

	22.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.4), 0 0 110px rgba(255,255,255,0.2), 0 0 100px rgba(255,255,255,0.1);
	}

	23% {
		opacity: 0;
		text-shadow: none;
	}

	24.9% {
		opacity: 0;
		text-shadow: none;
	}

	25% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35), 0 0 100px rgba(255,255,255,0.1);
	}

	34.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35), 0 0 100px rgba(255,255,255,0.1);
	}

	35% {
		opacity: 0;
		text-shadow: none;
	}

	39.9% {
		opacity: 0;
		text-shadow: none;
	}

	40% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35);
	}

	42.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35);
	}

	43% {
		opacity: 0;
		text-shadow: none;
	}

	44.9% {
		opacity: 0;
		text-shadow: none;
	}

	45% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	50% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	54.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	55% {
		opacity: 0;
		text-shadow: none;
	}

	69.4% {
		opacity: 0;
		text-shadow: none;
	}

	69.5% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	69.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	70% {
		opacity: 0;
		text-shadow: none;
	}

	79.4% {
		opacity: 0;
		text-shadow: none;
	}

	79.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.25);
	}

	80% {
		opacity: 0;
		text-shadow: none;
	}

	89.8% {
		opacity: 0;
		text-shadow: none;
	}

	89.9% {
		opacity: 1;
		text-shadow: none;
	}

	90% {
		opacity: 0;
		text-shadow: none;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes text-flicker-out-glow {
	0% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 60px rgba(255,255,255,0.45), 0 0 110px rgba(255,255,255,0.25), 0 0 100px rgba(255,255,255,0.1);
	}

	100% {
		opacity: 1;
	}

	13.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.6), 0 0 60px rgba(255,255,255,0.45), 0 0 110px rgba(255,255,255,0.25), 0 0 100px rgba(255,255,255,0.1);
	}

	14% {
		opacity: 0;
		text-shadow: none;
	}

	14.9% {
		opacity: 0;
		text-shadow: none;
	}

	15% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.4), 0 0 110px rgba(255,255,255,0.2), 0 0 100px rgba(255,255,255,0.1);
	}

	22.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.4), 0 0 110px rgba(255,255,255,0.2), 0 0 100px rgba(255,255,255,0.1);
	}

	23% {
		opacity: 0;
		text-shadow: none;
	}

	24.9% {
		opacity: 0;
		text-shadow: none;
	}

	25% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35), 0 0 100px rgba(255,255,255,0.1);
	}

	34.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35), 0 0 100px rgba(255,255,255,0.1);
	}

	35% {
		opacity: 0;
		text-shadow: none;
	}

	39.9% {
		opacity: 0;
		text-shadow: none;
	}

	40% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35);
	}

	42.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.55), 0 0 60px rgba(255,255,255,0.35);
	}

	43% {
		opacity: 0;
		text-shadow: none;
	}

	44.9% {
		opacity: 0;
		text-shadow: none;
	}

	45% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	50% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	54.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	55% {
		opacity: 0;
		text-shadow: none;
	}

	69.4% {
		opacity: 0;
		text-shadow: none;
	}

	69.5% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	69.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.45), 0 0 60px rgba(255,255,255,0.25);
	}

	70% {
		opacity: 0;
		text-shadow: none;
	}

	79.4% {
		opacity: 0;
		text-shadow: none;
	}

	79.9% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255,255,255,0.25);
	}

	80% {
		opacity: 0;
		text-shadow: none;
	}

	89.8% {
		opacity: 0;
		text-shadow: none;
	}

	89.9% {
		opacity: 1;
		text-shadow: none;
	}

	90% {
		opacity: 0.7;
		text-shadow: none;
	}
}

@media screen and (max-width: 1440px) {
	.course-container {
		width: 60%;
	}

	.items-container {
		padding: 1em 1rem;
	}

	.support-button {
		width: 74%;
	}

	.support-buttons {
		flex-direction: column;
		width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	.course-container {
		width: 60%;
	}

	.items-container {
		padding: 2rem 1rem;
	}

	.support-button {
		width: 84%;
	}

	.support-buttons {
		flex-direction: column;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	main {
		flex-direction: column;
		padding: 10px;
	}

	.contact-methodes {
		padding: 1.7rem;
	}

	.contact-methodes, .course-container, .order-container {
		width: 90%;
	}

	.container {
		align-items: center;
		flex-direction: column;
	}

	.coupon, .delivery, .discount, .price, .shipping, .total {
		width: 100%;
	}

	.course-title svg {
		height: 32px;
		width: 32px;
	}

	.features-list, .requirements-list {
		padding-left: 0;
	}

	.item-container {
		flex-direction: column;
		height: auto;
		justify-content: center;
		width: auto;
	}

	.item-description {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}

	.item-price {
		align-items: flex-end;
		display: flex;
		justify-content: center;
	}

	.items-container > form div {
		flex-direction: column;
	}

	.order {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.payment-method .payment {
		width: 100%;
	}

	.support-button {
		width: 84%;
	}

	.support-buttons {
		flex-direction: column;
		width: 100%;
	}

	.title-flex {
		font-size: 19px;
	}
}

@media only screen and (max-width: 456px) {
	.course-details > .special-btn {
		width: 100%;
	}

	.course-features, .course-requirements {
		gap: 15px;
	}

	.modal-content {
		height: auto;
		margin: 25% auto;
		padding: 25px 20px;
	}
	.course-img {
		border-radius: 10px;
		border: 1px solid #ffffff;
		height: 280px;
		object-fit: cover;
		width: 100%;
	}
}

@media only screen and (max-width: 350px) {
	.course-details > .special-btn {
		font-size: 16px;
	}

	.order-total > .btn {
		font-size: 12px;
	}
}







