:root {
	--Secondary-Primary-White: #FFFFFF;
	--Grey-White: #F5F5F5;
	--Color: #F5F5F5;

}

.dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-flow: row wrap;
}
.left-chart-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}
.right-chart-container{
	width: 385px;
    height: 785px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(29, 29, 29, 0.32);
    box-shadow: 0px 4px 112.4px 0px rgba(151, 71, 255, 0.46);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.upper-left-container{
    border-radius: 20px;
    background: rgba(29, 29, 29, 0.32);
    backdrop-filter: blur(60px);
    width: 1020px;
    height: 475px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
	box-shadow: 0px 4px 112.4px 0px rgba(151, 71, 255, 0.46);
}
.counter-up{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 25px;
}
.flex-counter{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}
.counter-up-title{
	color: var(--Secondary-Primary-White, var(--Color, #FFF));
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 25.2px */
}
.counter-up-value {
	color: #9747FF;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 26.6px */
}
.profits{
	color: #05CD99;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 26.6px */
}
.losses {
	color: #E65543;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%; /* 26.6px */
}
.dropdown-Yearly-monthly {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #A45CF6;
    background: rgba(164, 92, 246, 0.20);
    display: flex;
	flex-direction: row-reverse;
    justify-content: center;
	gap: 10px;
    align-items: center;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-Yearly-monthly:hover {
    background: rgba(164, 92, 246, 0.30);
}

.dropdown-selected {
    font-weight: 200;
	font-size: 17px;
    color: #ffffff;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
	border-left: 1px solid #A45CF6;
	border-right: 1px solid #A45CF6;
	border-bottom: 1px solid #A45CF6;
    /* border-radius: 6px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.dropdown-Yearly-monthly:hover .dropdown-options {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-option {
    padding: 8px;
    color: #ffffff;
    background-color: #3f2974;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 12px;
}

.dropdown-option:hover {
    background: rgba(164, 92, 246, 0.1);
}

i.fas.fa-caret-down {
    color: #ffffff;
    transition: transform 0.3s ease;
}

.dropdown-Yearly-monthly:hover i.fas.fa-caret-down {
    transform: rotate(180deg);
}

/* ----------------- */
/* Chart Js */
/* ----------------- */

.chart-loader {
	align-items: center;
	background: rgb(0 0 0 / 43%);
	color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.charts {
	height: 70%;
	width: 100%;
}
.spinner {
	animation: spin 1s linear infinite;
	border-left-color: #ffffff;
	border-radius: 50%;
	border: 4px solid rgba(255,255,255,0.1);
	color: white;
	height: 40px;
	width: 40px;
}

/* bottom Left Div */
.bottom-left-container{
	display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
	
}

.supportdiv{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 20px;
    background: #0A0338;
    width: 300px;
    height: 280px;
    position: relative;
    align-items: center;
    gap: 15px;
}

 .support-title{
	color: var(--Grey-White, var(--Color, #FFF));
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px; /* 155.556% */
 }
 .support-text{
    color: var(--Color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    text-transform: capitalize;
    width: 280px;
 }
 .support-button{
    border-radius: 6px;
    background: var(--Color, #FFF);
    text-decoration: none;
    /* display: inline-flex; */
    padding: 10px 15px;
    justify-content: center;
    /* align-items: center; */
    /* gap: 6px; */
    color: #0E0638;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;

 }
 .supportdiv > img {
	width: 120px;
    height: 120px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
 }

 /* member of the month */

 .motm {
    border-radius: 20px;
    background: #FFBC00;
    width: 440px;
    height: 280px;
    flex-shrink: 0;
    position: relative;
    background-image: url(../assets/deco1.png), url(../assets/deco1.png);
    background-position: 379px -5px, left -7px bottom -68px;
    background-repeat: no-repeat;
    background-size: 97px 97px, 115px 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 24.4px 0px rgb(255 188 0 / 56%);
}

.motm-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.counter-up-title{
	color: var(--Color, #FFF);
	text-align: center;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 800;
	line-height: 128.025%; /* 32.006px */
	letter-spacing: -0.5px;
}
.middle-motm{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.middle-motm > img{
	width: 140px;
	height: 140px;
	flex-shrink: 0;
	border-radius: 100px;
	object-fit: cover;
	
}
.motm-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-motm {
    color: #9747FF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}
.prgh-motm {
    color: #352C7B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-transform: capitalize;
}

 .show-profile{
	display: flex;
    color: var(--Color, #FFF);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 6px;
    background: #9747FF;
    padding: 10px 16px;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    width: 35%;
    justify-content: center;
    align-self: end;
 }
 .deco-1 , .deco-2{
	width: 97px;
	height: 97px;
	flex-shrink: 0;
 }

 /* Crypto Display */

 .crypto-display{
	display: flex;
    width: 232px;
    height: 280px;
    border-radius: 20px;
    background: radial-gradient(69.77% 69.77% at 35.06% 113.44%, rgba(5, 205, 153, 0.20) 0%, rgba(5, 205, 153, 0.00) 100%), #0A0338;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
 .slider-arrow-up{
	width: 231px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: radial-gradient(69.77% 69.77% at 35.06% 113.44%, rgba(5, 205, 153, 0.20) 0%, rgba(5, 205, 153, 0.00) 100%), #ffffff1c;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
 }
 .crypto-list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
 }
 .crypto-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
 }
 .slider-arrow-down , slider-arrow-up{
	width: 231px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: radial-gradient(69.77% 69.77% at 35.06% 113.44%, rgba(5, 205, 153, 0.20) 0%, rgba(5, 205, 153, 0.00) 100%), #ffffff1c;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
 }
 .slider-arrow-down {
    border-radius:  0px 0px 20px 20px;

 }
 .fas {
	color: #ffffff;
 }
 .top-section-cry{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
 }
 .top-section-cry > img {
	width: 40px;
	height: 39px;
 }
 .crypto-name{
	color: #F7931A;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
 }
 .crypto-value{
	color: #05CD99;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
 }
 .crypto-item{
	filter: drop-shadow(0px 4px 30.6px #05CD99);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .crypto-item > svg {

} */

/* ----------------- */
/* Right Div */
/* ----------------- */
.ranking-container{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
 
.title-leard{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
	gap: 10px;
}
.title-leard > svg {

}
.title-ranking {
	color: var(--Color, #FFF);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%; /* 22.4px */
	letter-spacing: -0.32px;
	text-transform: capitalize;
}
.ranking-user{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}
.user-ranking-list:nth-child(1){
	border-radius: 6px;
	background: rgba(151, 71, 255, 0.30);
}
.user-ranking-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 6px;
    width: 330px;
    height: 50px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.profile-user-ranking{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.ranking-pic {
	width: 35px;
    height: 46px;
    flex-shrink: 0;
}
.user-rank-leard{

}
.profile-user-pic{
    width: 41px;
    height: 41px;
    flex-shrink: 0;
	border-radius: 50%;
	object-fit: cover;

}
.profile-user-name{

}
.username-rank-leard{
    color: #E4EBFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.24px;
}
.ranking-amount-container{
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.10);
    min-width: 70px;
    max-height: 30px;
}
.amount-trade{
	color: #05CD99;
	text-align: right;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 218.182% */
	letter-spacing: -0.22px;
}

/* Transaction Historu */
.last-transaction-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}
.transactions-history{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}
.profile-picture-container > img {
	width: 41px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
}
.transaction-amount-container{
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.10);
    min-width: 70px;
    max-height: 30px;
}
.amount-trade{
	color: #05CD99;
	text-align: right;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 218.182% */
	letter-spacing: -0.22px;
}
.foll{
	color: #E4EBFF;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 200% */
	letter-spacing: -0.24px;
}
.history-user-transc{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 6px;
    width: 330px;
    height: 50px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.data-transaction-text{
	color: #E4EBFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.17px;
}
.ianloine{
	display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.data-transaction-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.data-transaction{
	color: rgba(229, 232, 237, 0.78);
    text-align: right;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.18px;
    text-transform: uppercase;
	width: 60px;
}
.transaction-info-text{
	color: #05CD99;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 5px; */
    /* letter-spacing: -0.18px;*/
}
.loss-background{
	background: rgba(212, 42, 23, 0.19);
	color: red;
}
.profit-background{
	background: rgba(5, 205, 153, 0.19);
}
.transaction-info-text-loss{
	color: red;
}
.transaction-info-text-profit{
	color: #05CD99;
}
.amount-trade-loss{
	color: red;
}
.transaction-info-text{
	color: #05CD99;
}

/* Add Transaction */
.prgh-add{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.prgh-add > span {
	color: #E4EBFF;
	font-family: Poppins;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 156%; /* 17.16px */
	text-transform: capitalize;
}
.add-transactio-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 298px;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(104deg, #9747FF 12.89%, #1890FF 133.86%);
    color: var(--Color, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
}
.add-transaction{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}