@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea {
	font: inherit;

}

/* VARIABLES */
:root {
	/* COLORS */
	/* PALLET */
	--PRIMARY-C: #a45cf6;
	--SECONDARY-C: #232323;
	--background-c: rgb(27 22 26 / 85%);
	--PRIVILY-C: #ea4ee3;
	--WHITE-C: #ffffff;
	--BUTTON-C: #ffda00;
	--BORDER-C: #ffbb38;
	--GREEN-C: #00bf63;
	--GRAY-C: #8a8a8a;
	--RED-C: #f14343;
	--hue: 223;
	--bg: hsl(var(--hue), 10%, 90%);
	--fg: hsl(var(--hue), 10%, 10%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
	/* FONTS */
	--FC: var(--WHITE-C);
	--FF: 'Poppins', sans-serif;

	/* BORDERS */
	--BORDER-RADIUS: 5px;
	--BTN--BORDER-RADIUS: 15px
}


/* || UTILITY CLASSES */
.offscreen {
	position: absolute;
	left: -10000px;
}

.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center;
}

.unselectable {
	user-select: none;
}

a {
	text-decoration: none;
}


/* GENERAL STYLES */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;
}
  
body {
    background-size: cover;
    height: 100%;
    font-family: var(--FF);
    position: relative; /* Make body relative for positioning ::before */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0; /* Remove default margin */


    background-image: url('../assets/SPACE.webp');
    background-position: top left;
    background-repeat: repeat;
    background-size: 310px;
}

.body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #040429;
    opacity: 1;
    mix-blend-mode: color-dodge;
    filter: blur(0px) brightness(0.8);
    z-index: -1;
    pointer-events: none;
}
