body {
    background-size: cover;
    height: 100%;
    font-family: var(--FF);
    position: relative; /* Make body relative for positioning ::before */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0; /* Remove default margin */
    background-image: url('../assets/SPACE.webp');
    background-position: top left;
    background-repeat: repeat;
    background-size: 310px !important;
}

.body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #040429;
    opacity: 1;
    mix-blend-mode: color-dodge;
    filter: blur(0px) brightness(0.8);
    z-index: -1;
    pointer-events: none;
}


.main {
    display: flex;
    width: 100%;
    /* height: 92%; */
    justify-content: center;
    gap: 22px;
    padding-top: 20px;
}

.left {
    width: 60%;
    max-height: 100%;
    /* overflow-y: scroll; */
    padding: 3px 20px;
}

/* Optional: Style scrollbar to fit your design */
.left::-webkit-scrollbar {
    width: 3px;
}

.left::-webkit-scrollbar-thumb {
    background: rgba(186, 162, 214, 0.6);
    border-radius: 10px;
}

.left::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}


.left_banner {
    width: 100%;
    height: 289px;
    background: linear-gradient(253.1deg, #7517F8 14.23%, #0D0636 101.22%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    color: white;
}

.banner_left {
    width: 50%;
    height: 100%;
    padding: 1rem 0rem 1rem 1rem;

}

.benner_texts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
}

.left_title {
    font-size: 30px;
    width: 100%;
    font-weight: 700;
    /* width: 50%; */
}

.small_description {
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
}

.benner_texts a {
    width: Hug (144px)px;
    height: Hug (43px)px;
    top: 216px;
    left: 32px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #9747FF;
    font-family: poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    color: white;
}

.banner_right {
    width: 50%;

    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.seperator {
    width: 100%;
    position: relative;
    min-height: 2px;
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.line1 {
    width: 50px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px 0 0 5px;
}

.seperator_text {
    color: white;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line2 {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 5px 5px 0;
}

.left_courses {
    width: 100%;
    height: 370px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youtube > iframe {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.c_c {
    display: flex;
    gap: 1rem;
    
}

.courses {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.course {
    width: 359px;
    height: 372px;
    background-color: #9747FF;
    padding: 23px 20px 22px 21px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    background: rgba(29, 29, 29, 0.32);
    /* box-shadow: 11px 0px 30px 0px #9747ff61; */
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.course:hover {
    box-shadow: 0px 7px 125.4px 0px #9747FF75;
}

.course_img {
    width: 100%;
    height: 100%;
    background: #747474;
    border-radius: 14px;
}

.course_title {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
}

.course_description {
    font-family: poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 19.06px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #C69AFF;
    padding-bottom: 10px;
}

.progress_bar {
    width: 100%;
    height: 12px;
    border-radius: 2px;
    background: rgba(176, 176, 176, 1);
}

.pfps {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.rest_cont {
    width: 60%;
    display: flex;
    align-items: center;
}

.pfps img {
    width: 24px;
    height: 24px;
    background: rgba(217, 217, 217, 1);
    box-shadow: 3px 0px 8.2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.pfps img:nth-of-type(2) {
    transform: translateX(-10px);
}

.pfps img:nth-of-type(3) {
    transform: translateX(-20px);
}

.pfps img:nth-of-type(4) {
    transform: translateX(-30px);
}

.members_count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 30px;
    border-radius: 3px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.31px;
    text-align: left;
    background: rgba(151, 71, 255, 0.12);
    border: #9747FF 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(151, 71, 255, 1);
}


.course_role {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 30px;
    border-radius: 3px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background: rgba(151, 71, 255, 0.12);
    border: #9747FF 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(151, 71, 255, 1);
   
}

.btn_cont {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.enroll_btn {
    color: rgba(151, 71, 255, 1);
    border: 2px solid rgba(151, 71, 255, 1);
    width: 109px;
    height: 37px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.enroll_btn:hover {
    color: white;
    background-color: rgba(151, 71, 255, 1);
}

.left_courses .plus-ico {
    width: 10%;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px -5px 32.4px 0px rgb(151 71 255 / 43%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(151, 71, 255, 1);
    font-size: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.left_courses .plus-ico:hover {
    box-shadow: 0px 7px 122.4px 0px rgba(151, 71, 255, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(151, 71, 255, 1);
    font-size: 50px;
}

.left_analytics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.analytic_box {
    width: 250px;
    height: 190px;
    border-radius: 20px;
    background: rgb(91 0 209 / 61%);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    padding: .5rem;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.analytic_title {
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: capitalize;
}

.data {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.analytic_box.activity {
    width: 328px;
}

.analytic_box.activity .data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.layer_1 {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.y {
    color: white;
    font-size: 15px;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column;
    font-weight: 300;
}

.lines {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.line {
    width: 10px;
    height: 100%;
    border-radius: 15px;
    background-color: #fff8e7; /* Background color of the line */
    position: relative;
  
    overflow: hidden; /* Ensure no overflow issues */
}

.line::before {
    content: '';
    display: block;
    width: 100%;
    height: var(--fill-height, 0%); /* Set height using CSS variable */
    border-radius: 15px;
    background-color: #ffb300; /* Color for the filled portion */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; /* Ensure it's above the white background */
}

.layer_2 {
    width: 100%;
    height: 15%;
}

.x {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 10px;
    padding-left: 43px;
    padding-right: 5px;
}

.data.cour {
    color: white;
    font-size: 65px;
    font-weight: 500;
}

.right {
    width: 28%;
    box-shadow: -5px 0px 42.3px 0px rgb(80 13 157 / 81%);
    height: 850px;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    max-height: 1100px;
    position: sticky;
    top: 10px;
    left: 0;
    background-color: rgb(44 9 85 / 81%);
}

.right_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-flow: column;
}
.left-profile-Top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
}
.container_pfp {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-bottom: 10px;
}


.pfpcontainer {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    object-fit: cover;
}
.pfpcontainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.circular-progress {
  top: 0;
  left: 0;
  position: absolute;
  --size: 141px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 7px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * 3.1416 * 2); /* Using 3.1416 for Pi */
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 3s linear forwards; /* Added 'forwards' to persist the final state */
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear;
  stroke: rgb(119 0 255);
}

@property --progress {
  syntax: "<number>";
  inherits: false;
}
  
.rank {
    position: absolute;
    width: 45px;
    height: 57px;
    top: 55px;
    left: 25px;
    transform: translate(50%, 100%);
}

.username {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.welcome {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: left;
    
}

.progress-bar {
	background: #ffffff33;
    border-radius: 20px;
    height: 100%;
    height: 6px;
    width: 100%;
}

.progress-bar>.progress-bar-inner {
	background: #a45cf6;
	border-radius: 19px;
	height: 100%;
    position: relative;
}

.Goal-levels {
    color: #e8d9ff;
    font-family: Poppins;
    font-size: 14.514px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.points-counter {
    color: #e8d9ff;
    font-family: Poppins;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: normal;
}

.points-counter span {
    color: #a45cf6;
    font-size: 1rem;
}

.point-calc {
   
    width: 100%;
	display: flex;
	justify-content: space-between;
}

.rank_ttle {
    
    padding: 3px 7px;
    background: #7517F8;
    border-radius: 15px;

}

.dailylesson {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10px;

}
.dailylesson span{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(255, 188, 0, 1);
}

.lesson {
    font-family: Poppins;
    font-size: 14.44px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-align: left;
    color: white;
    line-height: .7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mentors {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
}

.mentors_txt {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 188, 0, 1);
    
}

.mentor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    color: white;
}

.prof {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.5px;
    text-align: left;
    color: rgba(151, 71, 255, 1);
}

.first_holder {
    display: flex;
    gap: .5rem;
}

.role {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps {
    width: 140px;
    height: 41px;
    padding: 5px;
    border-radius: 7px;
    font-size: 15px;
    border: rgba(151, 71, 255, 1) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(151, 71, 255, 1);
    transition: all .3s ease-in-out;
}

.ps:hover {
    background: rgba(151, 71, 255, 1);;
    color: white
}

.chat {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(151, 71, 255, 1);
    border-radius: 5px;
    color: white;
    font-size: 19px;
}

.mentor img {
    width: 58px;
    height: 58px;
    overflow: hidden;
    border-radius: 50%;
    background-color: gray;
    object-fit: cover;
}


.left_discover {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    gap: 1.5rem;
}

.youtube {
    width: 500px;  
    height: 281px;
    border-radius: 15px;
    overflow: hidden;
}

.psn {

font-size: 1.5rem;

font-family: poppins;

font-size: 26px;

font-weight: 700;

line-height: 24.2px;

text-align: left;

color: #FCD253;

display: flex;

justify-content: center;

align-items: center;

flex-flow: column;

gap: .75rem;

padding: 0 1rem;
}

.nums {

width: 100%;
}

.pbar {

/* width: 100% !important; */

height: 21px !important;

background-color: #FCD253 !important;

border-radius: 5px;
}

.ghj {

width: 328px;
}

.vfg {

font-size: 42px !important;
}

.nhf {
    width: 181px;
}

.spn {
    
font-family: poppins;
    
font-size: 47px;
    
font-weight: 700;
    
line-height: 36.31px;
    
text-align: left;
    
color: white;
}

.podcast {
    
width: 250px;
    
height: 281px;
    
border-radius: 20px;
    
background: #1D1D1D52;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
flex-flow: column;
}

.podcast img {

width: 150px;

height: 150px;

border-radius: 11px;
object-fit: cover;
}

.pod_title {

font-family: Poppins;

font-size: 15px;

font-weight: 700;

line-height: 22.5px;

text-align: left;

color: white;

padding: 10px 0;
}

.players {

display: flex;

justify-content: center;

align-items: center;

gap: 1rem;
}

.prev {

color: #FFCA28;
}

.play {

color: white;
}

.next {
    
color: #FFCA28;
}

.discord {
    
width: 225px;
    
height: 281px;
    
padding: .5rem;
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
    
flex-flow: column;
    
background: #18191CCC;
    
border-radius: 20px;
}

.dis_pfp {

width: 100%;

display: flex;

justify-content: flex-start;

align-items: center;
}

.dis_pfp img {

width: 61px;

height: 61px;

border: 2px solid black;

border-radius: 50%;
}

.dis_tit {

font-family: Poppins;

font-size: 17px;

font-weight: 800;

line-height: 21.76px;

letter-spacing: -0.02em;

text-align: left;

color: white;

padding-bottom: 5px;
}

.dis_ini {

font-family: Poppins;

font-size: 11.5px;

font-weight: 400;

line-height: 14.25px;

letter-spacing: 0.02em;

text-align: left;

color: white;
}

.dis_btn {
    
width: 69px;
    
height: 34px;
    
border-radius: 3px;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
background-color: #5865F2;
    
font-family: Poppins;
    
font-size: 14px;
    
font-weight: 700;
    
line-height: 21px;
    
text-align: left;
    
color: white;
}


/* Select the main checklist container */
.checklist {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-direction: column;
    gap: 10px;
}

/* Select the title container of the checklist */
.checklist .check_titlanand {
    /* Styles for the title container */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Select the checklist title text */
.checklist .ch_title {
    /* Styles for the checklist title */
    font-family: Poppins;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFBC00;
}

/* Select the plus icon in the title */
.checklist .check_titlanand i.fa-plus {
    /* Styles for the plus icon */
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background: #FFBC00;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Select each row inside the checklist */
.checklist .row {
    width: 100%;
    height: 40px;
    background: radial-gradient(92.61% 857.89% at 2.27% 146.05%, rgba(164, 92, 246, 0.2) 0%, rgba(255, 202, 40, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    flex-direction: row;
    gap: 10px;
    
}

/* Select the checkbox input in each row */
.checklist .row input[type="checkbox"] {
    /* Styles for the checkbox */
    width: 22px;
    height: 22px;
    background: #f70e0e;
}

/* Select the row title in each row */
.checklist .row .row_title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-transform: capitalize;
    letter-spacing: -0.04em;
    text-align: center;
    color: #DBBCFF;
    width: 100%;
    display: flex;
}

/* Select the ellipsis icon in each row */
.checklist .row i.fa-ellipsis-vertical {
    /* Styles for the ellipsis icon */
    font-size: 23px;
    color: #FFCA28;
}

.rank_ico {
    width: 35px;
}

.play > svg {
    cursor: pointer;
}


    /* ---------------------------- */
    /* responsive for the Home page */
    /* ---------------------------- */


    /* Ultra large devices (very large screens, 1600px and up) */
    @media (min-width: 1600px) {     
    }
    
    /* Handling Zoom Levels - Zoomed to 125% or higher */
    @media screen and (min-width: 1280px) and (max-width: 1600px) {
    }
  
    /* Handling Zoom Levels - Zoomed in at 150% or higher */
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        .checklist .row .row_title {
            font-size: 15px;
            text-align: left;
        }
        .lines {
            width: 85%;
            height: 80%;
        }
        .analytic_title{
            font-size: 14px;
        }
        .spn {
            font-size: 32px;
        }
        .data > .progress-bar {
            height: 12px;
        }
        .pbar{
            height: 9px !important;
        }
        .left_analytics{
            gap: 18px;
        }
        .y{
            font-size: 10px;
        }
        .x{
            display: flex;
            flex-direction:row ;
            gap: 10px;
        }
        .data.cour {
            font-size: 45px;
        }
        .left_analytics{
            overflow-x: scroll;
            padding-bottom: 10px;
            padding: 0px 15px 20px 15px;
        }
        /* Optional: Style scrollbar to fit your design */
        .left_analytics::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        .left_analytics::-webkit-scrollbar-thumb {
            background: rgba(167, 159, 177, 0.6);
            border-radius: 10px;
        }

        .left_analytics::-webkit-scrollbar-track {
            background: rgba(216, 211, 211, 0.1);
        }
        .seperator_text{
            width: 30vh;
        }
        .left_courses{
            overflow-x: scroll;
            
        }
        .left_courses::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        .left_courses::-webkit-scrollbar-thumb {
            background: rgba(167, 159, 177, 0.6);
            border-radius: 10px;
        }

        .left_courses::-webkit-scrollbar-track {
            background: rgba(216, 211, 211, 0.1);
        }
        .course {
            box-shadow: none !important;

        }
        .left_banner{
            position: relative;
        }
        .banner_right {
            width: 41%;
            position: absolute;
            right: 0;
            justify-content: flex-end;
            align-items: center;
            display: flex;
        }
        .main {
            height: 112% !important ;
        }

    }
    
    /* High-resolution devices (2x pixel density, for retina displays) */
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    
    }

    /* Extra large devices (large desktops, 1280px and up) */
    @media (max-width: 1280px) {
        .main {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            height: auto !important;
        }
        .right {
            width: 100%;
            max-width: 80%;
            height: 100%;
            background-image: url(../assets/deco1.png), url(../assets/deco1.png);
            background-position: 927px -6px, left -17px bottom -38px;
            background-repeat: no-repeat;
            background-size: 147px 110px, 115px 115px;
        }
        .left {
            width: 100%;
            max-width: 85%;
            overflow: unset;
        }
        .left_courses , .left_analytics {
            overflow: unset;
        }
        .checklist{
            display: none;

        }
        .mentors{
            display: none;
        }
        .pbar {
            height: 20px !important;
        }
    }

        /* Large devices (desktops, 1024px and up) */
    @media (max-width: 1024px) {
        
       .right {
        background-position: 737px -6px, left -17px bottom -38px;
        background-repeat: no-repeat;
        background-size: 105px 100px, 115px 115px;
        }

    }

    @media (max-width: 900px) {
        .left_courses, .left_analytics {
            overflow-x: scroll;
            overflow-y: unset !important;
            padding: 0 30px;
            width: 100%;
            max-width: max-content;
        }
      }   

    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 768px) {
  
        .left_courses, .left_analytics {
            overflow-x: scroll;
            overflow-y: unset !important;
            padding: 0 30px;
            width: 100%;
            max-width: max-content;
        }
        .course{
            box-shadow: none !important;
        }
      
        .right  {
            border-radius: 20px;
            max-width: 85%;
        }
        .left {
            width: 100%;
            /* max-width: 100%; */
            overflow: unset;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main {
            display: flex;
            flex-direction: column-reverse;
            /* align-items: center; */
            /* justify-content: center; */
            height: auto !important;
            width: 100%;
            padding: 25px;
        }
        .y{
            font-size: 11px;
        }
        .x {
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 10px;
            padding-left: 43px;
            padding-right: 5px;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            justify-content: center;
        }
        .lines {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
            justify-content: space-between;
            flex-direction: row;
        }
        .youtube > iframe {
            width: 100%;
            height: 100%;
        }
    }

    /* Small devices (phones, 480px and up) */
    @media (max-width: 480px) {
     .right {
        background: none;
        
        }
        .left_title {
            font-size: 18px;
            width: 100%;
        }
        .banner_right {
            display: none;
        }
        .banner_left{
            width: 100%;
        }
        .benner_texts {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            gap: 30px;
        }
        .small_description {
            width: 85%;
            font-family: poppins;
            font-size: 13px;
            font-weight: 500;
            line-height: 20.94px;
            text-align: left;
        }
        .left_courses .plus-ico{
            padding: 40px;
        }
        .analytic_box {
            padding: 1.5rem;
        }
        .left_discover {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            flex-direction: column;
        }
        .youtube > iframe {
            width: 100%;
            height: 87%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .youtube {
            width: 100%;
            height: 220px;
        }
        .left_discover{
            gap: 20px;
        }
        .podcast {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: #3d059e7a;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 20px;
        }
        .podcast img {
            width: 100%;
            height: 100%;
            border-radius: 11px;
            object-fit: cover;
        }
        .discord {
            width: 100%;
            height: 100%;
            padding: 20px;
        }
        .dis_btn{
            align-self: flex-end;
        }
        .lesson {
          
            font-size: 13.44px;
            letter-spacing: 0.15em;
            text-align: center;
            line-height: 21px;
        }
    }
        /* Extra small devices (phones, 320px and up) */
    @media (max-width: 320px) {       
        .welcome {
            font-size: 16px; 
        }
        .rank_ico {
            display: none;
        }
        .rank_ttle {
            font-size: 9px
        }
        .lesson {
            font-size: 12px;
        }
        .left_courses, .left_analytics {
            padding: 0;
        }
        .left_title {
            font-size: 18px;
            width: 100%;
        }
        .circular-progress{
            display: none;
        }
    }
    