.content-lesson {
	align-items: center;
	align-self: center;
	display: flex;
	justify-content: center;
}

.content-text-inside {
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: Poppins;
	font-size: 17px;
	font-style: normal;
	font-weight: 300;
	gap: 16px;
	letter-spacing: 1.53px;
	line-height: 35px;
}

.content-text-inside figure {
	margin: 0 auto;
}

.content-text-inside figure img {
	border-radius: 7px;
	max-width: 305px;
}

.content-text-inside p:first-letter {
	text-transform: capitalize;
}

.iconlike {
	align-items: center;
	align-self: flex-end;
	border-radius: 50%;
	border: 1px solid #fafafa;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 5px;
	position: absolute;
	right: 2.5%;
	top: 2.5%;
	transition: all 0.3s ease;
}

.iconlike svg {
	transition: all 0.3s ease;
}

.iconlike.liked {
	background-color: #9747ff;
	border: 1px solid #9747ff;
}

.iconlike.liked svg path {
	fill: #ffffff;
}

.keep-next {
	align-items: center;
	border-radius: 6px;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	display: flex;
	display: inline-block;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	justify-content: center;
	padding: 5px 20px;
	text-decoration: none;
	transition: 0.5s;
}

.keep-next:hover {
	background: linear-gradient( 270deg, rgba(164,92,246,0.12) 16.35%, rgba(151,71,255,0.12) 50%);
}

.lesson {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	position: relative;
}

.lesson-text {
	color: #fff;
	font-family: Poppins;
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2.43px;
	line-height: 27px;
	text-transform: uppercase;
}

.prev-btn {
	align-items: center;
	border-radius: 6px;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	display: flex;
	display: inline-block;
	font-family: Poppins;
	font-size: 19px;
	font-style: normal;
	gap: 10px;
	justify-content: center;
	padding: 5px 20px;
	text-decoration: none;
	transition: 0.5s;
}

.prev-btn:hover {
	background: linear-gradient( 270deg, rgba(164,92,246,0.12) 16.35%, rgba(151,71,255,0.12) 50%);
}