button {
	align-items: center;
	background: transparent;
	border: none;
	color: #ffffff;
	display: flex;
	justify-content: center;
}

#caption {
	color: #ccc;
	display: block;
	height: 150px;
	margin: auto;
	max-width: 700px;
	padding: 10px 0;
	text-align: center;
	width: 80%;
}

#caption, .modal-content {
	-webkit-animation-duration: 0.6s;
	-webkit-animation-name: zoom;
	animation-duration: 0.6s;
	animation-name: zoom;
}

#emoji-picker {
	background: rgb(0 0 0 / 26%) 50% / cover no-repeat;
	border-radius: 10px;
	border: 0.5px solid var(--color-gray-10,#ffffff62);
	bottom: 50px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	display: none;
	height: auto;
	left: 0;
	overflow-x: hidden;
	overflow-y: unset;
	padding: 10px;
	position: absolute;
	width: 275px;
	z-index: 1000;
}

.add-channel {
	cursor: pointer;
}

.add-channel:hover {
	transform: rotate(90deg);
	transition: 0.7s ease-in-out;
}

.align-emojis {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	position: relative;
}

.change-status {
	backdrop-filter: blur(6px);
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 0.5px solid #ffffff29;
	bottom: 7.81vh;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	left: 0;
	overflow: hidden;
	padding-left: 15px;
	padding: 15px;
	position: absolute;
	transition: max-height 0.5s ease-in-out;
	width: 100%;
	z-index: 100;
}

.change-status-btn {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
}

.change-status-btn > i, .change-status-btn > svg {
	cursor: pointer;
}

.change-status.visible {
	max-height: 200px;
}

.change-status>.status {
	align-items: center;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	padding: 5px;
}

.change-status>.status:hover {
	border: 0.5px solid #ffffff4e;
	color: #ffffff;
	cursor: pointer;
}

.change-status>.status>.status-away {
	background-color: #ffa500;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

.change-status>.status>.status-busy {
	background-color: #ff3318;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

.change-status>.status>.status-online {
	background-color: #2ecc71;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

.change-status>.status>.status-text {
	color: #fff;
	font-size: medium;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
}

.channel-link {
	align-items: center;
	color: #c8c6c6;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	gap: 10px;
	line-height: normal;
	overflow: hidden;
	padding: 10px 10px;
	text-transform: capitalize;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.channel-link:hover {
	background-color: #ffffff35;
	border-radius: 5px;
	color: #ffffff;
	white-space: normal;
}

.channels-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
	padding: 10px 0px;
	width: 100%;
}

.channels-list>.active {
	background: #8066a029;
}

.chat-container {
	display: grid;
	flex: 1;
	grid-template-rows: auto 1fr;
	height: 100%;
	position: relative;
	transition: 0.5s ease-in-out;
	width: 65%;
}

.chat-container>.chat-box {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 96%;
	overflow-y: scroll;
	padding: 10px 10px;
	scroll-behavior: smooth;
}

.chat-container>.chat-box::-webkit-scrollbar {
	background-color: transparent;
	border-radius: 10px;
	width: 5px;
}

.chat-container>.chat-box::-webkit-scrollbar-thumb {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(58,7,100,0.826)), color-stop(0.72, rgb(83,10,210)), color-stop(0.86, rgb(90,18,198)));
	border-radius: 18px;
}

.chat-container>.chat-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #d3d3d3;
	border-radius: 48px;
}

.chat-footer-box {
	display: flex;
	flex-direction: column;
	height: 30px;
	justify-content: center;
	padding: 10px 35px;
	width: 100%;
	z-index: 100;
}

.chat-footer-box .buttons-group {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

.chat-footer-box .buttons-group>.send-message {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
}

.chat-header {
	align-items: center;
	backdrop-filter: blur(6px);
	border-radius: 10px;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	gap: 10px;
	height: 71px;
	padding: 10px 15px;
	width: 100%;
}

.chat-input {
	align-items: center;
	background: rgb(29 21 93);
	border-radius: 20px;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	height: 55px;
	justify-content: space-around;
	margin: 0px 0px 30px 0px;
	padding: 3px 10px;
	width: 100%;
}

.chat-input>textarea {
	align-items: center;
	background: transparent;
	border: none;
	color: #ffffff;
	display: flex;
	font-size: 15px;
	height: 40px;
	justify-content: center;
	list-style: none;
	overflow: hidden;
	padding: 10px;
	resize: none;
	width: 85%;
}

.chat-input>textarea:focus-visible {
	border: none;
	color: #ffffff;
	outline: none;
}

.chat-members {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390,0.575,0.565,1.000) both;
	animation: fade-in-right 0.6s cubic-bezier(0.390,0.575,0.565,1.000) both;
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.5s, transform 0.5s;
}

.chat-members, .chat-rooms {
	display: block;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.chat-members-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chat-members-header {
	align-items: center;
	backdrop-filter: blur(6px);
	background: rgb(50 7 150) 50% / cover no-repeat;
	border-radius: 0px 20px 0px 0px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 71px;
	justify-content: center;
}

.chat-members-header>div {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	gap: 10px;
	text-transform: capitalize;
}

.chat-members-header>span {
	color: #1eff0f;
	font-size: 12px;
	font-style: italic;
	font-weight: 300;
	line-height: 14px;
	text-transform: capitalize;
}

.chat-members-mobile, .toggle-chat-members-mobile {
}

.chat-members.hidden {
	animation: disappear 0s linear 0.5s forwards;
	display: block !important;
	display: none !important;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-20px);
}

.chat-members.show {
	display: flex;
	flex-direction: column;
	opacity: 1;
	pointer-events: unset;
	transform: unset;
}

.chat-message {
	align-items: flex-start;
	background: transparent;
	display: flex;
	gap: 10px;
	height: fit-content;
	padding: 0px;
	padding: 10px;
	position: relative;
}

.chat-message-input {
	align-items: center;
	border-radius: 20px;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.chat-message-input:focus {
	border-color: blue;
}

.chat-message-submit>svg:hover {
	cursor: pointer;
	transform: rotate(45deg);
	transition: 1s ease-in-out;
}

.chat-message:hover {
	background: rgba(255,255,255,0.1);
	border-radius: 8px;
	transition: 0.4s ease-in-out;
}

.chat-message:hover>.reply-react {
	backdrop-filter: blur(6px);
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	border: 0.5px solid var(--color-gray-10,#ffffff86);
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	right: 2%;
	top: -7%;
}

.chat-message>.reply-react {
	display: none;
}

.chat-message>.reply-react>.react {
	align-items: center;
	color: #ffffff;
	display: flex;
	padding: 7px 10px;
	position: relative;
}

.chat-message>.reply-react>.react:hover {
	background: rgb(112 52 169);
}

.chat-message>.reply-react>.react:hover .reacts-available {
	background-color: rgb(22 21 21);
	border: 0.5px solid #ffffff4e;
	bottom: -49px;
	box-shadow: 0 2px 20px 0px rgb(0 0 0 / 41%);
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 10px;
	position: absolute;
	right: -44px;
}

.chat-message>.reply-react>.reply {
	align-items: center;
	display: flex;
	padding: 7px 10px;
}

.chat-message>.reply-react>.reply:hover {
	background: rgb(112 52 169);
}

.chat-rooms {
	max-height: 100vh;
	opacity: 1;
	overflow: hidden;
	position: relative;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.chat-rooms-header>.to-courses {
	align-items: center;
	backdrop-filter: blur(6px);
	background: rgb(50 7 150) 50% / cover no-repeat;
	border-radius: 20px 0px 0px 0px;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	height: 70px;
	justify-content: center;
}

.chat-rooms-header>.to-courses>span {
	align-items: center;
	color: #f5f5f5;
	display: flex;
	font-size: large;
	font-style: normal;
	font-weight: 600;
	gap: 10px;
	line-height: normal;
}

.chat-rooms-header>span {
	color: #fff;
	display: flex;
	font-size: 20px;
	font-weight: 600;
	gap: 10px;
	justify-content: center;
	padding: 20px;
	text-align: center;
}

.chat-rooms-mobile, .toggle-chat-room-mobile {
	width: 30px;
}

.chat-rooms.collapsed {
	display: none;
	max-height: 0;
	opacity: 0;
}

.chat-rooms.show {
	display: flex;
	flex-direction: column;
	opacity: 1;
	pointer-events: unset;
	transform: unset;
}

.chat-rooms>.rooms-footer {
	bottom: 0;
	justify-content: space-between;
	position: absolute;
	width: -webkit-fill-available;
	width: 100%;
}

.chat-title {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding-left: 10px;
	width: 100%;
}

.chat-title-channel-group {
	align-items: center;
	color: #f5f5f5de;
	display: flex;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	gap: 5px;
	justify-content: center;
	line-height: normal;
}

.chat-title-room {
	align-items: center;
	color: #f5f5f5de;
	display: flex;
	font-size: 20px;
	gap: 0px;
	justify-content: center;
}

.chat-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 90vh;
	justify-content: center;
	padding: 5px 20px;
}

.close {
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	right: 35px;
	top: 15px;
	transition: 0.3s;
}

.close-rooms, .close-toggle {
	display: none;
}

.close:focus, .close:hover {
	color: #bbb;
	cursor: pointer;
	text-decoration: none;
}

.emoji-button {
	cursor: pointer;
}

.emoji-button:active>svg {
	transform: scale(1.1);
	transition: 0.3s;
}

.emoji-button> img {
	border-radius: 100%;
	height: 24px;
	width: 24px;
}

.emoji-span {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250,0.460,0.450,0.940) both;
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.250,0.460,0.450,0.940) both;
	cursor: pointer;
	font-size: 20px;
	padding: 5px;
	transition: 0.4s ease-in-out;
}

.emoji-span:active {
	transform: scale(1.1);
	transition: 0.3s;
}

.emoji-span:hover {
	background: #00000069;
	border-radius: 10px;
	transition: 0.4s ease-in-out;
}

.fade-in {
	animation: fadeIn 0.5s ease-out;
}

.file-icon-button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	font-size: 16px;
}

.file-icon-button i {
	color: #666;
}

.file-preview {
	bottom: 10vh;
	position: absolute;
	right: 10vh;
}

.file-preview-container {
	bottom: 10vh;
	position: absolute;
	right: 10vh;
}

.gif-picker {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250,0.460,0.450,0.940) both;
	animation: slide-in-fwd-center 0.4s cubic-bezier(0.250,0.460,0.450,0.940) both;
	background: white;
	border-radius: 10px;
	cursor: pointer;
	display: none;
	height: 260px;
	overflow-y: scroll;
	position: absolute;
	right: 1vh;
	top: 56vh;
	width: 260px;
}

.gif-picker-button {
	cursor: pointer;
}

.gif-picker-button:active {
	background: #6e0ca669;
	border-radius: 10px;
	transition: 0.4s ease-in-out;
}

.gif-picker>img {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 122px;
	transition: 0.4s ease-in-out;
	width: 60px;
}

.hidden {
	display: none;
	transition: 1s ease-in-out;
	transition: display 0.3s ease;
}

.image-user-upload>img {
	border-radius: 10px;
	cursor: pointer;
	height: auto;
	max-height: 300px;
	max-width: 300px;
	padding: 5px 0px;
	transition: transform 0.5s ease, box-shadow 0.7s ease;
	width: auto;
}

.image-user-upload>img:active, .image-user-upload>img:hover {
	box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
	transform: scale(1.04);
}

.members-titel {
	align-items: center;
	color: #adabab;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	gap: 10px;
	letter-spacing: 0.24px;
	line-height: 16px;
	text-transform: uppercase;
}

.memebers-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 78vh;
	max-height: 78vh;
	overflow-y: scroll;
	padding: 15px 10px;
	scroll-behavior: smooth;
}

.memebers-list::-webkit-scrollbar {
	width: 8px;
}

.memebers-list::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	border-radius: 4px;
}

.message-content {
	align-items: start;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.message-content>.message-text {
	color: #dcdee1;
	display: flex;
	flex-direction: column;
	font-size: 15.983px;
	font-style: normal;
	font-weight: 300;
	gap: 10px;
	line-height: 20px;
	max-width: 234px;
	white-space: nowrap;
}

.message-content>.user-info {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.message-content>.user-info>.message-date {
	color: #aaaeb6;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.message-content>.user-info>.message-time {
	color: #aaaeb6;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.message-content>.user-info>.user-name {
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
}

.message-content>span {
	color: #dcdee1;
	font-size: 15.983px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
}

.message-header {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.message-image>img {
	-moz-box-shadow: 3px 2px 30px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 2px 30px -6px rgba(0,0,0,0.75);
	box-shadow: 3px 2px 30px -6px rgba(0,0,0,0.75);
	max-width: 400px !important;
}

.message-replied {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-left: 10px;
}

.message-replied>.user-pic {
	height: 30px;
	width: 30px;
}

.message-replied>.user-pic>img {
	width: 100%;
}

.message-replied>.user-tag {
	background: #a45cf6;
	color: #d3d3d3;
	font-size: small;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 2px 5px;
}

.message-replied>span {
	color: #d3d3d3;
	font-size: small;
}

.message-text>a {
	color: #0ba4f7;
}

.mobile-toggles-btn {
	display: none;
}

.modal {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal-content {
	display: block;
	margin: auto;
	max-width: 700px;
	width: 80%;
}

.react:hover {
	background-color: #8e04a3;
}

.reactions-box {
	align-items: center;
	display: flex;
	gap: 6px;
	padding: 5px 0;
}

.reactions-box>.react {
	align-items: center;
	background: rgba(0,0,0,0.25);
	border-radius: 10px;
	border: 1px solid #7633c2af;
	color: white;
	cursor: pointer;
	display: flex;
	gap: 5px;
	justify-content: center;
	padding: 3px 7px;
}

.reactions-box>.react>.count {
	color: #ffffff;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	z-index: 100;
}

.reactions-box>.react>.emoji {
	color: red;
	font-size: small;
	height: 18px;
	width: 18px;
}

.reactions-list {
	display: none;
}

.reactions-list span {
	align-items: center;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: large;
	padding: 7px 10px;
	position: relative;
}

.reactions-list span:hover {
	background: #00000069;
	font-size: large;
}

.reactions-list.show {
	display: flex;
}

.reacts-available {
	display: none;
}

.reacts-available>span {
	font-size: 16px;
	padding: 5px;
}

.reacts-available>span:hover {
	background-color: #00000069;
}

.reply-input {
	align-items: center;
	background-color: #f9f9f9;
	display: flex;
	padding: 8px;
}

.reply-input button.send-reply {
	background-color: #007bff;
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 8px 16px;
}

.reply-input button.send-reply:hover {
	background-color: #0056b3;
}

.reply-input textarea[type="text"] {
	border: none;
	flex: 1;
	outline: none;
	padding: 8px;
}

.replying-to {
	align-items: center;
	background: #00000069;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: none;
	flex-direction: row;
	font-size: 20px;
	padding: 0px 10px;
	width: 100%;
}

.replying-to>.close {
	display: flex;
	margin-left: auto;
	position: static;
	transition: 0.3s;
}

.replying-to>.close>svg {
	color: #808080;
	font-size: 14px;
	font-weight: 500;
	height: 20px;
	width: 20px;
}

.replying-to>span {
	color: #808080;
	font-size: 14px;
	font-weight: 500;
}

.SearchMember-input {
	align-items: center;
	backdrop-filter: blur(6px);
	border-radius: 10px;
	border: 0.5px solid var(--color-gray-10,#ffffff86);
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: row;
	height: min-content;
	justify-content: space-between;
	padding: 5px 10px;
	width: 30%;
}

.SearchMember-input>.send-message {
	display: flex;
	justify-content: center;
	padding: 4px 4px;
}

.SearchMember-input>input {
	background: transparent;
	border: none;
	color: #adabab;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.56px;
	line-height: 28px;
	outline: none;
	width: 100%;
}

.SearchMember-input>input:focus-visible {
	color: #f5f5f5;
}

.send-message>svg {
	color: #ffffff;
}

.text-channels {
	backdrop-filter: blur(6px);
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	height: 74vh;
	max-height: 74vh;
	width: 100%;
}

.text-channels-header {
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 17%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 10px;
	width: 100%;
}

.text-channels-header>div {
	align-items: center;
	color: #f5f5f5;
	display: flex;
	flex-direction: row;
	font-size: small;
	font-style: normal;
	font-weight: 400;
	gap: 10px;
	line-height: normal;
	text-transform: uppercase;
}

.text-channels::-webkit-scrollbar {
	width: 8px;
}

.text-channels::-webkit-scrollbar-thumb {
	backdrop-filter: blur(6px);
	background: rgb(50 7 150 / 26%) 50% / cover no-repeat;
	border: 0.5px solid var(--color-gray-10,#ffffff86);
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
}

.to-courses:hover {
	background: linear-gradient(271deg,#510aad 48.8%,#1890ff 151.36%);
	transition: 0.8s ease-in-out;
}

.toggle-button {
	cursor: pointer;
}

.upload-icon {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.user-info {
	display: flex;
	flex-direction: column;
	gap: 0px;
	justify-content: center;
}

.user-info>.user-name {
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.32px;
	line-height: 28px;
}

.user-info>.user-status {
	color: #d3d3d3;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.user-pic {
	height: 50px;
	position: relative;
	width: 50px;
}

.user-pic>.user-status {
	background-color: #2ecc71;
	border-radius: 50%;
	border: 3px solid #1c153e;
	bottom: 0;
	height: 20px;
	position: absolute;
	right: 0;
	transition: background-color 0.5s ease;
	width: 20px;
}

.user-pic>img {
	border-radius: 50%;
}

.user-profile {
	backdrop-filter: blur(6px);
	background: rgb(50 7 150) 50% / cover no-repeat;
	border-radius: 0px 0px 0px 20px;
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: row;
	height: 71px;
	justify-content: space-between;
	padding: 5px 15px;
	width: 100%;
}

.user-profile>.user-container {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.user-status-offline {
	background-color: #939292e2;
	border-radius: 50%;
	border: 4px solid #1c153e;
	bottom: 0;
	height: 20px;
	position: absolute;
	right: 0;
	transition: background-color 0.5s ease;
	width: 20px;
}

.user-status-text {
	color: #ffffff;
	font-size: small;
	transition: color 0.3s ease;
}

.users-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px 15px;
}

.users-list>li.user {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 5px;
	list-style: none;
	padding: 5px 9px;
}

.users-list>li.user:hover {
	background: rgba(164,92,246,0.32);
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 9px;
	transition: 0.3s ease-in-out;
}

.users-list>li.user>.user-name {
	color: #92c2dd;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.users-list>li.user>.user-pic {
	border-radius: 50px;
	height: 45px;
	position: relative;
	width: 45px;
}

.users-list>li.user>.user-pic>.user-status {
	background-color: #2ecc71;
	border: 1px solid #1c153e;
	bottom: 5px;
	height: 15px;
	position: absolute;
	right: 5px;
	transition: background-color 0.5s ease;
	width: 15px;
}

.users-list>li.user>.user-pic>img {
	border-radius: 50%;
	height: 38px;
	position: relative;
	width: 38px;
}

@-webkit-keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@-webkit-keyframes slide-in-blurred-top {
	0% {
		-webkit-filter: blur(40px);
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		filter: blur(40px);
		opacity: 0;
		transform-origin: 50% 0%;
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
	}

	100% {
		-webkit-filter: blur(0);
		-webkit-transform-origin: 50% 50%;
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		filter: blur(0);
		opacity: 1;
		transform-origin: 50% 50%;
		transform: translateY(0) scaleY(1) scaleX(1);
	}
}

@-webkit-keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		opacity: 0;
		transform: translateZ(-1400px);
	}

	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
		transform: translateZ(0);
	}
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@keyframes appear {
	from {
		display: block;
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes disappear {
	to {
		display: none;
	}
}

@keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-in-blurred-top {
	0% {
		-webkit-filter: blur(40px);
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		filter: blur(40px);
		opacity: 0;
		transform-origin: 50% 0%;
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
	}

	100% {
		-webkit-filter: blur(0);
		-webkit-transform-origin: 50% 50%;
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		filter: blur(0);
		opacity: 1;
		transform-origin: 50% 50%;
		transform: translateY(0) scaleY(1) scaleX(1);
	}
}

@keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		opacity: 0;
		transform: translateZ(-1400px);
	}

	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
		transform: translateZ(0);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) {
	#chatRoomsToggle {
		display: none !important;
	}

	#toggleButton {
		display: none !important;
	}

	.chat-container.hidden {
		display: none;
	}

	.chat-members {
		display: none;
		opacity: 0;
		pointer-events: none;
		transform: translateY(-20px);
		width: 100%;
	}

	.chat-rooms {
		display: none;
		opacity: 0;
		pointer-events: none;
		transform: translateY(-20px);
		width: 100%;
	}

	.mobile-toggles-btn {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem;
	}
}