@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
	height: 110vh;
	overflow-x: hidden;
}

#passwordChangeForm {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.confirm-btn {
	background-color: #fff;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 30px;
	transition: all 0.3s ease-in-out;
}

.confirm-btn:hover {
	background: linear-gradient(104deg, rgb(24,144,255) 12.89%, rgb(151,71,255) 133.86%);
	box-shadow: rgba(45,35,66,0.4) 0 4px 8px, rgba(45,35,66,0.3) 0 7px 13px -3px, #12181c61 0 -3px 0 inset;
	color: white;
	transform: translateY(-2px);
	transition: 0.4s;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.field > .password-field > input {
	align-items: center;
	background-color: transparent;
	border-radius: 12px;
	border: 0.889px solid rgb(189,196,205);
	color: white;
	display: flex;
	font-size: medium;
	gap: 0px;
	height: 45px;
	padding: 8px 24px;
	width: 428px;
}

.field > .password-field input::placeholder {
	font-family: Poppins, sans-serif;
	font-size: 16px;
}

.field > label {
	color: rgb(255,255,255);
	font-family: Poppins, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.flex-pops {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	padding: 5px;
	transition: 1s ease-in-out;
}

.form {
	align-items: center;
	background: rgba(73,73,73,0.12);
	border-radius: 16px;
	border: 0.5px solid rgb(255,255,255);
	box-shadow: rgba(0,0,0,0.25) 0px 20px 100px 0px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 30px;
	height: 100%;
	padding: 35px;
	width: 1081px;
}

.form > .form-body {
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
	width: 100%;
}

.form > .form-header {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-footer {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	padding: 63px 0 0;
	width: 100%;
}

.form-header > .h1-text {
	color: rgb(255,255,255);
	font-family: Poppins, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	text-transform: capitalize;
}

.form-header > .p-text {
	color: rgb(138,138,138);
	font-family: Poppins, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	text-transform: capitalize;
}

.go_back {
	color: white;
	display: flex;
	flex-direction: row;
	font-size: large;
	gap: 10px;
	text-decoration: solid underline white 1px;
	width: 100%;
}

.go_back:hover {
	color: lightgrey;
}

.main {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.password-field {
	position: relative;
}

.pop-up-close-button {
	align-items: center;
	background-color: transparent;
	background: #9747ff;
	border-radius: 8px;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 12px;
	font-weight: 700;
	gap: 8px;
	justify-content: center;
	padding: 6px 24px;
	text-decoration: none;
	text-transform: uppercase;
}

.popup-message {
	align-items: center;
	background: #1a0037;
	border-radius: 8px;
	border: 1px solid #a45cf6;
	bottom: 20px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	color: #fff;
	display: none;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	justify-content: space-around;
	padding: 8px;
	position: fixed;
	right: 20px;
	transition: 1s ease-in-out;
	width: max-content;
}

.popup-message.error {
	background: #5a0c0c;
	border: 1px solid #ff0404;
}

.popup-message.error .pop-up-close-button {
	background: #ffffff;
	color: black;
}

.popup-message.error svg {
	color: #ff0404;
}

.popup-show {
	animation: fadeIn 1s;
	display: flex;
	transition: 1s ease-in-out;
}

.toggle-password {
	color: white;
	font-size: LARGE;
	position: absolute;
	right: 13px;
	top: 13px;
}

@media screen and ( max-width: 320px) {
	.confirm-btn {
		width: 95% !important;
	}

	.field > .password-field input {
		width: 100% !important;
	}

	.field > .password-field input::placeholder {
		font-family: Poppins, sans-serif;
		font-size: 13px;
	}

	.form {
		border: none;
		height: 80%;
		padding: 0;
		width: 90% !important;
	}

	.form > .form-body {
		gap: 20px;
		padding: 15px 0;
	}

	.form-footer {
		align-items: center;
		flex-direction: column;
		padding: 10px 0;
	}

	.form-header > .h1-text {
		font-size: 23px;
	}

	.form-header > .p-text {
		font-size: 12px !important;
	}

	.main {
		display: flex;
		padding: 15px 0;
	}
}

@media screen and ( max-width: 375px) {
	.confirm-btn {
		width: 95% !important;
	}

	.field > .password-field input {
		width: 100% !important;
	}

	.field > .password-field input::placeholder {
		font-family: Poppins, sans-serif;
		font-size: 13px;
	}

	.form {
		height: 80%;
		padding: 25px !important;
		width: 90% !important;
	}

	.form-footer {
		align-items: center;
		flex-direction: column;
		padding: 10px 0;
	}

	.form-header > .h1-text {
		font-size: 26px;
	}

	.form-header > .p-text {
		font-size: 12px !important;
	}
}

@media screen and (max-width: 1024px) {
	.confirm-btn {
		align-items: center;
		display: flex;
		justify-content: center;
		text-align: center;
		width: 24%;
	}

	.field > label {
		font-size: 15px;
	}

	.form > .form-body {
		flex-direction: column;
	}

	.form-body > .field {
		width: 100%;
	}

	.form-header > .p-text {
		font-size: 14px !important;
	}
}

@media screen and (max-width: 1440px) {
	.confirm-btn {
		font-size: 14px;
		padding: 15px;
	}

	.form {
		height: 100%;
		padding: 40px;
		width: 75%;
	}

	.form-header > .h1-text {
		font-size: 30px;
	}

	.form-header > .p-text {
		font-size: 12px;
	}
}

@media screen and (max-width: 430px) {
	.confirm-btn {
		width: 95% !important;
	}

	.field > .password-field input {
		width: 100% !important;
	}

	.field > .password-field input::placeholder {
		font-family: Poppins, sans-serif;
		font-size: 13px;
	}

	.form {
		height: 80%;
		padding: 25px !important;
		width: 90% !important;
	}

	.form-footer {
		align-items: center;
		flex-direction: column;
		padding: 10px 0;
	}

	.form-header > .h1-text {
		font-size: 30px;
	}

	.form-header > .p-text {
		font-size: 12px !important;
	}

	.popup-message {
		font-size: 10px;
		width: -webkit-fill-available;
	}
}

@media screen and (max-width: 768px) {
	#passwordChangeForm {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.confirm-btn {
		width: 95% !important;
	}

	.field > .password-field input {
		width: 100% !important;
	}

	.field > .password-field input::placeholder {
		font-family: Poppins, sans-serif;
		font-size: 13px;
	}

	.form {
		height: 80%;
		padding: 25px !important;
		width: 79% !important;
	}

	.form > .form-body {
		gap: 27px;
		width: 100%;
	}

	.form-footer {
		align-items: center;
		flex-direction: column;
		padding: 10px 0;
	}

	.form-header > .h1-text {
		font-size: 34px;
	}

	.form-header > .p-text {
		font-size: 12px !important;
	}

	.popup-message {
		align-items: center;
		background: #1a0037;
		border-radius: 8px;
		border: 1px solid #a45cf6;
		bottom: 20px;
		box-shadow: 0 4px 6px rgba(0,0,0,0.1);
		color: #fff;
		display: none;
		font-family: "Poppins", sans-serif;
		font-size: 11px;
		justify-content: space-around;
		padding: 5px;
		position: fixed;
		right: 20px;
		transition: 1s ease-in-out;
		width: 60%;
	}
}