@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
	background: radial-gradient( 325.78% 172.71% at 109.69% 123.93%, rgb(32,22,84) 1.34%, rgb(18,7,71) 100% ), radial-gradient( 325.78% 172.71% at 109.69% 123.93%, rgb(8,4,28) 1.34%, rgb(0,0,0) 100% );
	height: 100vh;
	overflow-x: hidden;
}

html.transition, html.transition *, html.transition *:after, html.transition *:before {
	transition-delay: 0 !important;
	transition: cubic-bezier(0.68,-0.55,0.27,01.55) 420ms !important;
}

input:checked + label {
	background: linear-gradient(to right,#9747ff,#260fb8);
}

input:checked + label:after {
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	box-shadow: 0px 20px 100px 0px rgba(0,0,0,0.25);
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.notification-setting input[type=checkbox] {
	height: 0;
	visibility: hidden;
	width: 0;
}

label {
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	align-items: center;
	border-radius: 100px;
	border: 1px solid #fff;
	cursor: pointer;
	display: flex;
	height: 32px;
	justify-content: center;
	position: relative;
	text-indent: -9999px;
	width: 55px;
}

label:after {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fff;
	border-radius: 50%;
	content: '';
	height: 20px;
	left: 4px;
	position: absolute;
	top: 5px;
	transition: cubic-bezier(0.68,-0.55,0.27,01.55) 320ms;
	width: 20px;
}

.divisier {
	background-color: #fff;
	border-radius: 3px;
	height: 35vh;
	width: 1.5px;
}

.form {
	align-items: center;
	backdrop-filter: blur(6px);
	background: rgba(73,73,73,0.12);
	border-radius: 16px;
	border: 0.5px solid rgb(255,255,255);
	box-shadow: rgba(0,0,0,0.25) 0px 20px 100px 0px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 35px;
	height: 100%;
	padding: 40px;
	width: 1081px;
}

.form > .form-header {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-body {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.form-body > .left-block {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	width: 45%;
}

.form-body > .right-block {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	width: 45%;
}

.form-header > .h1-text {
	color: rgb(255,255,255);
	font-family: Poppins, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	text-transform: capitalize;
}

.form-header > .p-text {
	color: rgb(185 180 180);
	font-family: Poppins, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	text-transform: capitalize;
}

.go_back {
	color: white;
	display: flex;
	flex-direction: row;
	font-size: large;
	gap: 10px;
	text-decoration: solid underline white 1px;
	width: 100%;
}

.go_back:hover {
	color: lightgrey;
}

.left-block > .h1-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 10%;
	text-transform: capitalize;
}

.main {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.notification-setting {
	align-items: flex-start;
	display: inline-flex;
	gap: 4px;
	justify-content: space-between;
	width: 90%;
}

.notification-setting > .p-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-transform: capitalize;
}

.right-block > .h1-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 10%;
	text-transform: capitalize;
}

@media screen and ( max-width: 375px) {
	label {
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		align-items: center;
		border-radius: 100px;
		border: 1px solid #fff;
		cursor: pointer;
		display: flex;
		height: 25px;
		justify-content: center;
		position: relative;
		text-indent: -9999px;
		width: 50px;
	}

	label:after {
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		background: #fff;
		border-radius: 50%;
		content: '';
		height: 15px;
		left: 4px;
		position: absolute;
		top: 4px;
		transition: cubic-bezier(0.68,-0.55,0.27,01.55) 320ms;
		width: 15px;
	}

	.form {
		padding: 20px 20px;
	}

	.form > .form-header {
		gap: 15px;
	}

	.form-header > .h1-text {
		font-size: 24px;
	}

	.form-header > .p-text {
		font-size: 11px;
	}

	.left-block > .h1-text {
		font-size: 18px;
	}

	.notification-setting {
		width: 100%;
	}

	.notification-setting > .p-text {
		font-size: 12px;
	}

	.right-block > .h1-text {
		font-size: 18px;
	}
}

@media screen and (max-width: 1024px) {
	.divisier {
	}

	.form {
		width: 90%;
	}

	.form-body {
		width: 97%;
	}

	.main {
		display: flex;
		flex-direction: column;
		padding: 15px 0px;
		width: 100%;
	}

	.notification-setting {
		min-width: 100% !important;
	}

	.notification-setting > .p-text {
		font-size: 14px;
	}
}

@media screen and (max-width: 1440px) {
	.form {
		width: 90%;
	}

	.form-header > .h1-text {
		font-size: 32px;
	}

	.form-header > .p-text {
		font-size: 14px;
		width: 95%;
	}

	.left-block > .h1-text {
		font-size: 22px;
		margin-bottom: 8%;
	}

	.notification-setting {
		width: 80%;
	}

	.notification-setting > .p-text {
		color: #fff;
		font-family: "Poppins", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		text-transform: capitalize;
	}

	.right-block > .h1-text {
		font-size: 22px;
		margin-bottom: 8%;
	}
}

@media screen and (max-width: 430px) {
	.form {
		padding: 20px;
		width: 100%;
	}

	.form > .form-header {
		gap: 20px;
	}

	.form-header > .h1-text {
		font-size: 28px;
	}

	.form-header > .p-text {
		font-size: 12px;
	}

	.left-block > .h1-text {
		font-size: 20px;
	}

	.main {
		display: flex;
		flex-direction: column;
	}

	.notification-setting {
		width: 100%;
	}

	.notification-setting > .p-text {
		font-size: 14px;
	}

	.right-block > .h1-text {
		font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	body {
		background: radial-gradient(325.78% 172.71% at 109.69% 123.93%, rgb(32,22,84) 1.34%, rgb(18,7,71) 100%), radial-gradient(325.78% 172.71% at 109.69% 123.93%, rgb(8,4,28) 1.34%, rgb(0,0,0) 100%);
		height: 107vh;
		overflow-x: hidden;
	}

	.divisier {
		background-color: #fff;
		border-radius: 3px;
		height: 0.5px;
		width: 100%;
	}

	.form {
		max-width: 90%;
	}

	.form-body {
		flex-direction: column;
		gap: 35px;
		width: 100%;
	}

	.form-body > .left-block {
		width: 100%;
	}

	.form-body > .right-block {
		width: 100%;
	}

	.left-block > .h1-text {
		margin-bottom: 3% !important;
	}

	.notification-setting {
		width: 100% !important;
	}

	.notification-setting > .p-text {
		font-size: 16px;
	}

	.right-block > .h1-text {
		margin-bottom: 3% !important;
	}
}