<hr>
<input type="hidden" name="actionSubmit" id="actionSubmit" value="1">
<div class="form-floating mb-3">
    <button class="btn btn-success col-3" onclick="submitForm(1);">
        Save
    </button>
</div>

<div class="form-floating mb-3">
    <button class="btn btn-info col-3" onclick="submitForm(2);">
        Save and add another
    </button>
</div>

<div class="form-floating mb-3">
    <button class="btn btn-info col-3" onclick="submitForm(3);">
        Save and continue editing
    </button>
</div>